<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title th:text="#{label.mastDataTitle}"></title>
</head>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
			<script type="text/javascript">
	
var edit =[[${edit}]];
	
	if(edit === true){
	
		var path = window.location.pathname;
		path = path.replace(/\/$/, "");
		path = decodeURIComponent(path);
		var query = path.split('/');
		$('.sidebar-menu').find('a[href*="/system/masterdata"]').addClass('active');
	
	} 
	
	</script>
	<style type="text/css">
	
	textarea { resize: none; }
	
	</style>
		<section class="content-header">
		
		<div class = "breadcontainer">
				<ul class="breadcrumb">
				<li><a th:href="@{/master/dashboard}"><i class="fa fa-home"></i></a></li>
					<li>System Configuration</li>
					<li><a th:href="@{/system/masterdata}">Master Data</a></li>
					<li>Edit Master Data</li>
				</ul>
			</div>
			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>
		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.mastDataEdit_caption}"></h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="well">
				<form role="form" th:action="@{/system/updatemasterdata}"
					class="masterdataform" th:object="${masterobj}" method="post">
					<div class="row">
						<div class="col-md-2" style="display:none">
							<label>ID</label><span style="color: red">*</span>
						</div>
						<div class="col-md-4" style="display:none">
							<div class="form-group">
								<input readonly="true" type="number" class="form-control"
									th:field="*{mastDataId}" />
							</div>
						</div> 
						<div class="col-md-2">
							<label th:text="#{label.codeType_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" class="form-control" name="codetype"
									th:field="*{codeType}" maxlength="45" required="true"
									placeholder="Max: 45 Characters" />
							</div>
						</div>
						<div class="col-md-2">
							<label th:text="#{label.codeValue_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<textarea type="text" class="form-control" name="codevalue"
									maxlength="255" required="true" th:field="*{codeValue}"
									placeholder="Max: 255 Characters"></textarea>
							</div>
						</div>
						<div class="col-md-2">
							<label th:text="#{label.codeDesc_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<textarea maxlength="255" required="true" type="text"
									th:field="*{codeDesc}" class="form-control"
									name="codedescription" placeholder="Max: 255 Characters"></textarea>
							</div>
						</div>
						<div class="col-md-2">
							<label th:text="#{label.sysName_caption}"></label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" maxlength="10" class="form-control"
									name="systemdescription" th:field="*{sysName}"
									placeholder="Example: NTPO (Max: 10 Characters)" />
							</div>
						</div>
						<div class="col-md-2">
							<label th:text="#{label.status}"></label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select th:field="*{isActive}" required="true"
									class="form-control" name="status">
									<option th:value="Active">Active</option>
									<option th:value="InActive">InActive</option>
								</select>
							</div>
						</div>

						<div th:if="${createdby==null}" class="col-md-2">
							<label>Created By</label>
						</div>
						<div th:if="${createdby==null}" class="col-md-4">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdby}"
									class="form-control" />

							</div>
						</div>

						<div th:if="${createdon==null}" class="col-md-2">
							<label>Created On</label>
						</div>
						<div th:if="${createdon==null}" class="col-md-4">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdon}"
									class="form-control" />
							</div>
						</div>

						<div th:if="${updatedby==null}" class="col-md-2">
							<label>Updated By</label>
						</div>
						<div th:if="${updatedby==null}" class="col-md-4">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{updatedby}"
									class="form-control" />
							</div>
						</div>



						<div th:if="${updatedon==null}" class="col-md-2">
							<label>Updated On</label>
						</div>
						<div th:if="${updatedon==null}" class="col-md-4">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{updatedon}"
									class="form-control" />
							</div>
						</div>


						<div th:if="${deactivatedBy==null}" class="col-md-2">
							<label>Deactivated By</label>
						</div>
						<div th:if="${deactivatedBy==null}" class="col-md-4">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{deactivatedBy}"
									class="form-control" />
							</div>
						</div>


						<div th:if="${deactivatedOn==null}" class="col-md-2">
							<label>Deactivated On</label>
						</div>
						<div th:if="${deactivatedOn==null}" class="col-md-4">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{deactivatedOn}"
									class="form-control" />

							</div>
						</div>


						<div th:if="${reactivatedBy==null}" class="col-md-2">
							<label>Reactivated By</label>
						</div>
						<div th:if="${reactivatedBy==null}" class="col-md-4">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{reactivatedBy}"
									class="form-control" />
							</div>
						</div>

						<div th:if="${reactivatedOn==null}" class="col-md-2">
							<label>Reactivated On</label>
						</div>
						<div th:if="${reactivatedOn==null}" class="col-md-4">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{reactivatedOn}"
									class="form-control" />
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-2">
							<span></span>
						</div>
						<div class="col-md-4">
							<button type="submit" class="btn btn-primary"
								th:text="#{label.update}"></button>
								
													<a style="line-height: 2 !important;"
															th:href="@{/system/masterdata}"><i
															class="btn btn-default" th:text="#{label.back}"></i></a>
															
							
						</div>
					</div>
				</form>
			</div>
			<br />
		</div>
	</section>
	<!-- /.content -->
</body>
</html>