<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
	<title th:text="#{label.dashboardInfo_caption}"></title>
	<meta charset="utf-8" />
	<link th:href="@{/assets/dist/css/cards.css}" rel="stylesheet">
</head>
<body>
	<div layout:fragment="pageHeader" style="background: #b0b1b3">
		<section class="content-header"></section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info" style="margin-top: 50px;">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.dashboardInfo_caption}"></h3>
					</div>
				</div>
			</div>
			<div th:if="${roleId == 1}" class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-user-secret"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p >Admin Users</p>
									
									<span th:text="${totalAdminUsers}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
											<span th:text="${totalActiveAdminUsers}"></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${totalInactiveAdminUsers}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa  fa-user"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>PO Users</p>
										<span th:text="${totalPoUsers}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
											<span th:text="${totalActivePoUsers}"></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${totalInActivePoUsers}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-history"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Logs</p>
										<span th:text="${totalLogs}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-chck"></i>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-bn"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-wrench"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Audit Trail</p>
										<span th:text="${totalAudit}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-chck"></i>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-n"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>
						
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-industry"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Company</p>
										<span th:text="${totalcompany}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
											<span th:text="${totalactivecompany}"></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${totalinactivecompany}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-building"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Store</p>
										<span th:text="${totalstore}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
											<span th:text="${totalactivestore}"></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${totalinactivestore}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-building-o"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Department</p>
										<span th:text="${totaldept}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
											<span th:text="${totalactivedept}"></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${totalinactivedept}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-money"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Profit Center</p>
										<span th:text="${totalpc}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
											<span th:text="${totalactivepc}"></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${totalinactivepc}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>
			
			<div class="row">
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa  fa-gg-circle"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>GST</p>
										<span th:text="${totalgst}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
											<span th:text="${totalactivegst}"></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${totalinactivegst}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-opencart"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Purchase Requisition</p>
										<span th:text="${totalpr}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
											<span th:text="${totalactive}"></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${totalinactivepr}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-shopping-cart"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Order Category</p>
										<span th:text="${totalordercat}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
											<span th:text="${totalactiveordercat}"></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${totalinactiveordercat}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-truck"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Order Sub Category</p>
										<span th:text="${totalordersubcat}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
											<span th:text="${totalactiveordersubcat}"></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${totalinactiveordersubcat}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-calendar"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Scheduler</p>
										<span th:text="${totalsched}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-chck"></i>
											<span ></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-bn"></i> 
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-group"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Employee</p>
										<span th:text="${totalemp}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
										<span th:text="${totalempActive}"></span>	
											
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${totalempInActive}"></span>	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-tasks"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Job Master</p>
										<span th:text="${totaljobmast}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
											<span th:text="${totalactivejobmast}"></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${totalinactivejobmast}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa  fa-database"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Master Data</p>
										<span th:text="${totalmastdata}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
											<span th:text="${totalactivemastdata}"></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${totalinactivemastdata}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		
			
			
			
			<div class="row">
				
				
				
				
				
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa  fa-cog"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>System Parameter</p>
										<span th:text="${totalsysparam}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
											<span th:text="${totalactivesysparam}"></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${totalinactivesysparam}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		
		
		<div th:if="${roleId != 1}" class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-history"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Logs</p>
										<span th:text="${totalLogs}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-chck"></i>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-bn"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div th:if="${roleId != 1}" class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-wrench"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Audit Trail</p>
										<span th:text="${totalAudit}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-chck"></i>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-n"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>				
		
		
			</div>	
				
			
			
			
			
				
		</div>
	</section>

</body>
</html>
