<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title th:text="#{label.ordSubCat_caption}"></title>
		<style type="text/css">	
	textarea { resize: none; }
	</style>
</head>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
		<script type="text/javascript">
	
var edit =[[${edit}]];
	
	if(edit === true){
	
		var path = window.location.pathname;
		path = path.replace(/\/$/, "");
		path = decodeURIComponent(path);
		var query = path.split('/');
		$('.sidebar-menu').find('a[href*="' + query[2].slice(4,12) + '"]').addClass('active');
	
	} 
	
	</script>
		<section class="content-header">
		
			<div class = "breadcontainer">
				<ul class="breadcrumb">
				<li><a th:href="@{/master/dashboard}"><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li><a th:href="@{/master/ordersubcategory}">Order Sub Category</a></li>
					<li>Edit Order Sub Category</li>
				</ul>
			</div>
			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>
		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.ordSubCatInfoUpdate_caption}"></h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="well">
				<form role="form" th:action="@{/master/updateordersubcategory}"
					class="ordersubcategoryform" th:object="${ordersubobj}"
					method="post">
					<div class="row">
						<div class="col-md-2">
							<label th:text="#{label.ordSubCCode_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input readonly="true" required="true" maxlength="15" th:field="*{ordSubCCode}"
									type="text" class="form-control" name="ordSubCCode"
									placeholder="Example: Store-Repair (MAX:15 Characters)" />
							</div>
						</div>
				

						<div class="col-md-2">
							<label th:text="#{label.ordCatCode_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" required="true" 
									th:field="*{oderCategory}">
									<option value="">Select</option>
									<option th:each="dr : ${orderlist}" th:value="${dr}"
										th:text="${dr}"></option>
								</select>
							</div>
						</div>


						<div class="col-md-2">
							<label th:text="#{label.ordSubCDesc_caption}"></label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<textarea th:field="*{ordSubCDesc}" maxlength="255" type="text"
									class="form-control" name="ordSubCDesc"
									placeholder="Example: Used for Store renovation (Max: 255 Characters)"></textarea>
							</div>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.ordSubCAbbrDesc_caption}"></label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input th:field="*{ordSubCAbbrDesc}" type="text" maxlength="30"
									class="form-control" name="ordSubCAbbrDesc"
									placeholder="Example: Purchase for Store (MAX:30 Characters)" />
							</div>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.status}"></label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select th:field="*{isActive}" required="true"
									class="form-control" name="status">
									<option th:value="Active">Active</option>
									<option th:value="InActive">InActive</option>
								</select>
							</div>
						</div>


						<div class="col-md-2">
							<label>Created By</label>
						</div>
						<div class="col-md-4" th:if="${createdBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdBy}"
									class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Created On</label>
						</div>
						<div class="col-md-4" th:if="${createdOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdOn}"
									class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Updated By</label>
						</div>
						<div class="col-md-4" th:if="${lastModifiedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{lastModifiedBy}"
									class="form-control" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Updated On</label>
						</div>
						<div class="col-md-4" th:if="${lastModifiedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{lastModifiedOn}"
									class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Deactivated By</label>
						</div>
						<div class="col-md-4" th:if="${deactivatedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{deactivatedBy}" class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Deactivated On</label>
						</div>
						<div class="col-md-4" th:if="${deactivatedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{deactivatedOn}" class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Reactivated By</label>
						</div>
						<div class="col-md-4" th:if="${reactivatedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{reactivatedBy}" class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Reactivated On</label>
						</div>
						<div class="col-md-4" th:if="${reactivatedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{reactivatedOn}" class="form-control" />
							</div>
						</div>



					<div class="row">
						<div class="col-md-3">
							<span></span>
						</div>
						<div class="col-md-4">
							<button type="submit" class="btn btn-primary"
								th:text="#{label.ordUpdate}"></button>
							<a style="line-height: 2 !important;"
															th:href="@{/master/ordersubcategory}"><i
															class="btn btn-default" th:text="#{label.back}"></i></a>
						</div>
					</div>
				 </div>
				</form>
			</div>
		</div>
	</section>
	<!-- /.content -->
</body>
</html>