<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Scheduler</title>
</head>
<body>
		<div layout:fragment="pageHeader" style="background:#b0b1b3">
			<script type="text/javascript">
	
	 	var edit =[[${edit}]];
		
		if(edit === true){
		
			var path = window.location.pathname;
			
			path = path.replace(/\/$/, "");
			var query = path.split('/');
			path = decodeURIComponent(path);
			console.log(query[2]);
			$('.sidebar-menu').find('a[href*="' + query[2].slice(8) + '"]').addClass('active');
		
		} 
	</script>
		<section class="content-header">
		
		<div class = "breadcontainer">
				<ul class="breadcrumb">
				<li><a th:href="@{/master/dashboard}"><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li><a th:href="@{/master/scheduler}">Scheduler</a></li>
					<li>View Scheduled Task</li>
				</ul>
			</div>
			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>
		</section>
	</div>
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Scheduled Task Information</h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="well">
			<form role="form" th:action="@{/master/updatescheduler}"
				class="schedulerform" id="schedulerform" th:object="${schedulerobj}" method="post">
				
								<div class="row">
					<div class="col-md-2">
						<label>Scheduler ID</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{schedulerId}" />
						</div>
					</div>

					<div class="col-md-2">
						<label>Task</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{task}" />
						</div>
					</div>
				</div>
				
								<div class="row">
					<div class="col-md-2">
						<label>Status</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{status}" />
						</div>
					</div>

					<div class="col-md-2">
						<label>Next Scheduled Time</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" id = "nextschedule" readonly="true"
								th:field="*{endDate}" />
						</div>
					</div>
				</div>
			
			
			
								<div class="row">
					<div class="col-md-2">
						<label>Remarks</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{status}" />
						</div>
					</div>

					<div class="col-md-2">
						<label>Job Description</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" 
								th:field="*{upload}" />
						</div>
					</div>
				</div>
			
			<div class="row">
					<div class="col-md-2">
						<label>Cron Expression</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input id="example2-result" type="text" class="form-control" readonly="true"
								th:field="*{cronfrequency_amount}" />
						</div>
					</div>

					<div class="col-md-2">
						<label>Cron Details</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" id="cronDetails" readonly="true"
								th:field="*{cronfrequency_occurrence}" />
						</div>
					</div>
				</div>
								
				
								<div class="row">
					<div class="col-md-2">
						<label>Created By</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{createdBy}" />
						</div>
					</div>

					<div class="col-md-2">
						<label>Created On</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{createdOn}" />
						</div>
					</div>
				</div>
				
								<div class="row">
					<div class="col-md-2">
						<label>Updated By</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{deactivatedBy}" />
						</div>
					</div>

					<div class="col-md-2">
						<label>Updated On</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{deactivatedOn}" />
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-2">
						<label>IsActive</label>
					</div>

						<div class="col-md-4">
							<div class="form-group">
								<select th:field="*{isActive}" required="true"
									class="form-control" name="status">
									<option th:value="Active">Active</option>
									<option th:value="InActive">InActive</option>
								</select>
							</div>
						</div>
					
				</div>
			
				<div class="row">
					<div class="col-md-2">
						<span></span>
					</div>
					<div class="col-md-4">
									
										
								<a id="update" class="btn btn-default" style="line-height: 2 !important;" ><i
									class="fa fa-plus">Update</i></a> 
									
									
								<a class="btn btn-default" data-toggle="modal" data-target="#test" style="line-height: 2 !important;" ><i
									class="fa fa-plus">Generate Cron</i></a> 
									
										
									<a style="line-height: 2 !important;" th:href="@{/master/triggerNowScheduler/{schid}(schid=${schid})}" class="btn btn-default"><i
									class="fa fa-play">Trigger Now</i></a>
									
									
									<a style="line-height: 2 !important;" th:href="@{/master/scheduler}" class="btn btn-default"><i
									class="fa fa-angle-left"> Back </i></a>
									
					</div>
					
 	<script type="text/javascript">	

		jQuery(document).ready(function($) {

             $('#example5-btn').click(function(){
                 var current=$('#example2-cron').data('cronBuilder').getExpression();
                document.getElementById("example2-result").value=current;
                populateCronDetails();
                $('#test').modal('hide');
             })

             $('#cancel').click(function(){
                $('#test').modal('hide');
             })

             $('#update').click(function(){

            	 document.getElementById('schedulerform').submit();
 
             })
	
		});
		
		function populateCronDetails() {

			var o = document.getElementById('example2-result').value;
			
			$.ajax({
				type : "GET",
				url : "/master/populateCronDetails?cron=" + o,
				success : function(data) {
					console.log("SUCCESS: ", data);
					$("#cronDetails").empty();

						document.getElementById("cronDetails").value = data;

				},
				error : function(e) {
					console.log("ERROR: ", e);
				},
				done : function(e) {
					console.log("DONE");
				}
			});
		}
	</script>
					
					
					<div id="test" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h4 class="modal-title">
						<h3 class="box-title"> Generate Cron</h3>
					</h4>
				</div>
				<span id="dialogmessage" style="color: red;"></span>
			
				<div class="row">
				
					<div class="col-md-10">
						<div id="example2-cron" class="cron-builder"></div>
						<button id="example5-btn" type="button" class="btn btn-success">Generate
							Cron Expression</button>
							
						<button id="cancel" type="button" class="btn btn-dafault">Cancel</button>	
					</div>
						
				</div>
				
				<div class="row">
					<h3 class="box-title"></h3>
				</div>
			
			</div>
		</div>
	</div>
					
					
				</div>
			</form>
			</div>
		</div>
		
		
			
	
	
	</section>
	
	
	<!-- /.content -->
</body>
</html>