<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title th:text="#{label.deptTitle_caption}"></title>
</head>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
		<script type="text/javascript">
	
	 	var edit =[[${edit}]];
		
		if(edit === true){
		
			var path = window.location.pathname;
			
			path = path.replace(/\/$/, "");
			var query = path.split('/');
			path = decodeURIComponent(path);
			$('.sidebar-menu').find('a[href*="' + query[2].slice(4) + '"]').addClass('active');
		
		} 
	</script>
		<section class="content-header">
		
		
			<div class = "breadcontainer">
				<ul class="breadcrumb">
				<li><a th:href="@{/master/dashboard}"><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li><a th:href="@{/master/department}">Department</a></li>
					<li>Edit Department</li>
				</ul>
			</div>
			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>
		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.deptEditInfo_caption}"></h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="well">
				<form role="form" th:action="@{/master/updatedepartment}"
					class="depatform" th:object="${deptobj}" method="post">
					<div class="row">
						<div class="col-md-2">
							<label th:text="#{label.deptCode_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input readonly="true" th:field="*{deptCode}" type="text"
									class="form-control" name="deptCode" placeholder="Example: 014" />
							</div>
						</div>


						<div class="col-md-2">
							<label th:text="#{label.deptName_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input required="true" maxlength="30" th:field="*{deptName}" type="text"
									class="form-control" name="deptName"
									placeholder="Example: Parkson Klang Parade" />
							</div>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.deptID_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input required="true" maxlength="2" th:field="*{deptAbbrName}" type="text"
									class="form-control" name="deptAbbrName"
									placeholder="Example: 26" />
							</div>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.status}"></label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select th:field="*{isActive}" required="true"
									class="form-control" name="status">
									<option th:value="Active">Active</option>
									<option th:value="InActive">InActive</option>
								</select>
							</div>
						</div>

						<div class="col-md-2">
							<label>Created By</label>
						</div>
						<div class="col-md-4" th:if="${createdBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdBy}"
									class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Created On</label>
						</div>
						<div class="col-md-4" th:if="${createdOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdOn}"
									class="form-control" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Updated By</label>
						</div>
						<div class="col-md-4" th:if="${lastModifiedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{lastModifiedBy}"
									class="form-control" />
							</div>

						</div>
						
							<div class="col-md-2">
								<label>Updated On</label>
							</div>
							<div class="col-md-4" th:if="${lastModifiedOn==null}">
								<div class="form-group">
									<input type="text" readonly="true" th:field="*{lastModifiedOn}"
										class="form-control" />
								</div>
							</div>


							<div class="col-md-2">
								<label>Deactivated By</label>
							</div>
							<div class="col-md-4" th:if="${deactivatedBy==null}">
								<div class="form-group">
									<input type="text" readonly="true" value=""
										th:field="*{deactivatedBy}" class="form-control" />
								</div>
							</div>


							<div class="col-md-2">
								<label>Deactivated On</label>
							</div>
							<div class="col-md-4" th:if="${deactivatedOn==null}">
								<div class="form-group">
									<input type="text" readonly="true" value=""
										th:field="*{deactivatedOn}" class="form-control" />
								</div>
							</div>

							<div class="col-md-2">
								<label>Reactivated By</label>
							</div>
							<div class="col-md-4" th:if="${reactivatedBy==null}">
								<div class="form-group">
									<input type="text" readonly="true" value=""
										th:field="*{reactivatedBy}" class="form-control" />
								</div>
							</div>



							<div class="col-md-2">
								<label>Reactivated On</label>
							</div>
							<div class="col-md-4" th:if="${reactivatedOn==null}">
								<div class="form-group">
									<input type="text" readonly="true" value=""
										th:field="*{reactivatedOn}" class="form-control" />
								</div>
							</div>



							<div class="col-md-4">
								<span></span>
							</div>
							<div class="col-md-2" align="right">
								<button type="submit" class="btn btn-primary"
									th:text="#{label.deptUpdate}"></button>
								<a style="line-height: 2 !important;"
									th:href="@{/master/department}"><i class="btn btn-default"
									th:text="#{label.back}"></i></a>
							</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!-- /.content -->
</body>
</html>