<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title th:text="#{label.ordCatTitle_caption}"></title>

</head>
	<style type="text/css">
	
	textarea { resize: none; }
	
	</style>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
	

		<script type="text/javascript" th:inline="javascript">
	var order_auth_file =[[${order_auth_file}]];
	var order_auth_name =[[${order_auth_name}]];
	var missed =[[${missed}]];
	var File_Auth_Grid_ExtensionType =[[${File_Auth_Grid_ExtensionType}]];
	var deleteAuth = false;
	var browsAuth = false;
	var edit =[[${edit}]];
	
	if(edit === true){
	
		var path = window.location.pathname;
		path = path.replace(/\/$/, "");
		path = decodeURIComponent(path);
		var query = path.split('/');
		$('.sidebar-menu').find('a[href*="' + query[2].slice(4,12) + '"]').addClass('active');
	
	} 
	
	
	
	 $(document).ready (function(){
		  
		  var ordcatcodehidden = document.getElementById("authgrid_hidden").value;
		  var ordcatcode = document.getElementById("ordCatCode").value;
		  var successset = false;
		  
		  if(missed === false){
			  $("#order_auth_grid").fileinput('clear');
			document.getElementById("missed").innerHTML = "Authentication Grid File has removed from Directory! Please Select File.";
			$(":submit").attr("disabled", true);
			  $('#order_auth_grid').on('change', function(event) {
				  	missed = true;
				   
				  	 document.getElementById("missed").style.display = "none";
					  $(":submit").attr("disabled", false);
				    
				});
		  }else{
			  document.getElementById("missed").style.display = "none";
			  $(":submit").attr("disabled", false);
			  
		  }
		  
		 
		
		  
		  
		  $( ":submit" ).click(function() {
		
			
			  $.ajax({
					type : "GET",
					url : "/master/order/setauthGrid?authgrid="+ordcatcodehidden+ "&ordcatcode="+ordcatcode,
					success : function(data) {
						console.log("SUCCESS: ", data);
						
						if(data.authorizationGrid !=null){
							successset = true;
						}
					 
					},
					error : function(e) {
						successset=false;
						console.log("ERROR: ", e);
					},
					done : function(e) {
					
						console.log("DONE");
					} 
				});
			
			 
		
		  }); 
		 
	
		  
		
		  $('#order_auth_grid').on('filecleared', function(event) {
			 
			 	deleteAuth = true;
			 	ordcatcodehidden = "";
			 	document.getElementById("validate").innerHTML = "Please Select Authentication Grid File!";
			 	$(":submit").attr("disabled", true);
			 
			 	
			});
		  
		  $('#order_auth_grid').on('change', function(event) {
			  missed = true;
			    browsAuth = true;
			    document.getElementById("validate").style.display = "none";
			    $(":submit").attr("disabled", false);
			    
			});
		
		  
		
		  
		  
	    
		  if(order_auth_name!=null){
	 if(File_Auth_Grid_ExtensionType != null){
	    	
		
	    	if(File_Auth_Grid_ExtensionType.valueOf() == "jpeg".valueOf() || File_Auth_Grid_ExtensionType.valueOf() == "jpg".valueOf() || File_Auth_Grid_ExtensionType.valueOf() == "png".valueOf() ){
	    		$("#order_auth_grid").fileinput({
	    			'theme' : 'explorer-fa',
	    			'uploadUrl' : '#',
	    			initialCaption: order_auth_name,
	    			overwriteInitial : true,
	    			initialPreviewAsData : true,
	    			initialPreviewFileType: 'image',
	    			allowedFileExtensions : [ "png", "jpg", "jpeg", "pdf"],
	    			  initialPreview: ["/api/image?filepath="+order_auth_file],
	    			  initialPreviewConfig: [
	                                         {
	                                        
	                                         caption: order_auth_name,
	                                         key: 1
	                                         }
	                                         
	                                     ],
	                   fileActionSettings : {
	    	           
	    	            dragIcon: '<i class="fa fa-bars invisible"></i>',
	    	            dragClass: 'text-info invisible',
	    	            removeClass: 'btn btn-danger btn-xs invisible',
	    	            removeIcon: '<i class="fa fa-trash-o invisible"></i>'
	    	            
	    	          
	    	        
	    	        } 
	    		});
	    	} 
	    	if(File_Auth_Grid_ExtensionType.valueOf() == "pdf".valueOf()){
	    		$("#order_auth_grid").fileinput({
	    			'theme' : 'explorer-fa',
	    			'uploadUrl' : '#',
	    			 initialCaption: order_auth_name,
	    			overwriteInitial : true,
	    			initialPreviewAsData : true,
	    			initialPreviewFileType: 'pdf',
	    			allowedFileExtensions : [ "png", "jpg", "jpeg", "pdf"],
	    			  initialPreview: ["/api/pdf?filepath="+order_auth_file],
	    			  initialPreviewConfig: [
	                                         {
	                                        
	                                         caption: order_auth_name,
	                                         key: 1
	                                         }
	                                         
	                                     ],
	                   fileActionSettings : {
	    	           
	    	            dragIcon: '<i class="fa fa-bars invisible"></i>',
	    	            dragClass: 'text-info invisible',
	    	            removeClass: 'btn btn-danger btn-xs invisible',
	    	            removeIcon: '<i class="fa fa-trash-o invisible"></i>'
	    	            
	    	          
	    	        
	    	        } 
	    		});
	    		
	    	}
	    } else {
	    	$("#order_auth_grid").fileinput({
				'theme' : 'explorer-fa',
				'uploadUrl' : '#',
				 initialCaption: order_auth_name,
				overwriteInitial : true,
				initialPreviewAsData : true,
				initialPreviewFileType: 'image',
				allowedFileExtensions : [ "png", "jpg", "jpeg", "pdf"],
				  initialPreview: ["/api/image?filepath="+order_auth_file],
				  initialPreviewConfig: [
	                                     {
	                                    
	                                     caption: order_auth_name,
	                                     key: 1
	                                     }
	                                     
	                                 ],
	               fileActionSettings : {
		           
		            dragIcon: '<i class="fa fa-bars invisible"></i>',
		            dragClass: 'text-info invisible',
		            removeClass: 'btn btn-danger btn-xs invisible',
		            removeIcon: '<i class="fa fa-trash-o invisible"></i>'
		            
		          
		        
		        } 
			});
	    	
	    }
	 
		  }else{
			  
			  $("#order_auth_grid").fileinput({
					'theme' : 'explorer-fa',
					'uploadUrl' : '#',
					overwriteInitial : true,
					initialPreviewAsData : true,
					initialPreviewFileType: 'image',
					allowedFileExtensions : [ "png", "jpg", "jpeg", "pdf"],
					 fileActionSettings : {
			   	           
			  	            dragIcon: '<i class="fa fa-bars invisible"></i>',
			  	            dragClass: 'text-info invisible',
			  	            removeClass: 'btn btn-danger btn-xs invisible',
			  	            removeIcon: '<i class="fa fa-trash-o invisible"></i>'
			  	        
			  	        } 
					 
				});
		  }
	  });
  </script>


		<section class="content-header">
		
		<div class = "breadcontainer">
				<ul class="breadcrumb">
				<li><a th:href="@{/master/dashboard}"><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li><a th:href="@{/master/ordercategory}">Order Category</a></li>
					<li>Edit Order Category</li>
				</ul>
		</div>
			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>
		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.ordEditList_caption}"></h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="well">
				<form role="form" th:action="@{/master/updateordercategory}"
					enctype="multipart/form-data" class="ordercategoryform"
					th:object="${orderobj}" method="post">
					<div class="row">
						<div class="col-md-2">
							<label th:text="#{label.ordCatCode_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input readonly="true" th:field="*{ordCatCode}" type="text"
									class="form-control" name="ordCatCode" id="ordCatCode"
									placeholder="Example: Requistion-CAPEX-NEW STORE (MAX:70 Characters)" />
							</div>
						</div>
					

						<div class="col-md-2">
							<label th:text="#{label.ordCatDesc_caption}"></label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<textarea th:field="*{ordCatDesc}" maxlength="255" type="text"
									class="form-control" name="ordCatDesc"
									placeholder="Example: ANY ADJUSTMENT MADE"></textarea>
							</div>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.ordCatAbbrDesc_caption}"></label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input th:field="*{ordCatAbbrDesc}" maxlength="30" type="text"
									class="form-control" name="ordCatAbbrDesc"
									placeholder="Example: Purchase of Software (Max: 30 Characters)" />
							</div>
						</div>


						<div class="col-md-2">
							<label th:text="#{label.mf15MPrmast_prTypeCode_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" required="true"
									th:field="*{mf15MPrmast_mf15_prTypeCode}">
									<option value="">Select</option>
									<option th:each="dr : ${purrelist}" th:value="${dr.typeCode}"
										th:text="${dr.typeCode}"></option>
								</select>
							</div>
						</div>
						
						
						<div class="col-md-2">
							<label th:text="#{label.ordCatAuthorizationGrid_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="file" class="form-control" name="authgrid"
									id="order_auth_grid" />
								<p id="validate" style="color: red;"></p>
								
								<input required="true" th:field="*{authgrid_hidden}"
									class="form-control" name="authgrid_hidden"
									id="authgrid_hidden" type="hidden" />
									
									<p id="missed" style="color: red;"></p>
							</div>
						</div>

						
						<div class="row">
						<div class="col-md-2">
							<label th:text="#{label.status}"></label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select th:field="*{isActive}" required="true"
									class="form-control" name="status">
									<option th:value="Active">Active</option>
									<option th:value="InActive">InActive</option>
								</select>
							</div>
						</div>
						
					 </div>

						<div class="col-md-2">
							<label>Created By</label>
						</div>
						<div class="col-md-4" th:if="${createdBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdBy}"
									class="form-control"/>
							</div>
						</div>



						<div class="col-md-2">
							<label>Created On</label>
						</div>
						<div class="col-md-4" th:if="${createdOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdOn}"
									class="form-control"/>
							</div>
						</div>



						<div class="col-md-2">
							<label>Updated By</label>
						</div>
						<div class="col-md-4" th:if="${lastModifiedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{lastModifiedBy}"
									class="form-control" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Updated On</label>
						</div>
						<div class="col-md-4" th:if="${lastModifiedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{lastModifiedOn}"
									class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Deactivated By</label>
						</div>
						<div class="col-md-4" th:if="${deactivatedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{deactivatedBy}" class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Deactivated On</label>
						</div>
						<div class="col-md-4" th:if="${deactivatedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{deactivatedOn}" class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Reactivated By</label>
						</div>
						<div class="col-md-4" th:if="${reactivatedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{reactivatedBy}" class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Reactivated On</label>
						</div>
						<div class="col-md-4" th:if="${reactivatedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{reactivatedOn}" class="form-control" />
							</div>
						</div>




					<div class="row">
						<div class="col-md-4">
							<span></span>
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-primary"
								th:text="#{label.ordUpdate}"></button>
							<a style="line-height: 2 !important;"
								th:href="@{/master/ordercategory}"><i
								class="btn btn-default" th:text="#{label.back}"></i></a>
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>
	</section>
	<!-- /.content -->
</body>
</html>