<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title th:text="#{label.compTitle_caption}"></title>
</head>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
	<script type="text/javascript" th:inline="javascript">
	var company_logo_file =[[${company_logo_file}]];
	var company_letter_file =[[${company_letter_file}]];
	var company_termsp_file =[[${company_termsp_file}]];
	var company_termsl_file =[[${company_termsl_file}]];
	var File_Letter_Head_ExtensionType =[[${File_Letter_Head_ExtensionType}]];
	var missedLogo =[[${missedLogo}]];
	var missedLetter =[[${missedLetter}]];
	var missedTcp =[[${missedTcp}]];
	var missedTcl =[[${missedTcl}]];
	
	var company_logo_name = [[${company_logo_name}]];
	var company_letter_name =[[${company_letter_name}]];
	var company_termsp_name =[[${company_termsp_name}]];
	var company_termsl_name =[[${company_termsl_name}]];
	var deleteLogo = false;
	var deleteLetter = false;
	var deleteTCP = false;
	var deleteTCL = false;
	var edit =[[${edit}]];
	
	if(edit === true){
	
		var path = window.location.pathname;
		
		path = path.replace(/\/$/, "");
		var query = path.split('/');
		path = decodeURIComponent(path);
		$('.sidebar-menu').find('a[href*="' + query[2].slice(4) + '"]').addClass('active');
	
	} 
	
	
  $(document).ready (function(){
	  var compCode = document.getElementById("compCode").value;
	  
	  
	  if(missedLogo === false){
		  $("#company_logo_edit").fileinput('refresh');
		  
		
	  }
	  
	  if(missedLetter === false){
		  $("#company_letter_edit").fileinput('refresh');
		  $('#empty_letter_Modal').modal('show');
			document
			.getElementById("dialogmessage_letter").textContent = "System parameter LOGO_UPLOAD_PATH does not exist.";
		
	  }
	  
	  if(missedTcp === false){
		  $("#company_tcP_edit").fileinput('refresh');
		
	  }
	  
	  if(missedTcl === false){
		  $("#company_tcL_edit").fileinput('refresh');
		
	  }
	  
	  
	  
	
	  $('#company_logo_edit').on('filecleared', function(event) {
		  deleteLogo = true;
			$.ajax({
				type : "GET",
				url : "/master/company/deletecompanyLogo?deleteLogo="+deleteLogo+ "&compCode="+compCode,
				success : function(data) {
					console.log("SUCCESS: ", data);
					if(data!=null){
						
						$('#cmpform').data('bootstrapValidator').updateStatus('compLogofile', 'VALID', null);
					}
				},
				error : function(e) {
					console.log("ERROR: ", e);
				},
				done : function(e) {
					console.log("DONE");
				} 
			});

		  
		 
		});
	  
	  $('#company_letter_edit').on('filecleared', function(event) {
		  deleteLetter = true;
			$.ajax({
				type : "GET",
				url : "/master/company/deletecompanyLetter?deleteLetter="+deleteLetter+ "&compCode="+compCode,
				success : function(data) {
					console.log("SUCCESS: ", data);
					
					if(data!=null){
					$('#cmpform').data('bootstrapValidator').updateStatus('compLetterheadfile', 'VALID', null);
					}
				 
				},
				error : function(e) {
					console.log("ERROR: ", e);
				},
				done : function(e) {
					console.log("DONE");
				} 
			});

		  
		 
		});
	  
	  $('#company_tcP_edit').on('filecleared', function(event) {
		  deleteTCP = true;
			$.ajax({
				type : "GET",
				url : "/master/company/deletecompanytcp?deleteTcp="+deleteTCP+ "&compCode="+compCode,
				success : function(data) {
					console.log("SUCCESS: ", data);
					if(data!=null){
						
				$('#cmpform').data('bootstrapValidator').updateStatus('termsPortraitfile', 'VALID', null);
					}
				 
				},
				error : function(e) {
					console.log("ERROR: ", e);
				},
				done : function(e) {
					console.log("DONE");
				} 
			});

		  
		 
		});
	  
	  $('#company_tcL_edit').on('filecleared', function(event) {
		  deleteTCL = true;
			$.ajax({
				type : "GET",
				url : "/master/company/deletecompanytcl?deleteTcl="+deleteTCL+ "&compCode="+compCode,
				success : function(data) {
					console.log("SUCCESS: ", data);
					
					if(data!=null){
				$('#cmpform').data('bootstrapValidator').updateStatus('termsLandscapefile', 'VALID', null);	
					}
				 
				},
				error : function(e) {
					console.log("ERROR: ", e);
				},
				done : function(e) {
					console.log("DONE");
				} 
			});

		  
		 
		});
	  
	  if(company_logo_name !=null){
    $("#company_logo_edit").fileinput({
              'theme': 'explorer-fa',
              'uploadUrl': '#',
              initialCaption: company_logo_name,
             
              overwriteInitial: true,
              initialPreviewAsData: true,
              allowedFileTypes: ["image"],
              allowedFileExtensions: ["png", "jpg", "jpeg"],
              initialPreview: ["/api/image?filepath="+company_logo_file], 
              initialPreviewConfig: [
                                     {
                                    
                                     caption: company_logo_name,
                                     key: 1
                                     }
                                     
                                 ],
               fileActionSettings : {
	           
	            dragIcon: '<i class="fa fa-bars invisible"></i>',
	            dragClass: 'text-info invisible',
	            removeClass: 'btn btn-danger btn-xs invisible',
	            removeIcon: '<i class="fa fa-trash-o invisible"></i>'
	            
	          
	        
	        } 
	        
          });
	  }else{
		  
		  $("#company_logo_edit").fileinput({
              'theme': 'explorer-fa',
              'uploadUrl': '#',
             
              overwriteInitial: true,
              initialPreviewAsData: true,
              allowedFileTypes: ["image"],
              allowedFileExtensions: ["png", "jpg", "jpeg"],
              initialPreviewFileType: 'image',
              fileActionSettings : {
   	           
  	            dragIcon: '<i class="fa fa-bars invisible"></i>',
  	            dragClass: 'text-info invisible',
  	            removeClass: 'btn btn-danger btn-xs invisible',
  	            removeIcon: '<i class="fa fa-trash-o invisible"></i>'
  	        
  	        } 
            
          });
		  
	  }
    
	  if(company_letter_name !=null){
    if(File_Letter_Head_ExtensionType != null){
    	
    	if(File_Letter_Head_ExtensionType.valueOf() == "jpeg".valueOf() || File_Letter_Head_ExtensionType.valueOf() == "jpg".valueOf() || File_Letter_Head_ExtensionType.valueOf() == "png".valueOf() ){
    		$("#company_letter_edit").fileinput({
    			'theme' : 'explorer-fa',
    			'uploadUrl' : '#',
    			 
    			overwriteInitial : true,
    			initialPreviewAsData : true,
    			initialCaption: company_letter_name,
    			   initialPreviewConfig: [
    	                                     {
    	                                    
    	                                     caption: company_letter_name,
    	                                     key: 1
    	                                     }
    	                                     
    	                                 ],
    	                               
    	                                 fileActionSettings : {
    	                  	           
    	                  	            dragIcon: '<i class="fa fa-bars invisible"></i>',
    	                  	            dragClass: 'text-info invisible',
    	                  	            removeClass: 'btn btn-danger btn-xs invisible',
    	                  	            removeIcon: '<i class="fa fa-trash-o invisible"></i>'
    	                  	        
    	                  	        } ,
    			initialPreviewFileType: 'image',
    			allowedFileExtensions : [ "png", "jpg", "jpeg", "pdf"],
    			  initialPreview: ["/api/image?filepath="+company_letter_file] 
    		});
    	} 
    	if(File_Letter_Head_ExtensionType.valueOf() == "pdf".valueOf()){
    		$("#company_letter_edit").fileinput({
    			'theme' : 'explorer-fa',
    			'uploadUrl' : '#',
    			overwriteInitial : true,
    			initialPreviewAsData : true,
    			initialPreviewFileType: 'pdf',
    			allowedFileExtensions : [ "png", "jpg", "jpeg", "pdf"],
    			  initialPreview: ["/api/pdf?filepath="+company_letter_file],
    			  
                  fileActionSettings : {
   	           
   	            dragIcon: '<i class="fa fa-bars invisible"></i>',
   	            dragClass: 'text-info invisible',
   	            removeClass: 'btn btn-danger btn-xs invisible',
   	            removeIcon: '<i class="fa fa-trash-o invisible"></i>'
   	        
   	        } 
    		});
    		
    	}
    } else {
    	$("#company_letter_edit").fileinput({
			'theme' : 'explorer-fa',
			'uploadUrl' : '#',
			overwriteInitial : true,
			initialPreviewAsData : true,
			initialPreviewFileType: 'image',
			allowedFileExtensions : [ "png", "jpg", "jpeg", "pdf"],
			  initialPreview: ["/api/image?filepath="+company_letter_file],
    	fileActionSettings : {
	   	           
	   	            dragIcon: '<i class="fa fa-bars invisible"></i>',
	   	            dragClass: 'text-info invisible',
	   	            removeClass: 'btn btn-danger btn-xs invisible',
	   	            removeIcon: '<i class="fa fa-trash-o invisible"></i>'
	   	        
	   	        } 
		});
    	
    }
	  }else{
		  
			$("#company_letter_edit").fileinput({
				'theme' : 'explorer-fa',
				'uploadUrl' : '#',
				overwriteInitial : true,
				initialPreviewAsData : true,
				initialPreviewFileType: 'image',
				allowedFileExtensions : [ "png", "jpg", "jpeg", "pdf"],
				 fileActionSettings : {
		   	           
		   	            dragIcon: '<i class="fa fa-bars invisible"></i>',
		   	            dragClass: 'text-info invisible',
		   	            removeClass: 'btn btn-danger btn-xs invisible',
		   	            removeIcon: '<i class="fa fa-trash-o invisible"></i>'
		   	        
		   	        } 
				
			}); 
		  
	  }
    

	   if(company_termsp_name != null ){
			 $("#company_tcP_edit").fileinput({
				'theme' : 'explorer-fa',
				'uploadUrl' : '#',
				overwriteInitial : true,
				initialPreviewAsData : true,
				allowedFileExtensions : ["png", "jpg", "jpeg", "pdf"],
				  initialPreview: ["/api/pdf?filepath="+company_termsp_file],
				  initialPreviewFileType :'pdf',
				  initialCaption: company_termsp_name,
				   initialPreviewConfig: [
		                                     {
		                                    
		                                     caption: company_termsp_name,
		                                     key: 1
		                                     }
		                                     
		                                 ],
		                                 fileActionSettings : {
		                         	           
		                        	            dragIcon: '<i class="fa fa-bars invisible"></i>',
		                        	            dragClass: 'text-info invisible',
		                        	            removeClass: 'btn btn-danger btn-xs invisible',
		                        	            removeIcon: '<i class="fa fa-trash-o invisible"></i>'
		                        	        
		                        	        } 
			}); 
	    }else{
	    	 $("#company_tcP_edit").fileinput({
					'theme' : 'explorer-fa',
					'uploadUrl' : '#',
					overwriteInitial : true,
					initialPreviewAsData : true,
					allowedFileExtensions : ["png", "jpg", "jpeg", "pdf"],
					 fileActionSettings : {
			   	           
			   	            dragIcon: '<i class="fa fa-bars invisible"></i>',
			   	            dragClass: 'text-info invisible',
			   	            removeClass: 'btn btn-danger btn-xs invisible',
			   	            removeIcon: '<i class="fa fa-trash-o invisible"></i>'
			   	        
			   	        } 
					 
				}); 
	    	
	    }
    
   /*   if(company_termsp_file == null ){
		 $("#company_tcP_edit").fileinput({
			'theme' : 'explorer-fa',
			'uploadUrl' : '#',
			overwriteInitial : true,
			initialPreviewAsData : true,
			allowedFileExtensions : ["png", "jpg", "jpeg", "pdf"],
			  initialPreview: ["/api/pdf?filepath="],
			  initialPreviewFileType :'image'
		}); 
    } else {
    	$("#company_tcP_edit").fileinput({
    		'theme' : 'explorer-fa',
    		'uploadUrl' : '#',
    		overwriteInitial : true,
    		initialPreviewAsData : true,
    		allowedFileExtensions : ["png", "jpg", "jpeg", "pdf"],
    		  initialPreview: ["/api/pdf?filepath="+company_termsp_file],
    		  initialPreviewFileType :'pdf'
    	});
    	
    }  */
    
    if(company_termsl_name != null){
    	$("#company_tcL_edit").fileinput({
    		'theme' : 'explorer-fa',
    		'uploadUrl' : '#',
    		overwriteInitial : true,
    		initialPreviewAsData : true,
    		initialCaption: company_termsl_name,
			   initialPreviewConfig: [
	                                     {
	                                    
	                                     caption: company_termsl_name,
	                                     key: 1
	                                     }
	                                     
	                                 ],
    		allowedFileExtensions : [ "pdf"],
    		
    		initialPreview: ["/api/pdf?filepath="+company_termsl_file],
    		 initialPreviewFileType :'pdf',
    		 fileActionSettings : {
     	           
    	            dragIcon: '<i class="fa fa-bars invisible"></i>',
    	            dragClass: 'text-info invisible',
    	            removeClass: 'btn btn-danger btn-xs invisible',
    	            removeIcon: '<i class="fa fa-trash-o invisible"></i>'
    	        
    	        } 
    	});
	
  	}else{
  		
  		$("#company_tcL_edit").fileinput({
    		'theme' : 'explorer-fa',
    		'uploadUrl' : '#',
    		overwriteInitial : true,
    		initialPreviewAsData : true,
    		allowedFileExtensions : [ "pdf"],
    		 fileActionSettings : {
     	           
    	            dragIcon: '<i class="fa fa-bars invisible"></i>',
    	            dragClass: 'text-info invisible',
    	            removeClass: 'btn btn-danger btn-xs invisible',
    	            removeIcon: '<i class="fa fa-trash-o invisible"></i>'
    	        
    	        } 
    		
    	});
  		
  	}
    
/*     if(company_termsl_file == null){
    	$("#company_tcL_edit").fileinput({
    		'theme' : 'explorer-fa',
    		'uploadUrl' : '#',
    		overwriteInitial : true,
    		initialPreviewAsData : true,
    		allowedFileExtensions : [ "pdf"],
    		initialPreview: ["/api/pdf?filepath="+company_termsl_file],
    		 initialPreviewFileType :'image'
    	});
	
  	} else {
  		$("#company_tcL_edit").fileinput({
  			'theme' : 'explorer-fa',
  			'uploadUrl' : '#',
  			overwriteInitial : true,
  			initialPreviewAsData : true,
  			allowedFileExtensions : [ "pdf"],
  			initialPreview: ["/api/pdf?filepath="+company_termsl_file],
  			 initialPreviewFileType :'pdf'
  		});
  		
  	} */
 
  });
  </script>


		<section class="content-header">
		
		<!-- empty_ord_Dialog_Modal -->
			<div class="modal fade" id="empty_letter_Modal" role="dialog">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header bg-primary">
							<h4 class="modal-title">
								<span id="dialogmessage_letter" style="color: #333;"></span>


							</h4>


						</div>
						<div class="modal-footer">

							<a style="line-height: 2 !important;"
								th:href="@{/master/company}"><i class="btn btn-default"
								th:text="#{label.close}"></i></a>

						</div>
					</div>
				</div>
			</div>
			<!-- empty_ord_Dialog_Modal -->
		
		
			<div class = "breadcontainer">
				<ul class="breadcrumb">
				<li><a th:href="@{/master/dashboard}"><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li><a th:href="@{/master/company}">Company</a></li>
					<li>Edit Company</li>
				</ul>
			</div>
			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>
		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.compTitleEdit_caption}"></h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class= "well">
			<form role="form" th:action="@{/master/updatecompany}"
				enctype="multipart/form-data" class="companyform" id="cmpform"
				th:object="${companyobj}" method="post">
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.compCode_caption}"></label><span
							style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input readonly="true" type="text" th:field="*{compCode}" id="compCode"
								class="form-control" name="compCode" placeholder="Example: 080" />
						</div>
					</div>
				

					<div class="col-md-2">
						<label th:text="#{label.compCodeHRIS_caption}"></label><span
							style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input readonly="true" type="text" th:field="*{compCodeHRIS}"
								maxlength="3" required="true" class="form-control"
								name="compCodeHRIS" placeholder="Example: PCS" />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.compName_caption}"></label><span
							style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input required="true" maxlength="70" type="text" th:field="*{compName}"
								class="form-control" name="compName"
								placeholder="Example: Parkson Corporation Sdn Bhd" />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.compAbbrName_caption}"></label><span
							style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input required="true" maxlength="15" type="text" th:field="*{compAbbrName}"
								class="form-control" name="compAbbrName"
								placeholder="Example: Parkson Corp" />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.compRegNo_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" th:field="*{compRegNo}"
								class="form-control" name="compRegNo"
								placeholder="Example: 157029-X" />
						</div>
					</div>
			</div>
			
	

				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.compLogo_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="file" class="file" name="compLogofile" 
								id="company_logo_edit" />
							
						</div>
					</div>
				

					<div class="col-md-2">
						<label th:text="#{label.companyLetterHeading_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							
							<input type="file" class="form-control" name="compLetterheadfile"
								id="company_letter_edit" />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.poTAndCPortrait_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							
							<input type="file" class="form-control" name="termsPortraitfile"
								id="company_tcP_edit" />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.poTAndCLandscape_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<!-- <img height="100" width="100" src="/api/image?filepath"
								alt="Company" name="termsLandscapefile" id="company_tcL"
								type="file" /> -->

							<input type="file" class="form-control" name="termsLandscapefile"
								id="company_tcL_edit" />
						</div>
					</div>
				
			</div>

				<div class="row">				
					<div class="col-md-2">
						<label th:text="#{label.status}"></label><span style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<select th:field="*{isActive}" required="true"
								class="form-control" name="status">
								<option th:value="Active">Active</option>
								<option th:value="InActive">InActive</option>
							</select>
						</div>
					</div>
				</div>
					
					<div class="row">
						<div class="col-md-2">
							<label>Created By</label>
						</div>
						<div class="col-md-4" th:if="${createdBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdBy}"
									class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Created On</label>
						</div>
						<div class="col-md-4" th:if="${createdOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdOn}"
									class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Updated By</label>
						</div>
						<div class="col-md-4" th:if="${lastModifiedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{lastModifiedBy}"
									class="form-control" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Updated On</label>
						</div>
						<div class="col-md-4" th:if="${lastModifiedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{lastModifiedOn}"
									class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Deactivated By</label>
						</div>
						<div class="col-md-4" th:if="${deactivatedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{deactivatedBy}" class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Deactivated On</label>
						</div>
						<div class="col-md-4" th:if="${deactivatedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{deactivatedOn}" class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Reactivated By</label>
						</div>
						<div class="col-md-4" th:if="${reactivatedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{reactivatedBy}" class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Reactivated On</label>
						</div>
						<div class="col-md-4" th:if="${reactivatedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{reactivatedOn}" class="form-control" />
							</div>
						</div>
									
		</div>
		
				<div class="row">
					<div class="col-md-3">
						<span></span>
					</div>
					<div class="col-md-4">
						<button type="submit" class="btn btn-primary"
							th:text="#{label.compUpdate}"></button>
						<a style="line-height: 2 !important;"
+							th:href="@{/master/company}"><i
+							class="btn btn-default" th:text="#{label.back}"></i></a>
					</div>
				</div>
			</form>
		</div>
		</div>
	</section>
	<!-- /.content -->

</body>
</html>