<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title th:text="#{label.taxTitle_caption}"></title>


<style type="text/css">
textarea {
	resize: none;
}
</style>


</head>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
		<script th:inline="javascript">

		var date_format = [[${date_format}]];

		var start = new Date([[${start_date}]]);

		var end = new Date([[${end_date}]]);

			var month_format = date_format.replace("MMM","MM");

			var year_format = month_format.replace("yyyy","yy");

			var format = year_format;
			
		$(document).ready(function(){ 
			
		    $( '#startDates' ).datepicker({
		    	showButtonPanel: true,
		        closeText: 'Clear',
		        onClose: function (dateText, inst) {
		            if ($(window.event.srcElement).hasClass('ui-datepicker-close')) {
		                document.getElementById(this.id).value = '';
		                $('#endDates').val('');
		            }
		        },
		    	dateFormat: 'dd-MM-yy', 
		    	minDate : start});
		    $( '#endDates' ).datepicker({
		    	showButtonPanel: true,
		        closeText: 'Clear',
		        onClose: function (dateText, inst) {
		            if ($(window.event.srcElement).hasClass('ui-datepicker-close')) {
		                document.getElementById(this.id).value = '';
		            }
		        },
		    	dateFormat: 'dd-MM-yy', minDate : end});
		    
			$('#startDates').on('change', function(){

				$('#endDates').removeClass('calendarclass');
				$('#endDates').removeClass('hasDatepicker');
				$('#endDates').unbind();
				
			
				$('#endDates').val('');
				
				var myDate = new Date($('#startDates').val());
			    $( '#endDates' ).datepicker({
			    	showButtonPanel: true,
			        closeText: 'Clear',
			        onClose: function (dateText, inst) {
			            if ($(window.event.srcElement).hasClass('ui-datepicker-close')) {
			                document.getElementById(this.id).value = '';
			            }
			        },
			    	dateFormat: 'dd-MM-yy', minDate : myDate});

			    
			});
			

			});

		////////////////////////////////////
	
	 	var edit =[[${edit}]];
		
		if(edit === true){
		
			var path = window.location.pathname;
			
			path = path.replace(/\/$/, "");
			var query = path.split('/');
			path = decodeURIComponent(path);
			$('.sidebar-menu').find('a[href*="' + query[2].slice(4) + '"]').addClass('active');
		
		} 
	</script>

		<section class="content-header">


			<div class = "breadcontainer">
				<ul class="breadcrumb">
				<li><a th:href="@{/master/dashboard}"><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li><a th:href="@{/master/gst}">GST</a></li>
					<li>Edit GST</li>
				</ul>
			</div>
			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>
		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.taxEditInfo_caption}"></h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="well">
				<form role="form" th:action="@{/master/updategst}" class="gstform"
					th:object="${gstobj}" method="post">
					<div class="row">
						<div class="col-md-2">
							<label th:text="#{label.taxCode_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input readonly="true" maxlength="20" th:field="*{taxCode}"
									type="text" class="form-control" name="taxCode"
									placeholder="Example: AJP" />
							</div>
						</div>


						<div class="col-md-2">
							<label th:text="#{label.taxDesc_caption}"></label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<textarea th:field="*{taxDesc}" maxlength="255" type="text" class="form-control"
									name="taxDesc" placeholder="Example: ANY ADJUSTMENT MADE"></textarea>
							</div>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.taxAbbrDesc_caption}"></label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input th:field="*{taxAbbrDesc}" maxlength="30" type="text"
									class="form-control" name="taxAbbrDesc"
									placeholder="Example: Adjustment Output" />
							</div>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.allowedVariance_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input required="true" maxlength="5" th:field="*{allowedVariance}"
									class="form-control" name="allowedVariance" />
							</div>
						</div>


						<div class="col-md-2">
							<label th:text="#{label.taxRate_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input required="true" maxlength="5" th:field="*{taxRate}"
									class="form-control" name="taxRate" />
							</div>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.gstStartDate_caption}"></label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input class="form-control" type="text" id="startDates"
									th:field="*{effectiveStartingDate}" name="startDate"
									th:value="*{effectiveStartingDate}" placeholder="Start Date"
									onkeydown="return false;" />
							</div>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.gstEndDate_caption}"></label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" class="form-control" id="endDates"
									th:field="*{effectiveEndingDate}"
									th:value="*{effectiveEndingDate}" name="endDate"
									placeholder="End Date" onkeydown="return false;" />
							</div>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.status}"></label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select th:field="*{isActive}" required="true"
									class="form-control" name="status">
									<option th:value="Active">Active</option>
									<option th:value="InActive">InActive</option>
								</select>
							</div>
						</div>


						<div class="col-md-2">
							<label>Created By</label>
						</div>
						<div class="col-md-4" th:if="${createdBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdBy}"
									class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Created On</label>
						</div>
						<div class="col-md-4" th:if="${createdOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdOn}"
									class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Updated By</label>
						</div>
						<div class="col-md-4" th:if="${lastModifiedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{lastModifiedBy}"
									class="form-control" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Updated On</label>
						</div>
						<div class="col-md-4" th:if="${lastModifiedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{lastModifiedOn}"
									class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Deactivated By</label>
						</div>
						<div class="col-md-4" th:if="${deactivatedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{deactivatedBy}" class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Deactivated On</label>
						</div>
						<div class="col-md-4" th:if="${deactivatedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{deactivatedOn}" class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Reactivated By</label>
						</div>
						<div class="col-md-4" th:if="${reactivatedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{reactivatedBy}" class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Reactivated On</label>
						</div>
						<div class="col-md-4" th:if="${reactivatedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{reactivatedOn}" class="form-control" />
							</div>
						</div>





						<div class="col-md-4">
							<span></span>
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-primary"
								th:text="#{label.taxUpdate}"></button>

							<a style="line-height: 2 !important;" th:href="@{/master/gst}"><i
								class="btn btn-default" th:text="#{label.back}"></i></a>

						</div>
					</div>
				</form>
			</div>
			<br />

		</div>
	</section>
	<!-- /.content -->
</body>
</html>