<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title th:text="#{label.pcCode_caption}"></title>
</head>

<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
		<script th:inline="javascript">

		var date_format = [[${date_format}]];

		var start = new Date([[${start_date}]]);

		var end = new Date([[${end_date}]]);

			var month_format = date_format.replace("MMM","MM");

			var year_format = month_format.replace("yyyy","yy");

			var format = year_format;
			
		$(document).ready(function(){ 
			
		    $( '#startDates' ).datepicker({
		      	showButtonPanel: true,
		        closeText: 'Clear',
		        onClose: function (dateText, inst) {
		            if ($(window.event.srcElement).hasClass('ui-datepicker-close')) {
		                document.getElementById(this.id).value = '';
		                $('#endDates').val('');
		            }
		        },
		    	
		    	dateFormat: 'dd-MM-yy', minDate : start});
		    
		    $( '#endDates' ).datepicker({
		    	showButtonPanel: true,
		        closeText: 'Clear',
		        onClose: function (dateText, inst) {
		            if ($(window.event.srcElement).hasClass('ui-datepicker-close')) {
		                document.getElementById(this.id).value = '';
		            }
		        },
		    	
		    	dateFormat: 'dd-MM-yy', minDate : end});
		    
			$('#startDates').on('change', function(){

				$('#endDates').removeClass('calendarclass');
				$('#endDates').removeClass('hasDatepicker');
				$('#endDates').unbind();
				
			
				$('#endDates').val('');
				
				var myDate = new Date($('#startDates').val());
			    $( '#endDates' ).datepicker({
			    	
			    	showButtonPanel: true,
			        closeText: 'Clear',
			        onClose: function (dateText, inst) {
			            if ($(window.event.srcElement).hasClass('ui-datepicker-close')) {
			                document.getElementById(this.id).value = '';
			            }
			        },
			    	
			    	dateFormat: 'dd-MM-yy', minDate : myDate});

			    
			});
			

			});


		////////////////////////////////////////

var edit =[[${edit}]];
		if(edit === true){
	
	var path = window.location.pathname;
	path = path.replace(/\/$/, "");
	path = decodeURIComponent(path);
	var query = path.split('/');
	$('.sidebar-menu').find('a[href*="/master/profitcenter"]').addClass('active');
	
} 
	function companyBasedDepartment() {
		var s = document.getElementById("companyselect").selectedIndex;
		var o = document.getElementsByTagName("option")[s].value;
		$.ajax({
			type : "GET",
			url : "/master/profitcenter/storebasedoncompany?companycode=" + o,
			success : function(data) {
				console.log("SUCCESS: ", data);
				$("#storeselect").empty();
				data.forEach(function(item, i) {
					var option = "<option value = " + item.code + ">"
							+ item.code + "</option>";
					$("#storeselect").append(option);
				});
			},
			error : function(e) {
				console.log("ERROR: ", e);
			},
			done : function(e) {
				console.log("DONE");
			}
		});
	}
</script>
		<section class="content-header">
		
			<div class = "breadcontainer">
				<ul class="breadcrumb">
				<li><a th:href="@{/master/dashboard}"><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li><a th:href="@{/master/profitcenter}">Profit Center</a></li>
					<li>Edit Profit Center</li>
				</ul>
			</div>
			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>
		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Edit Profit Center Information</h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="well">
				<form role="form" th:action="@{/master/updateprofitcenter}"
					class="profitcenterform" th:object="${pcobj}" method="post">
					<div class="row">
						<div class="col-md-2">
							<label>Profit Center Code</label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input th:field="*{pcCode}" readonly="true" type="text"
									class="form-control" name="pcCode" placeholder="Auto Generated" />
							</div>
						</div>
				
						<div class="col-md-2">
							<label>Profit Center Name</label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input th:field="*{pcName}" maxlength="30" required="true" type="text"
									class="form-control" name="pcName"
									placeholder="Example: Klang Parade" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Profit Center Abbr Name</label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input th:field="*{pcAbbrName}" maxlength="15" required="true" type="text"
									class="form-control" name="pcAbbrName"
									placeholder="Example: Klang Prd" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Company Code</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<!--  	<select class="form-control" id="companyselect" disabled
								onchange="companyBasedDepartment();" th:field="*{company}">
								<option value="">Select</option>
								<option th:each="dr : ${cmplist}" th:value="${dr.code}"
									th:text="${dr.code}"></option>
									
										</select>
									 -->

								<input th:field="*{company}" readonly="true" type="text"
									class="form-control" name="company" />


							</div>
						</div>

						<div class="col-md-2">
							<label>Store Code</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<!--  <select id="storeselect" class="form-control" disabled
								th:field="*{store}">
								<option value="">Select</option>
								<option th:each="dr : ${strlist}" th:value="${dr.code}"
									th:text="${dr.code}"></option>
							</select> -->

								<input th:field="*{store}" readonly="true" type="text"
									class="form-control" name="store" />

							</div>
						</div>

						<div class="col-md-2">
							<label>Department Code</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">

								<!-- 	<select id="departmentselect" disabled
								class="form-control" th:field="*{deartment}">
								<option value="">Select</option>
								<option th:each="dr : ${depatlist}" th:value="${dr.code}"
									th:text="${dr.code}"></option>
							</select> -->

								<input th:field="*{deartment}" readonly="true" type="text"
									class="form-control" name="deartment" />

							</div>
						</div>

						<div class="col-md-2">
							<label>Store Type</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select class="form-control" th:field="*{storeType}">
									<option value="">Select</option>
									<option th:each="dr : ${storetypelist}" th:value="${dr}"
										th:text="${dr}"></option>
								</select>
							</div>
						</div>
						
						
	</div>
	
	<br>
					<div class="row">
						<div class="col-md-2">
							<label>Profit Center Heads</label>
						</div>
						<div class="col-xs-4">
							<select th:field="*{pcHeadfrom}" name="from[]" id="pchead"
								class="form-control" size="8" multiple="multiple">
								<option th:each="dr : ${pcheads}" th:value="${dr}"
									th:text="${dr}"></option>
							</select>
						</div>

						<div class="col-xs-2">
							<button type="button" id="pchead_rightAll" class="btn btn-block">
								<i class="glyphicon glyphicon-forward"></i>
							</button>
							<button type="button" id="pchead_rightSelected"
								class="btn btn-block">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
							<button type="button" id="pchead_leftSelected"
								class="btn btn-block">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</button>
							<button type="button" id="pchead_leftAll" class="btn btn-block">
								<i class="glyphicon glyphicon-backward"></i>
							</button>
						</div>

						<div class="col-xs-4">
							<select name="to[]" th:field="*{pcHeadto}" id="pchead_to"
								class="form-control" size="8" multiple="multiple">
								<option th:each="dr : ${pcheadsto}" th:value="${dr}"
									th:text="${dr}"></option>
							</select>
						</div>
					</div>

<br>

					<div class="row">
						<div class="col-md-2">
							<label>Profit Center Rights</label>
						</div>
						<div class="col-xs-4">
							<select th:field="*{pcViewRightsfrom}" name="from[]"
								id="viewrights" class="form-control" size="8"
								multiple="multiple">
								<option th:each="dr : ${pcrights}" th:value="${dr}"
									th:text="${dr}"></option>
							</select>
						</div>

						<div class="col-xs-2">
							<button type="button" id="viewrights_rightAll"
								class="btn btn-block">
								<i class="glyphicon glyphicon-forward"></i>
							</button>
							<button type="button" id="viewrights_rightSelected"
								class="btn btn-block">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
							<button type="button" id="viewrights_leftSelected"
								class="btn btn-block">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</button>
							<button type="button" id="viewrights_leftAll"
								class="btn btn-block">
								<i class="glyphicon glyphicon-backward"></i>
							</button>
						</div>

						<div class="col-xs-4">
							<select name="to[]" th:field="*{pcViewRightsto}"
								id="viewrights_to" class="form-control" size="8"
								multiple="multiple">
								<option th:each="dr : ${pcrightsto}" th:value="${dr}"
									th:text="${dr}"></option>
							</select>
						</div>
					</div>
<br>

					<div class="row">
						<div class="col-md-2">
							<label th:text="#{label.startDate_caption}"> </label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input th:field="*{startDate}" type="text" id="startDates" th:placeholder="${date_format}"
									class="form-control" name="startDate"
									onkeydown="return false;" />
							</div>
						</div>
				

						<div class="col-md-2">
							<label th:text="#{label.endDate_caption}"> </label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input th:field="*{endDate}" type="text" id="endDates" th:placeholder="${date_format}"
									class="form-control" name="endDate"
									onkeydown="return false;" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Address Line1</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input th:field="*{addressLine1}" type="text"
									class="form-control" name="addressLine1" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Address Line2</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input th:field="*{addressLine2}" type="text"
									class="form-control" name="addressLine2" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Address Line3</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input th:field="*{addressLine3}" type="text"
									class="form-control" name="addressLine3" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Postal Area</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input th:field="*{postArea}" type="text" class="form-control"
									name="postArea" placeholder="Example: KL Sentral" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Postal Code</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input th:field="*{postCode}" type="text" maxlength="10" class="form-control"
									name="postCode" placeholder="Example : 57700" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Status</label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select th:field="*{isactive}" required="true"
									class="form-control" name="status">
									<option th:value="Active">Active</option>
									<option th:value="InActive">InActive</option>
								</select>
							</div>
						</div>
					
					
						<div class="col-md-2">
							<label>Created By</label>
						</div>
						<div class="col-md-4" th:if="${createdBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdBy}"
									class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Created On</label>
						</div>
						<div class="col-md-4" th:if="${createdOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdOn}"
									class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Updated By</label>
						</div>
						<div class="col-md-4" th:if="${lastModifiedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{lastModifiedBy}"
									class="form-control" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Updated On</label>
						</div>
						<div class="col-md-4" th:if="${lastModifiedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{lastModifiedOn}"
									class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Deactivated By</label>
						</div>
						<div class="col-md-4" th:if="${deactivatedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{deactivatedBy}" class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Deactivated On</label>
						</div>
						<div class="col-md-4" th:if="${deactivatedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{deactivatedOn}" class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Reactivated By</label>
						</div>
						<div class="col-md-4" th:if="${reactivatedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{reactivatedBy}" class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Reactivated On</label>
						</div>
						<div class="col-md-4" th:if="${reactivatedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{reactivatedOn}" class="form-control" />
							</div>
						</div>

					
					
	</div>



					<div class="row">
						<div class="col-md-4">
							<span></span>
						</div>
						<div class="col-md-2">
							<button type="submit" th:text="#{label.prUpdate}"
								class="btn btn-primary"></button>


							<a style="line-height: 2 !important;"
														th:href="@{/master/profitcenter}"><i
															class="btn btn-default" th:text="#{label.back}"></i></a>
						</div>
					</div>
				</form>
			</div>

		</div>
	</section>
	<!-- /.content -->
</body>
</html>