<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title th:text="#{label.taxTitle_caption}"></title>

<style type="text/css">
textarea {
	resize: none;
}

</style>

</head>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">

		<script type="text/javascript" th:inline="javascript">

		tableLoad(1); 
				function tableLoad(page) {
					var e = document.getElementById('pageSizeSelectTemp');
					var pagesize=5;
					if(e!=null)
					{
						pagesize = e.options[e.selectedIndex].value;
					}
					var temppage=1;
					if(page!=null)
					{
						temppage=page;
					}
					var sortingkey="lastModifiedOn";
					var sortingorder="DESC";
					
					var sortingkeytemp = document.getElementById('sortingkey');
					var sortingordertemp = document.getElementById('sortingorder');
					if(sortingkeytemp!=null)
					{
						sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
					}
					if(sortingordertemp!=null)
					{
						sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
					}
					
					var code=document.getElementById('codefil')!=null?document.getElementById('codefil').value:"";

					var abbrDesc=document.getElementById('abbrDesc')!=null?document.getElementById('abbrDesc').value:"";
					
					var effectiveStartDate=document.getElementById('effectiveStartDate')!=null?document.getElementById('effectiveStartDate').value:"";
					var effectiveEndDate=document.getElementById('effectiveEndDate')!=null?document.getElementById('effectiveEndDate').value:"";
					
					var st = document.getElementById('status');
					var status="";
					if(st!=null && st.selectedIndex>0)
					{
						
						status = st.options[st.selectedIndex].value; 
						
						
					}
					
					
				$.ajax({
				url : '/gst/gstgrid',
				method : 'GET',
				
				/* same variable in entity : username,startDate,...*/
				data:{"pageSize":pagesize,"page":temppage,"code":code,"effectiveStartDate":effectiveStartDate,"effectiveEndDate":effectiveEndDate,"status":status,"abbrDesc":abbrDesc,"sortingkey":sortingkey,"sortingorder":sortingorder},
				success : function(data, textStatus, jqXHR) {
					$('#result-table').replaceWith(data);
			}
			});
				
		
		}
		
	var isActive = [[${isActive}]];
	
	function FindGST(){
		
		var gstcode = document.getElementById("code").value;
		
		
		$.ajax({
			type : "GET",
			url : "/master/gst/existinggst?gstcode="+gstcode,
			success : function(data) {
				console.log("SUCCESS: ", data);
				 $("#code").empty();
				 if(data.code != null){
					 
					 document.getElementById("validate").style.display = "block";
					 document.getElementById('code').style.border ="1px solid red";
					 document.getElementById("validate").innerHTML = "This GST Code Already Exist";
					
					
					  $(":submit").attr("disabled", true);
					 
					 
				
				 }else{
					 
					 document.getElementById('code').style.border ="";	
					 document.getElementById("validate").style.display = "none";
					
					    
				 }
				 		
				 
			},
			error : function(e) {
				console.log("ERROR: ", e);
			},
			done : function(e) {
				console.log("DONE");
			} 
		});

	}
	
	
	$(document).ready (function(){
	document.getElementById("status").value = isActive;
	 $(":reset").click(function() {
		  
		 document.getElementById('code').style.border ="";	
		 document.getElementById("validate").style.display = "none";
		
			 $(":submit").attr("disabled", false);
	  });
	 
	});
	
	
	</script>

		<section class="content-header">

		<div class = "breadcontainer">
			<ul class="breadcrumb">
			<li><a th:href="@{/master/dashboard}"><i class="fa fa-home"></i></a></li>
				<li>Master File Management</li>
				<li>GST</li>
			</ul>
		</div>
			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>
		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.taxInfo_caption}"></h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="well">
				<form role="form" th:action="@{/master/creategst}" class="gstform"
					th:object="${gstobj}" method="post">
					<div class="row">
						<div class="col-md-2">
							<label th:text="#{label.taxCode_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input required="true" maxlength="20" th:field="*{taxCode}"
									type="text" id="code" class="form-control" name="taxCode"
									placeholder="Example: AJP" onchange="FindGST();" />
								<p id="validate" style="color: red;"></p>
							</div>
						</div>


						<div class="col-md-2">
							<label th:text="#{label.taxDesc_caption}"></label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<textarea th:field="*{taxDesc}" maxlength="255" type="text" class="form-control"
									name="taxDesc" placeholder="Example: ANY ADJUSTMENT MADE"></textarea>
							</div>
						</div>

				
				</div><div class="row">
				
						<div class="col-md-2">
							<label th:text="#{label.taxAbbrDesc_caption}"></label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input th:field="*{taxAbbrDesc}" maxlength="30" type="text"
									class="form-control" name="taxAbbrDesc"
									placeholder="Example: Adjustment Output" />
							</div>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.allowedVariance_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input required="true" maxlength="5" th:field="*{allowedVariance}"
									class="form-control" name="allowedVariance" />
							</div>
						</div>

					</div><div class="row">
					
						<div class="col-md-2">
							<label th:text="#{label.taxRate_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input required="true" maxlength="5" th:field="*{taxRate}"
									class="form-control" name="taxRate" />
							</div>
						</div>


						<div class="col-md-2">
							<label th:text="#{label.gstStartDate_caption}"></label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input class="form-control" id="pc_startDate" type="text"
									 th:field="*{effectiveStartingDate}" th:placeholder="${date_format}"
									name="startDate1" 
									onkeydown="return false;" />
							</div>
						</div>
						
							</div><div class="row">

						<div class="col-md-2">
							<label th:text="#{label.gstEndDate_caption}"></label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" id="pc_endDate" class="form-control"
								 th:field="*{effectiveEndingDate}" th:placeholder="${date_format}"
									name="endDate1"
									onkeydown="return false;" />
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-2">
							<span></span>
						</div>
						<div class="col-md-4">
							<button type="submit" class="btn btn-primary"
								th:text="#{label.submit}"></button>
							<button
								onclick="$('.gstform').bootstrapValidator('resetForm', true);"
								type="reset" class="btn btn-default" th:text="#{label.reset}"></button>
						</div>
					</div>
				</form>
			</div>
			<br />
			
				<div class="well">
			  <div th:fragment="result-table" id="result-table">
				<div class="box box-table">
					<div class="box-header with-border">
						<div class="row" th:if="${list != null}">
			
			<div class="box-header with-border">
					<h3 class="box-title" th:text="#{label.taxList_caption}"></h3>
							<span><h5
									th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
								</div>
							</div>
			<div class="row" th:if="${list != null}">
				<div class="form-group col-md-1">
					<select class="form-control pagination" id="pageSizeSelectTemp"
					onchange="tableLoad(1);">
					
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>
					</select>
				</div>
				<div th:if="${list.totalPages != 0}"
					class="form-group col-md-6 pagination-centered">
					<ul class="pagination">
						<li th:class="${list.number == 0} ? disabled"><a
						
							class="pageLink" onclick="tableLoad(1);"
							>&laquo;</a>
								</li>
						
						
						<li th:class="${list.number == 0} ? disabled"><input
								type="hidden" id="t2" th:value="${list.number}" /> <a
											class="pageLink"
											onclick="tableLoad(document.getElementById('t2').value);"
											>&larr;</a>
					
						</li>
						<li
							th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink"
											onclick="tableLoad(this.text);" 
											th:text="${page}"></a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							
							<input type="hidden" id="t4" th:value="${list.number + 2}" />

											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t4').value);"
											>&rarr;</a>
</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							
							<input type="hidden" id="t5" th:value="${list.totalPages}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t5').value);"
											>&raquo;</a>

							</li>
					</ul>
				</div>
			<div class="form-group col-md-5 pagination" align="right">
									<table>
										<tr>
											<td><label>Sorty By</label></td>
											<td><select onchange="tableLoad(1);" id="sortingkey"
												th:value="${sortingkey}" class="form-control">
												<!-- th:value are same as entity name -->
													<option th:value="code" th:selected="${sortingkey=='code'}">Tax Code</option>
													<option th:value="effectiveStartDate"
														th:selected="${sortingkey=='effectiveStartDate'}">Start Date</option>
													<option th:value="effectiveEndDate"
														th:selected="${sortingkey=='effectiveEndDate'}">End Date</option>
													<option th:value="isActive"
														th:selected="${sortingkey=='isActive'}">Status</option>
														<option th:value="lastModifiedOn" th:selected="${sortingkey=='lastModifiedOn'}">Last Modified On</option>
													
											</select></td>
											<td><select onchange="tableLoad(1);" id="sortingorder"
												th:value="${sortingorder}" class="form-control">
													<option th:value="ASC" th:selected="${sortingorder=='ASC'}">ASC</option>
													<option th:value="DESC"
														th:selected="${sortingorder=='DESC'}">DESC</option>
											</select></td>
										</tr>
									</table>
								</div>
						</div>
			

							<div class="box-body table-responsive no-padding">
								<table class="table table-hover">
									<thead>
									<tr>
										<th th:width="70px" th:text="#{label.serialId}"></th>
										<th th:text="#{label.taxCode_caption}"></th>
										<th th:text="#{label.taxAbbrDesc_caption}"></th>
										<th th:text="#{label.effectiveStartingDate_caption}"></th>
										<th th:text="#{label.effectiveEndingDate_caption}"></th>
										<th th:text="#{label.status}"></th>
										<th style="width: 10px" th:text="#{label.edit}"></th>
									</tr>
									<thead>
									<tr align="left">
										<td><input
										 class="form-control" 
										type="text" disabled = "true"/></td>
										<!-- <td align="right" colspan="4">Search</td> -->
										<td><input
											onblur="tableLoad(1);"
										id="codefil" class="form-control" th:value="*{code}"
											type="text" /></td>

										<td><input
											onblur="tableLoad(1);"
											id="abbrDesc" class="form-control" th:value="*{abbrDesc}"											
											type="text" /></td>

										<td><input
											onblur="tableLoad(1);"
											id="effectiveStartDate" class="form-control" th:value="*{effectiveStartDate}"											
											type="text" /></td>

										<td><input
											onblur="tableLoad(1);"
											id="effectiveEndDate" class="form-control" th:value="*{effectiveEndDate}"
											
											type="text" /></td>

										<td><select
											onchange="tableLoad(1);"
											 th:value="${status}" required="true"
												class="form-control" name="status" id="status">
												<option th:value="All" th:selected="${status=='All'}">All</option>
												<option th:value="Active" th:selected="${status=='Active'}">Active</option>
												<option th:value="InActive" th:selected="${status=='InActive'}">InActive</option>
												
 
										</select></td>

										<td></td>

									</tr>
									<tbody th:if="${list != null}">
									<tr th:each="d, id : ${list}" >
									<td th:text="${id.index} + 1 + ${serialid}"></td>
										<td th:text="${d.code}"></td>
										<td th:text="${d.abbrDesc}"></td>
										<td
											th:text="${#dates.format(d.effectiveStartDate, date_format)}"></td>
										<td
											th:text="${#dates.format(d.effectiveEndDate, date_format)}"></td>
										<td th:text="${d.isActive()?'Active':'InActive'}"></td>
										<td><a
											th:href="@{/master/editgst/{taxcode}(taxcode=${d.code})}"
											class="btn btn-sm btn-default"><i class="fa fa-edit"
												th:text="'  ' +#{label.edit}"></i> </a></td>
												
												
									</tr>
								</tbody>
								</table>
							</div>
							<!-- /.box-body -->

						</div>
						<!-- /.box -->
					</div>
				</div>
		
		</div>
	</section>
	<!-- /.content -->
</body>
</html>