<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title th:text="#{label.pcCode_caption}"></title>
</head>

<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
	<script type="text/javascript" th:inline="javascript">
	tableLoad(1); 
	function tableLoad(page) {
		var e = document.getElementById('pageSizeSelectTemp');
		var pagesize=5;
		if(e!=null)
		{
			pagesize = e.options[e.selectedIndex].value;
		}
		var temppage=1;
		if(page!=null)
		{
			temppage=page;
		}
		var sortingkey="lastModifiedOn";
		var sortingorder="DESC";
		
		var sortingkeytemp = document.getElementById('sortingkey');
		var sortingordertemp = document.getElementById('sortingorder');
		if(sortingkeytemp!=null)
		{
			sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
		}
		if(sortingordertemp!=null)
		{
			sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
		}
		
		var code=document.getElementById('Code')!=null?document.getElementById('Code').value:"";
		var name=document.getElementById('Name')!=null?document.getElementById('Name').value:"";
		var company=document.getElementById('Company')!=null?document.getElementById('Company').value:"";
		var department=document.getElementById('Department')!=null?document.getElementById('Department').value:"";
		var store=document.getElementById('Store')!=null?document.getElementById('Store').value:"";
		
		
		var st = document.getElementById('status');
		var status="";
		if(st!=null && st.selectedIndex>0)
		{
			
			status = st.options[st.selectedIndex].value; 
			
			
		}
		
		
	$.ajax({
	url : '/master/profitcentergrid',
	method : 'GET',
	
	/* same variable in entity : username,startDate,...*/
	data:{"pageSize":pagesize,"page":temppage,"code":code,"name":name,"company":company,"department":department,"store":store,"status":status,"sortingkey":sortingkey,"sortingorder":sortingorder},
	success : function(data, textStatus, jqXHR) {
		$('#result-table').replaceWith(data);
	}
});
	

}
	
	
	

	
	$(document).ready (function(){

		
		var $input = $("#pcCode");
		$input.on('input', function() {
			  alert($(this).val());
			});
		

	 $(":reset").click(function() {

		 $("#storeselect").selectpicker("refresh");
		 $("#departmentselect").selectpicker("refresh");
		 $("#companyselect").selectpicker("refresh");
		 
	
	 
        
	    document.getElementById("pchead_to").innerHTML ="";
		 document.getElementById("pchead").addEventListener("change", pcHeadsAutocomplete());
	
		 document.getElementById("viewrights_to").innerHTML ="";
		 document.getElementById("viewrights").addEventListener("change", viewRightsAutocomplete());
		 
		   document.getElementById('storeselect').disabled = true;

			document.getElementById('departmentselect').disabled = true;
			
		 document.getElementById('pcCode').style.border ="";	
		 document.getElementById("validate").style.display = "none";
		
			 $(":submit").attr("disabled", false);
	  });
	 
	
	
	/* $('#pcCode').bind('input', function(){
		  console.log('this actually works');
		}); */
	
	});
	
	
	function FindProfitcenter(){
		
		var pccode = document.getElementById("pcCode").value;
		
		$.ajax({
			type : "GET",
			url : "/master/profitcenter/existingprofitcenter?pccode="+pccode,
			success : function(data) {
				console.log("SUCCESS FIND PC: ", data);
				 $("#pcCode").empty();
				 if(data.code != null){
					 
					 document.getElementById("validate").style.display = "block";
					 document.getElementById('pcCode').style.border ="1px solid red";
					 document.getElementById("validate").innerHTML = "This Profit Center Code Already Exist";
					
					
					
					 
					/*  $('#companyselect').get(0).selectedIndex = 0; */
					/*  companyBasedDepartment();
					 pcBasedStore();
					 pcBasedDepartment(); */
					 
			 		  
					  $(":submit").attr("disabled", true);
					 
					 
				
				 }else{
					 
					 document.getElementById('pcCode').style.border ="";	
					 document.getElementById("validate").style.display = "none";
					
					    
				 }
				 		
				 
			},
			error : function(e) {
				console.log("ERROR: ", e);
			},
			done : function(e) {
				console.log("DONE");
			} 
		});

	}


	function pcHeadsAutocomplete()
	{
		var s = document.getElementById("pchead_left_search").value;
		$.ajax({
			type : "GET",
			url : "/master/profitcenter/employeesearch?searchval="+s,
			success : function(data) {
				console.log("SUCCESS: ", data);
				 $("#pchead").empty();
				        data.forEach(function(item, i) {
			            var option = "<option value = " + item + ">" + item +  "</option>";
			            $("#pchead").append(option);
			        });
			},
			error : function(e) {
				console.log("ERROR: ", e);
			},
			done : function(e) {
				console.log("DONE");
			}
		});
	}
	

	function viewRightsAutocomplete()
	{
		var s = document.getElementById("viewrights_left_search").value;
		$.ajax({
			type : "GET",
			url : "/master/profitcenter/employeesearch?searchval="+s,
			success : function(data) {
				console.log("SUCCESS: ", data);
				 $("#viewrights").empty();
				        data.forEach(function(item, i) {
			            var option = "<option value = " + item + ">" + item +  "</option>";
			            $("#viewrights").append(option);
			        });
			},
			error : function(e) {
				console.log("ERROR: ", e);
			},
			done : function(e) {
				console.log("DONE");
			}
		});
	}
	
	
	
	
	function companyBasedDepartment()
	{
		var s = document.getElementById("companyselect").selectedIndex;
		var o = document.getElementsByTagName("option")[s].value;

		$('#departmentselect').get(0).selectedIndex = 0;
		$('#storeselect').get(0).selectedIndex = 0;
		$('#pcCode').val("");
		$.ajax({
			type : "GET",
			url : "/master/profitcenter/storebasedoncompany?companycode="+o,
			success : function(data) {
				console.log("SUCCESS: ", data);
				 $("#storeselect").empty();
				 		var optionSel = "<option value = ''>Select</option>"; //Changed Here
				 		 $("#storeselect").append(optionSel); //Changed Here
				 		 
				 		 if(data.length == 0){
				 			 
				 			 $("#storeselect").className= "alert alert-info";
				 			var optionNotFound = "<option value = ''>No Store Found</option>"; 
				 			 $("#storeselect").append(optionNotFound);

				 		    $("#storeselect").selectpicker("refresh");

				 		   document.getElementById('storeselect').disabled = true;

				 			document.getElementById('departmentselect').disabled = true;
				 		 }
				 		 else{

				 
						document.getElementById('storeselect').disabled = false;
				 		 
				        data.forEach(function(item, i) {
			   
			            $("#storeselect").append('<option value = "' + item.code + '">' + item.code + '-'+ item.name +  '</option>');

			            $("#storeselect").selectpicker("refresh");
			        });
				 		 }
			},
			error : function(e) {
				console.log("ERROR: ", e);
			},
			done : function(e) {
				console.log("DONE");
			}
		});
	}

	function pcBasedDepartment()
	{
		 
		/* var s = document.getElementById("storeselect").value; */
		
		var e = document.getElementById("departmentselect");
		var strUser = e.options[e.selectedIndex].value;
			var current = document.getElementById('pcCode');
		  
		  //Have to remove the last three characters if the length is 7 (assuming pc code is seven characters long)
		   var old = '';
		   var curVal = current.value;
		 if(curVal.length >= 7){
			 old  = curVal.slice(0,-3);
		  } else{
			  old  = current.value; 
		  }
		  
		 // var old  = current.value;
		 var res = strUser.substring(0, 3);
		  current.value = old + res;
		 /*  document.getElementById("pcCode").focus(); */
		  document.getElementById("pcCode").addEventListener("change", FindProfitcenter());

	}

	function pcBasedStore()
	{

		    $('#departmentselect').get(0).selectedIndex = 0;
			var e = document.getElementById("storeselect");
			
			var strUser = e.options[e.selectedIndex].value;
			/*  document.getElementById("pcCode").focus(); */
			 document.getElementById("pcCode").addEventListener("change", FindProfitcenter());
			document.getElementById("pcCode").value = strUser;

			document.getElementById('departmentselect').disabled = false;
			  $("#departmentselect").selectpicker("refresh");
			
		
	}
	
	</script>
		<section class="content-header">
		
		
		<div class = "breadcontainer">
			<ul class="breadcrumb">
			<li><a th:href="@{/master/dashboard}"><i class="fa fa-home"></i></a></li>
				<li>Master File Management</li>
				<li>Profit Center</li>
			</ul>
		</div>
			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>
		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.profitInfo_caption}"></h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
		<div class= "well">
			<form role="form" th:action="@{/master/createprofitcenter}" 
				class="profitcenterform" th:object="${pcobj}" method="post">
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.pcCode_caption}"></label><span
							style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input th:field="*{pcCode}" type="text" id="pcCode" onchange="FindProfitcenter();" readonly="readonly"
								class="form-control" name="pcCode" placeholder="Auto Generated" />
								<p id="validate" style="color:red;"></p>
						</div>
					</div>
				
					<div class="col-md-2">
						<label th:text="#{label.pcName_caption}"></label><span
							style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input required="true" maxlength="30" th:field="*{pcName}" type="text"
								class="form-control" name="pcName"
								placeholder="Example: Klang Parade" />
						</div>
					</div>
					
						</div><div class="row">

					<div class="col-md-2">
						<label th:text="#{label.pcAbbrName_caption}"></label>
						<span
							style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input required="true" th:field="*{pcAbbrName}" maxlength="15" type="text"
								class="form-control" name="pcAbbrName"
								placeholder="Example: Klang Prd" />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.mf11MCompmast_compCode_caption}"></label><span
							style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<select data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" required="true" th:field="*{company}" name="company"
									 id="companyselect"
								onchange="companyBasedDepartment();" onkeyup="companyBasedDepartment();">
								<option value="">Select</option>
								<option th:each="dr : ${cmplist}" th:value="${dr}"
									th:text="${dr}"></option>
							</select>
						</div>
					</div>

						</div><div class="row">
						
					<div class="col-md-2">
						<label th:text="#{label.mf02MStrmast_storeCode_caption}"></label><span
							style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<select name="store" id="storeselect" required="true"
								data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" th:field="*{store}" onchange="pcBasedStore();" onkeyup="pcBasedStore();" disabled="true" >
								<option value="">Select</option>
							</select>
						</div>
					</div>

	
					<div class="col-md-2">
						<label th:text="#{label.mf14MDeptmast_deptCode_caption}"></label><span
							style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<select name="deartment" id="departmentselect" required="true"
								data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" th:field="*{deartment}" onchange="pcBasedDepartment();" onkeyup="pcBasedDepartment();" disabled="true" >
								<option value="">Select</option>
								<option th:each="dr : ${depatlist}" th:value="${dr}"
									th:text="${dr}"></option>
							</select>
						</div>
					</div>
					
						</div><div class="row">

					<div class="col-md-2">
						<label th:text="#{label.storeType_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<select class="form-control" th:field="*{storeType}">

								<option value="">Select</option>
								<option th:each="dr : ${storetypelist}" th:value="${dr}"
									th:text="${dr}"></option>
							</select>
						</div>
					</div>

</div>

<br>
				<div class = "row">
					<div class="col-md-2">
						<label>Profit Center Heads</label>
					</div>
					<div class="col-xs-4">
						<select th:field="*{pcHeadfrom}" name="from[]" id="pchead"
							class="form-control" size="8" multiple="multiple">
							<option th:each="dr : ${pcheads}" th:value="${dr}"
								th:text="${dr}"></option>
						</select>
					</div>

					<div class="col-xs-2">
						<button type="button" id="pchead_rightAll" class="btn btn-block">
							<i class="glyphicon glyphicon-forward"></i>
						</button>
						<button type="button" id="pchead_rightSelected"
							class="btn btn-block">
							<i class="glyphicon glyphicon-chevron-right"></i>
						</button>
						<button type="button" id="pchead_leftSelected"
							class="btn btn-block">
							<i class="glyphicon glyphicon-chevron-left"></i>
						</button>
						<button type="button" id="pchead_leftAll" class="btn btn-block">
							<i class="glyphicon glyphicon-backward"></i>
						</button>
					</div>

					<div class="col-xs-4">
						<select name="to[]" th:field="*{pcHeadto}" id="pchead_to"
							class="form-control" size="8" multiple="multiple"></select>
					</div>
				</div>
<br>

				<div class = "row">
					<div class="col-md-2">
						<label>Profit Center Rights</label>
					</div>
					<div class="col-xs-4">
						<select th:field="*{pcViewRightsfrom}" name="from[]" id="viewrights" 
							class="form-control" size="8" multiple="multiple">
							<option th:each="dr : ${pcrights}" th:value="${dr}"
								th:text="${dr}"></option>
						</select>
					</div>

					<div class="col-xs-2">
						<button type="button" id="viewrights_rightAll"
							class="btn btn-block">
							<i class="glyphicon glyphicon-forward"></i>
						</button>
						<button type="button" id="viewrights_rightSelected"
							class="btn btn-block">
							<i class="glyphicon glyphicon-chevron-right"></i>
						</button>
						<button type="button" id="viewrights_leftSelected"
							class="btn btn-block">
							<i class="glyphicon glyphicon-chevron-left"></i>
						</button>
						<button type="button" id="viewrights_leftAll"
							class="btn btn-block">
							<i class="glyphicon glyphicon-backward"></i>
						</button>
					</div>

					<div class="col-xs-4">
						<select name="to[]" th:field="*{pcViewRightsto}" id="viewrights_to" 
							class="form-control" size="8"
							multiple="multiple"></select>
					</div>
					</div>
				
				<br>
				
				<div class = "row">
					<div class="col-md-2">
						<label th:text="#{label.startDate_caption}"> </label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input th:field="*{startDate}" th:placeholder="${date_format}"  type="text" id ="pc_startDate" class="form-control"
								 name="startDate" onkeydown="return false;"  />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.endDate_caption}"> </label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input th:field="*{endDate}" th:placeholder="${date_format}"  type="text" id ="pc_endDate" class="form-control"
								  name="endDate" onkeydown="return false;"  />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.addressLine1_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input th:field="*{addressLine1}" type="text"
								class="form-control" name="addressLine1" />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.addressLine2_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input th:field="*{addressLine2}" type="text"
								class="form-control" name="addressLine2" />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.addressLine3_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input th:field="*{addressLine3}" type="text"
								class="form-control" name="addressLine3" />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.postArea_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input th:field="*{postArea}" type="text" class="form-control"
								name="postArea" placeholder="Example: KL Sentral" />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.postCode_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input th:field="*{postCode}" type="text" maxlength="10" class="form-control"
								name="postCode" placeholder="Example : 57700" />
						</div>
					</div>
				</div>
			

				<div class="row">
					<div class="col-md-2">
						<span></span>
					</div>
					<div class="col-md-4">
						<button type="submit" class="btn btn-primary"
							th:text="#{label.submit}"></button>
							
							<button
							onclick="$('.profitcenterform').bootstrapValidator('resetForm', true);"
							id="reset" type="reset" class="btn btn-default" th:text="#{label.reset}"></button>
					</div>
				</div>
			</form>
			</div>
			<br />
			
							<div class="well">
			  <div th:fragment="result-table" id="result-table">
				<div class="box box-table">
					<div class="box-header with-border">
						<div class="row" th:if="${list != null}">
							<div class="box-header with-border">
									<h3 class="box-title" th:text="#{label.ordCatList}"></h3>
									<span><h5
											th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
								</div>
							</div>
			<div class="row" th:if="${list != null}">
				<div class="form-group col-md-1">
					<select class="form-control pagination" id="pageSizeSelectTemp" onchange="tableLoad(1);">
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>
					</select>
				</div>
				<div th:if="${list.totalPages != 0}"
					class="form-group col-md-6 pagination-centered">
					<ul class="pagination">
						<li th:class="${list.number == 0} ? disabled"><a
							class="pageLink" onclick="tableLoad(1);"
							>&laquo;</a>
						</li>
						<li th:class="${list.number == 0} ? disabled"><input
								type="hidden" id="t2" th:value="${list.number}" /> <a
											class="pageLink"
											onclick="tableLoad(document.getElementById('t2').value);"
											>&larr;</a>
						</li>
						<li
							th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink"
							onclick="tableLoad(this.text);" 
											th:text="${page}"></a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t4" th:value="${list.number + 2}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t4').value);"
											>&rarr;</a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t5" th:value="${list.totalPages}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t5').value);"
											>&raquo;</a>
						</li>
					</ul>
				</div>
				
				<div class="form-group col-md-5 pagination" align="right">
									<table>
										<tr>
											<td><label>Sort By</label></td>
											<td><select onchange="tableLoad(1);" id="sortingkey"
												th:value="${sortingkey}" class="form-control">
												<!-- th:value are same as entity name -->
													<option th:value="code" th:selected="${sortingkey=='code'}">Code</option>
													<option th:value="name"
														th:selected="${sortingkey=='name'}">Name</option>
														<option th:value="company"
														th:selected="${sortingkey=='company'}">Company</option>
													<option th:value="isactive"
														th:selected="${sortingkey=='isactive'}">Status</option>
														<option th:value="store"
														th:selected="${sortingkey=='store'}">Store</option>
														<option th:value="department"
														th:selected="${sortingkey=='department'}">Department</option>
														<option th:value="lastModifiedOn" th:selected="${sortingkey=='lastModifiedOn'}">Last Modified On</option>
													
													
											</select></td>
											<td><select onchange="tableLoad(1);" id="sortingorder"
												th:value="${sortingorder}" class="form-control">
													<option th:value="ASC" th:selected="${sortingorder=='ASC'}">ASC</option>
													<option th:value="DESC"
														th:selected="${sortingorder=='DESC'}">DESC</option>
											</select></td>
										</tr>
									</table>
								</div>
			</div>
			
	
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
							
								<tr>
									<th th:width="70px" th:text="#{label.serialId}"></th>
									<th th:text="#{label.pcCode_caption}"></th>
									<th th:text="#{label.pcName_caption}"></th>
									<th width="12%" th:text="#{label.mf11MCompmast_compCode_caption}"></th>
									<th width="14%" th:text="#{label.mf14MDeptmast_deptCode_caption}"></th>
									<th width="10%" th:text="#{label.mf02MStrmast_storeCode_caption}"></th>
									<th th:text="#{label.status}"></th>
									<th style="width: 10px" th:text="#{label.edit}"></th>
								</tr>
								
								<tr align="left">
								
									<td><input
										 class="form-control" 
										type="text" disabled = "true"/></td>
										
									<!-- <td align="right" colspan="4">Search</td> -->
									<td><input
										onblur="tableLoad(1);"
										id="Code" class="form-control" th:value="*{code}"
										type="text" /></td>

									<td><input
										onblur="tableLoad(1);"
										id="Name" class="form-control" th:value="*{name}"
										type="text" /></td>

									<td><input
										onblur="tableLoad(1);"
										id="Company" class="form-control" th:value="*{company}"
										type="text" /></td>
									<td><input
										onblur="tableLoad(1);"
										id="Store" class="form-control" th:value="*{store}"
										type="text" /></td>

									<td><input
										onblur="tableLoad(1);"
										id="Department" class="form-control" th:value="*{department}"
										type="text" /></td>

									<td><select
											onchange="tableLoad(1);"
											 th:value="${status}" required="true"
												class="form-control" name="status" id="status">
												 <!-- <option value="" disabled selected hidden>Please Select</option> -->
												<option th:value="All" th:selected="${status=='All'}">All</option>
												<option th:value="Active" th:selected="${status=='Active'}">Active</option>
												<option th:value="InActive" th:selected="${status=='InActive'}">InActive</option>
											</select></td>
											
											<td></td>
								</tr>

	<tbody th:if="${list != null}">
								<tr th:each="d, id : ${list}" >
									<td th:text="${id.index} + 1 + ${serialid}"></td>
									<td th:text="${d.code}"></td>
									<td th:text="${d.name}"></td>
									<td th:text="${d.company}"></td>
									<td th:text="${d.department}"></td>
									<td th:text="${d.store}"></td>
									<td th:text="${d.isIsactive()?'Active':'InActive'}"></td>
									<td><a
										th:href="@{/master/editprofitcenter/{pccode}(pccode=${d.code})}"
										class="btn btn-sm btn-default"><i class="fa fa-edit"
											th:text="'  ' + #{label.edit}"></i></a></td>
											
											
								</tr>
</tbody>
							</table>
						</div>
						<!-- /.box-body -->

					</div>
					<!-- /.box -->
				</div>
			</div>
			</div>
		</div>
	</section>
	<!-- /.content -->
</body>
</html>