<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Scheduler</title>
</head>
<body>

	<div layout:fragment="pageHeader" style="background: #b0b1b3">
		<script type="text/javascript">
			tableLoad(1);
			function tableLoad(page) {
				var e = document.getElementById('pageSizeSelectTemp');
				var pagesize = 5;
				if (e != null) {
					pagesize = e.options[e.selectedIndex].value;
				}
				var temppage = 1;
				if (page != null) {
					temppage = page;
				}
				var sortingkey = "id";
				var sortingorder = "DESC";

				var sortingkeytemp = document.getElementById('sortingkey');
				var sortingordertemp = document.getElementById('sortingorder');
				if (sortingkeytemp != null) {
					sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
				}
				if (sortingordertemp != null) {
					sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
				}

				var task = document.getElementById('Task') != null ? document
						.getElementById('Task').value : "";
				var ScheduleType = document.getElementById('ScheduleType') != null ? document
						.getElementById('ScheduleType').value
						: "";
				var Startdate = document.getElementById('Startdate') != null ? document
						.getElementById('Startdate').value
						: "";

				var st = document.getElementById('status');
				var status = "";
				if (st != null && st.selectedIndex > 0) {

					status = st.options[st.selectedIndex].value;

				}

				$.ajax({
					url : '/master/schedulergrid',
					method : 'GET',

					/* same variable in entity : username,startDate,...*/
					data : {
						"pageSize" : pagesize,
						"page" : temppage,
						"task" : task,
						"scheduleType" : ScheduleType,
						"status" : status,
						"startdate" : Startdate,
						"sortingkey" : sortingkey,
						"sortingorder" : sortingorder
					},
					success : function(data, textStatus, jqXHR) {
						$('#result-table').replaceWith(data);
					}
				});

			}
		</script>
		<section class="content-header">

			<div class="breadcontainer">
				<ul class="breadcrumb">
					<li><a th:href="@{/master/dashboard}"><i
							class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li>Scheduler</li>
				</ul>
			</div>
			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>
		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Add Scheduler</h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="well">
				<form role="form" th:action="@{/master/createscheduler}"
					class="schedulerform" th:object="${schedulerobj}" method="post">
					<div class="row">
						<div class="col-md-2">
							<label>Job Type</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select class="form-control" th:field="*{task}">
									<option th:value="MasterTableUpload"
										th:text="MasterTableUpload">Master Table Upload</option>
									<option th:value="PurchaseOrderExpiry"
										th:text="PurchaseOrderExpiry">PO Expiry</option>
									<option th:value="PasswordExpiry" th:text="PasswordExpiry">Password
										Expiry</option>
									<option th:value="YearEndDBActivity"
										th:text="YearEndDBActivity">Year End DB Activity</option>
								</select>
							</div>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.status}"></label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select required="true" th:field="*{isActive}"
									class="form-control" name="status">
									<option th:value="Active">Active</option>
									<option th:value="InActive">InActive</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row">

						<div class="col-md-2">
							<label>Generate Cron</label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div id="example2-cron" class="cron-builder"></div>
							<button id="example2-btn" type="button" class="btn btn-success">Generate
								Cron Expression</button>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.taskDesc_caption}"></label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<textarea th:field="*{upload}" maxlength="255" type="text"
									class="form-control" name="taxDesc" placeholder=""></textarea>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-2">
							<label></label><span style="color: red"></span>
						</div>
						<div class="col-md-4"></div>
					</div>



					<div class="row">
						<div class="col-md-2">
							<label>Cron Expression</label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<input required="true" class="form-control"
								th:field="*{cronfrequency_amount}" id="example2-result"
								size="16" type="text" readonly>
						</div>

						<div class="col-md-2">
							<label>Cron Details</label>
						</div>
						<div class="col-md-4">
							<input required="true" class="form-control" th:field="*{table}"
								id="cronDetails" size="16" type="text" readonly>
						</div>

					</div>

					<div class="row">
						<div class="col-md-2">
							<label></label><span style="color: red"></span>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="row">
						<div class="col-md-2">
							<span></span>
						</div>
						<div class="col-md-4">
							<button type="submit" class="btn btn-primary">Submit</button>
							<button
								onclick="$('.adminuserform').bootstrapValidator('resetForm', true);"
								type="reset" class="btn btn-default" th:text="#{label.reset}"></button>
						</div>
					</div>
				</form>
			</div>
			<br />


			<div class="well">
				<div th:fragment="result-table" id="result-table">
					<div class="box box-table">
						<div class="box-header with-border">
							<div class="row" th:if="${list != null}">
								<div class="box-header with-border">
									<h3 class="box-title" th:text="#{label.sch_table}"></h3>
									<span><h5
											th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
								</div>
							</div>
							<div class="row" th:if="${list != null}">
								<div class="form-group col-md-1">
									<select class="form-control pagination" id="pageSizeSelectTemp"
										onchange="tableLoad(1);">
										<option th:each="pageSize : ${pageSizes}"
											th:text="${pageSize}" th:value="${pageSize}"
											th:selected="${pageSize} == ${selectedPageSize}"></option>
									</select>
								</div>


								<div th:if="${list.totalPages != 0}"
									class="form-group col-md-6 pagination-centered">
									<ul class="pagination">
										<li th:class="${list.number == 0} ? disabled"><a
											class="pageLink" onclick="tableLoad(1);">&laquo;</a></li>
										<li th:class="${list.number == 0} ? disabled"><input
											type="hidden" id="t2" th:value="${list.number}" /> <a
											class="pageLink"
											onclick="tableLoad(document.getElementById('t2').value);">&larr;</a></li>
										<li
											th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
											th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
											<a class="pageLink" onclick="tableLoad(this.text);"
											th:text="${page}"></a>
										</li>
										<li
											th:class="${list.number + 1 == list.totalPages} ? disabled">
											<input type="hidden" id="t4" th:value="${list.number + 2}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t4').value);">&rarr;</a>
										</li>
										<li
											th:class="${list.number + 1 == list.totalPages} ? disabled">
											<input type="hidden" id="t5" th:value="${list.totalPages}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t5').value);">&raquo;</a>
										</li>
									</ul>
								</div>



								<div class="form-group col-md-5 pagination" align="right">
									<table>
										<tr>
											<td><label>Sort By</label></td>
											<td><select onchange="tableLoad(1);" id="sortingkey"
												th:value="${sortingkey}" class="form-control">
													<!-- th:value are same as entity name -->
													<option th:value="task" th:selected="${sortingkey=='task'}">Task</option>
													<option th:value="scheduleType"
														th:selected="${sortingkey=='scheduleType'}">Schedule
														Type</option>
													<option th:value="status"
														th:selected="${sortingkey=='status'}">Status</option>

													<option th:value="id" th:selected="${sortingkey=='id'}">ID</option>

													<option th:value="startdate"
														th:selected="${sortingkey=='startdate'}">start
														Date</option>
											</select></td>
											<td><select onchange="tableLoad(1);" id="sortingorder"
												th:value="${sortingorder}" class="form-control">
													<option th:value="ASC" th:selected="${sortingorder=='ASC'}">ASC</option>
													<option th:value="DESC"
														th:selected="${sortingorder=='DESC'}">DESC</option>
											</select></td>
										</tr>
									</table>
								</div>
							</div>


							<div class="box-body table-responsive no-padding">
								<table class="table table-hover">
									<tr>
										<th th:width="70px" th:text="#{label.serialId}"></th>
										<th>Job Type</th>
										<th>Cron Details</th>
										<th>Job Description</th>
										<th>Status</th>
										<th style="width: 10px">Edit</th>
										<th style="width: 10px">Delete</th>
									</tr>

									<tr align="left">
										<td><input class="form-control" type="text"
											disabled="true" /></td>
										<!-- <td align="right" colspan="4">Search</td> -->
										<td><input onblur="tableLoad(1);" id="Task"
											class="form-control" th:value="*{task}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="ScheduleType"
											class="form-control" th:value="*{scheduleType}" type="text" /></td>


										<td><input onblur="tableLoad(1);" id="Startdate"
											class="form-control" th:value="*{startdate}" type="text" /></td>

										<td><select onchange="tableLoad(1);" th:value="${status}"
											required="true" class="form-control" name="status"
											id="status">
												<!-- <option value="" disabled selected hidden>Please Select</option> -->
												<option th:value="All" th:selected="${status=='All'}">All</option>
												<option th:value="Stopped"
													th:selected="${status=='Stopped'}">Stopped</option>
												<option th:value="Executed"
													th:selected="${status=='Executed'}">Executed</option>
												<option th:value="Failed" th:selected="${status=='Failed'}">Failed</option>
												<option th:value="Scheduled"
													th:selected="${status=='Scheduled'}">Scheduled</option>
										</select></td>


									</tr>

									<tr th:each="d, id : ${list}">
										<td th:text="${id.index} + 1 + ${serialid}"></td>
										<td th:text="${d.task}"></td>
										<td th:text="${d.crondetails}"></td>
										<td th:text="${d.upload}"></td>
										<td th:text="${d.status}"></td>
										<td><a
											th:href="@{/master/editviewscheduler/{schid}(schid=${d.id})}"
											class="btn btn-sm btn-default"><i class="fa fa-edit"></i>
												Edit</a></td>
										<td><a
											th:href="@{/master/stopScheduler/{schid}(schid=${d.id})}"
											class="btn btn-sm btn-default"><i class="fa fa-trash"></i>
												Delete</a></td>
									</tr>

								</table>
							</div>
							<!-- /.box-body -->
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- /.content -->
</body>
</html>