<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title th:text="#{label.adminTitle_caption}"></title>
</head>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
	
		<script th:inline="javascript">

		var date_format = [[${date_format}]];

		var start = new Date([[${start_date}]]);

		var end = new Date([[${end_date}]]);

			var month_format = date_format.replace("MMM","MM");

			var year_format = month_format.replace("yyyy","yy");

			var format = year_format;
			
		$(document).ready(function(){ 
			
		    $( '#startDates' ).datepicker({dateFormat: 'dd-MM-yy', minDate : start});
		    $( '#endDates' ).datepicker({dateFormat: 'dd-MM-yy', minDate : start});
		    
			$('#startDates').on('change', function(){

				$('#endDates').removeClass('calendarclass');
				$('#endDates').removeClass('hasDatepicker');
				$('#endDates').unbind();
				
			
				$('#endDates').val('');
				
				var myDate = new Date($('#startDates').val());
			    $( '#endDates' ).datepicker({dateFormat: 'dd-MM-yy', minDate : myDate});

			    
			});
			

			});


		////////////////////////////////////////

		var edit =[[${edit}]];
		
		if(edit === true){
		
			var path = window.location.pathname;
			
			path = path.replace(/\/$/, "");
			var query = path.split('/');
			path = decodeURIComponent(path);
			if(query[2].slice(4) === 'master'){
			$('.sidebar-menu').find('a[href*="/users/adminuser"]').addClass('active');
			}
		} 
			function FindUserEmail() {

				var email = document.getElementById("email").value;

				/* var incodedValue = encodeURIComponent(email); */

				$
						.ajax({
							type : "GET",
							url : "/users/adminuseremail/existingemail?email="
									+ email,
							success : function(data) {
								console.log("SUCCESS: ", data);
								$("#email").empty();
								if (data) {

									document.getElementById("validateemail").style.display = "block";
									document.getElementById('email').style.border = "1px solid red";
									document.getElementById("validateemail").innerHTML = "This Email Already Taken by some other User";
									/* document.getElementById("usr").value= ''; */

									$(":submit").attr("disabled", true);

								} else {

									document.getElementById('email').style.border = "";
									document.getElementById("validateemail").style.display = "none";

								}

							},
							error : function(e) {
								console.log("ERROR: ", e);
							},
							done : function(e) {
								console.log("DONE");
							}
						});

			}


			function checkPass() {

				var a = document.getElementById('password').value;

				filter = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!_%*#?&])[A-Za-z\d$@$!%*#_?&]{8,}$/;

				if (filter.test(a)) {

					document.getElementById('recentPassword').disabled = false;
				} else {

					document.getElementById('recentPassword').value = "";
					document.getElementById('recentPassword').disabled = true;

				}

			}
		</script>
		<section class="content-header">
		
		<div class = "breadcontainer">
				<ul class="breadcrumb">
				<li><a th:href="@{/master/dashboard}"><i class="fa fa-home"></i></a></li>
					<li>User Management</li>
					<li><a th:href="@{/users/adminuser}">Admin User Management</a></li>
					<li>Edit Admin User</li>
				</ul>
			</div>
			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>
		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title"
							th:text="#{label.adminUpdateAdminInfo_caption}"></h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="well">
				<form role="form" th:action="@{/users/updatemaster}"
					class="adminuserform" th:object="${masterobj}" method="post">
					<div class="row">
						<div class="col-md-2">
							<label th:text="#{label.username_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('username')}? 'has-error'">
								<input readonly="true" maxlength="7" type="text" class="form-control"
									name="username" th:field="*{username}" placeholder="A_ADMIN" />
								<p th:if="${#fields.hasErrors('username')}"
									th:errors="*{username}" th:class="text-red"
									th:text="#{label.incorrectData}"></p>
							</div>
						</div>


						<div class="col-md-2">
							<label th:text="#{label.adminStartDate_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input required="text" class="form-control" type="text"
									id="startDates" th:field="*{startDate}" name="startDate"
									th:value="*{startDate}" placeholder="Start Date"
									onkeydown="return false;" />
							</div>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.adminEndDate_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input required="true" type="text" class="form-control"
									id="endDates" th:field="*{endDate}" th:value="*{endDate}"
									name="endDate" placeholder="End Date" onkeydown="return false;" />
							</div>
						</div>


						<div class="col-md-2">
							<label th:text="#{label.status}"></label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select th:field="*{isActive}" required="true"
									class="form-control" name="status">
									<option th:value="Active">Active</option>
									<option th:value="InActive">InActive</option>
								</select>
							</div>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.locked}"></label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select th:field="*{isLocked}" required="true"
									class="form-control" name="locked">
									<option th:value="Locked">Locked</option>
									<option th:value="UnLocked">UnLocked</option>
								</select>
							</div>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.email}"></label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input required="true" maxlength="50" type="email" class="form-control"
									onchange="FindUserEmail();" id="email" th:field="*{email}"
									name="email" />
								<p id="validateemail" style="color: red;"></p>
							</div>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.password_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input required="true" maxlength="20" type="password" onchange="checkPass();" class="form-control"
									th:value="*{password}" name="password"  id="password"
									onclick='javascript: this.value = ""' />
							</div>
						</div>

						<div class="col-md-2">
							<label th:text="#{label.confirmPassword_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input required="true" maxlength="20" type="password" class="form-control"
									th:value="*{recentPassword}" name="recentPassword" id="recentPassword" disabled="true"
									onclick='javascript: this.value = ""' />
							</div>
						</div>


						<div class="col-md-2">
							<label>Created By</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdby}"
									class="form-control" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Created On</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdon}"
									class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Updated By</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{updatedby}"
									class="form-control" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Updated On</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{updatedon}"
									class="form-control" />
							</div>
						</div>


						<div th:if="${deactivatedBy==null}" class="col-md-2">
							<label>Deactivated By</label>
						</div>
						<div th:if="${deactivatedBy==null}" class="col-md-4">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{deactivatedBy}"
									class="form-control" />
							</div>
						</div>



						<div th:if="${deactivatedOn==null}" class="col-md-2">
							<label>Deactivated On</label>
						</div>
						<div th:if="${deactivatedOn==null}" class="col-md-4">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{deactivatedOn}"
									class="form-control" />

							</div>
						</div>


						<div th:if="${reactivatedBy==null}" class="col-md-2">
							<label>Reactivated By</label>
						</div>
						<div th:if="${reactivatedBy==null}" class="col-md-4">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{reactivatedBy}"
									class="form-control" />
							</div>
						</div>

						<div th:if="${reactivatedOn==null}" class="col-md-2">
							<label>Reactivated On</label>
						</div>
						<div th:if="${reactivatedOn==null}" class="col-md-4">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{reactivatedOn}"
									class="form-control" />
							</div>
						</div>



					</div>

					<div class="row">
						<div class="col-md-2">
							<span></span>
						</div>
						<div class="col-md-4">
							<button type="submit" class="btn btn-primary"
								th:text="#{label.update}"></button>

							<a style="line-height: 2 !important;"
								+							th:href="@{/users/adminuser}"><i
								+							class="btn btn-default" th:text="#{label.back}"></i></a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!-- /.content -->
</body>
</html>