<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>PO User</title>


<script type="text/javascript">
	tableLoad(1);
	function tableLoad(page) {
		var e = document.getElementById('pageSizeSelectTemp');
		var pagesize = 5;
		if (e != null) {
			pagesize = e.options[e.selectedIndex].value;
		}
		var temppage = 1;
		if (page != null) {
			temppage = page;
		}
		var sortingkey = "lastModifiedOn";
		var sortingorder = "DESC";

		var sortingkeytemp = document.getElementById('sortingkey');
		var sortingordertemp = document.getElementById('sortingorder');
		if (sortingkeytemp != null) {
			sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
		}
		if (sortingordertemp != null) {
			sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
		}

		var psid = document.getElementById('psid') != null ? document
				.getElementById('psid').value : "";
		var empName = document.getElementById('empname') != null ? document
				.getElementById('empname').value : "";
		var firstTimeLogin = document.getElementById('firstTimeLogin') != null ? document
				.getElementById('firstTimeLogin').value
				: "";
		var lastLogin = document.getElementById('lastLogin') != null ? document
				.getElementById('lastLogin').value : "";

		var st = document.getElementById('status');
		var status = "";
		if (st != null && st.selectedIndex > 0) {

			status = st.options[st.selectedIndex].value;

		}

		$.ajax({
			url : '/users/pousergrid',
			method : 'GET',

			/* same variable in entity : username,startDate,...*/
			data : {
				"pageSize" : pagesize,
				"page" : temppage,
				"psid" : psid,
				"empName" : empName,
				"firstTimeLogin" : firstTimeLogin,
				"lastLogin" : lastLogin,
				"status" : status,
				"sortingkey" : sortingkey,
				"sortingorder" : sortingorder
			},
			success : function(data, textStatus, jqXHR) {
				$('#result-table').replaceWith(data);
			}
		});

	}

	function populateEmpName() {

		var s = document.getElementById("psId").selectedIndex;
		var o = document.getElementsByTagName("option")[s].value;

		$.ajax({
			type : "GET",
			url : "/users/pouser/populateEmpName?psid=" + o,
			success : function(data) {
				console.log("SUCCESS: ", data);
				$("#empName").empty();

				data.forEach(function(item, i) {

					document.getElementById("empName").value = item.name;

				});
			},
			error : function(e) {
				console.log("ERROR: ", e);
			},
			done : function(e) {
				console.log("DONE");
			}
		});
	}

	$(document).ready(function() {

		$(":reset").click(function() {

			$("#psId").selectpicker("refresh");

		});

	});
</script>

</head>
<body>
	<div layout:fragment="pageHeader" style="background: #b0b1b3">
		<section class="content-header">

			<div class="breadcontainer">
				<ul class="breadcrumb">
					<li><a th:href="@{/master/dashboard}"><i
							class="fa fa-home"></i></a></li>
					<li>User Management</li>
					<li>PO User Management</li>
				</ul>
			</div>
			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>
		</section>
	</div>
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.enterPOUser}"></h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="well">
				<form role="form" th:action="@{/users/createpouser}"
					class="pouserform" th:object="${pouserbj}" method="post">
					<div class="row">
						<div class="col-md-2">
							<label th:text="#{label.psid_caption}"></label><span
								style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input placeholder="--Search--" required="true" th:field="*{psID}" class="form-control"
									type="text" autocomplete="off" id="employeeautocompleteselect"
									name="employeeautocompleteselect">
							</div>
						</div>
						<div class="col-md-2">
							<label th:text="#{label.empname_caption}"></label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input required="true" type="text" class="form-control"
									id="empName" readonly th:field="*{empName}" name="empName" />
							</div>
						</div>

						<!-- 	<div class="col-md-2">
						<label th:text="#{label.empname_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input required="true" type="text" class="form-control" id="empName" readonly
								th:field="*{empName}" name="empName" />
						</div>
					</div> -->

					</div>
					<div class="row">
						<div class="col-md-2">
							<span></span>
						</div>
						<div class="col-md-4">
							<button type="submit" class="btn btn-primary"
								th:text="#{label.submit}"></button>

							<button
								onclick="$('.pouserform').bootstrapValidator('resetForm', true);"
								type="reset" class="btn btn-default" th:text="#{label.reset}"></button>
						</div>
					</div>
				</form>
			</div>
			<br />

			<div class="well">
				<div th:fragment="result-table" id="result-table">
					<div class="box box-table">
						<div class="box-header with-border">
							<div class="row" th:if="${list != null}">
								<div class="box-header with-border">
									<h3 class="box-title" th:text="#{label.pouserlist_caption}"></h3>
									<span><h5
											th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
								</div>
							</div>
							<div class="row" th:if="${list != null}">
								<div class="form-group col-md-1">
									<select class="form-control pagination" id="pageSizeSelectTemp"
										onchange="tableLoad(1);">
										<option th:each="pageSize : ${pageSizes}"
											th:text="${pageSize}" th:value="${pageSize}"
											th:selected="${pageSize} == ${selectedPageSize}"></option>
									</select>
								</div>
								<div th:if="${list.totalPages != 0}"
									class="form-group col-md-6 pagination-centered">
									<ul class="pagination">
										<li th:class="${list.number == 0} ? disabled"><a
											class="pageLink" onclick="tableLoad(1);" >&laquo;</a>
										</li>
										<li th:class="${list.number == 0} ? disabled"><input
											type="hidden" id="t2" th:value="${list.number}" /> <a
											class="pageLink"
											onclick="tableLoad(document.getElementById('t2').value);"
											>&larr;</a></li>
										<li
											th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
											th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
											<a class="pageLink" onclick="tableLoad(this.text);" 
											th:text="${page}"></a>
										</li>
										<li
											th:class="${list.number + 1 == list.totalPages} ? disabled">
											<input type="hidden" id="t4" th:value="${list.number + 2}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t4').value);"
											>&rarr;</a>
										</li>
										<li
											th:class="${list.number + 1 == list.totalPages} ? disabled">
											<input type="hidden" id="t5" th:value="${list.totalPages}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t5').value);"
											>&raquo;</a>
										</li>
									</ul>
								</div>

								<div class="form-group col-md-5 pagination" align="right">
									<table>
										<tr>
											<td><label>Sort By</label></td>
											<td><select onchange="tableLoad(1);" id="sortingkey"
												th:value="${sortingkey}" class="form-control">
													<!-- th:value are same as entity name -->
													<option th:value="id" th:selected="${sortingkey=='id'}">PSID</option>
													<option th:value="empName"
														th:selected="${sortingkey=='empName'}">Emp Name</option>
													<option th:value="firstTimeLogin"
														th:selected="${sortingkey=='firstTimeLogin'}">First
														Time Login</option>
													<option th:value="isActive"
														th:selected="${sortingkey=='isActive'}">Status</option>

													<option th:value="lastLogin"
														th:selected="${sortingkey=='lastLogin'}">Last
														Login</option>

													<option th:value="lastModifiedOn"
														th:selected="${sortingkey=='lastModifiedOn'}">Last
														Modified On</option>


											</select></td>
											<td><select onchange="tableLoad(1);" id="sortingorder"
												th:value="${sortingorder}" class="form-control">
													<option th:value="ASC" th:selected="${sortingorder=='ASC'}">ASC</option>
													<option th:value="DESC"
														th:selected="${sortingorder=='DESC'}">DESC</option>
											</select></td>
										</tr>
									</table>
								</div>

							</div>


							<div class="box-body table-responsive no-padding">
								<table class="table table-hover">


									<tr>
										<th th:width="70px" th:text="#{label.serialId}"></th>
										<th th:text="#{label.psid_caption}"></th>
										<th th:text="#{label.empname_caption}"></th>
										<th th:text="#{label.firsttimelogin_caption}"></th>
										<th th:text="#{label.lastlogin_caption}"></th>
										<th th:text="#{label.status}"></th>
										<th style="width: 10px" th:text="#{label.edit}"></th>
									</tr>

									<tr align="left">

										<td><input class="form-control" type="text"
											disabled="true" /></td>

										<!-- <td align="right" colspan="4">Search</td> -->
										<td><input onblur="tableLoad(1);" id="psid"
											class="form-control" th:value="*{psid}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="empname"
											class="form-control" th:value="*{empName}" type="text" /></td>


										<td><input onblur="tableLoad(1);" id="firstTimeLogin"
											class="form-control" th:value="*{firstTimeLogin}" type="text" /></td>
										<td><input onblur="tableLoad(1);" id="lastLogin"
											class="form-control" th:value="*{lastLogin}" type="text" /></td>

										<td><select onchange="tableLoad(1);" th:value="${status}"
											required="true" class="form-control" name="status"
											id="status">
												<!-- <option value="" disabled selected hidden>Please Select</option> -->
												<option th:value="All" th:selected="${status=='All'}">All</option>
												<option th:value="Active" th:selected="${status=='Active'}">Active</option>
												<option th:value="InActive"
													th:selected="${status=='InActive'}">InActive</option>
										</select></td>


									</tr>
									<tbody th:if="${list != null}">
										<tr th:each="d, id : ${list}">
											<td th:text="${id.index} + 1 + ${serialid}"></td>
											<td th:text="${d.id}"></td>
											<td th:text="${d.empName}"></td>
											<td th:text="${#dates.format(d.firstTimeLogin, date_format)}"></td>
											<td th:text="${#dates.format(d.lastLogin, date_format)}"></td>
											<td th:text="${d.isActive()?'Active':'InActive'}"></td>
											<td><a
												th:href="@{/users/editpouser/{psid}(psid=${d.id})}"
												class="btn btn-sm btn-default"><i class="fa fa-edit"
													th:text="'  ' +#{label.edit}"></i></a></td>
										</tr>
									</tbody>

								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>