<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="#{label.poadmin}"></title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />

<link rel="stylesheet"
	th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/assets/dist/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/assets/dist/css/ionicons.min.css}" />
<link rel="stylesheet" th:href="@{/assets/dist/css/family.css}" />
<link rel="stylesheet" th:href="@{/assets/dist/css/AdminLTE.min.css}" />
<link rel="stylesheet"
	th:href="@{/assets/dist/css/bootstrap-select.min.css}" />
<link rel="stylesheet"
	th:href="@{/assets/dist/css/collapsable-sidebar-menu.css}" />
<link rel="stylesheet"
	th:href="@{/assets/dist/css/skins/skin-blue.min.css}" />
<link rel="stylesheet"
	th:href="@{/assets/dist/css/bootstrapValidator.min.css}" />
<link rel="stylesheet" th:href="@{/assets/dist/css/jquery-ui.css}">
<link rel="stylesheet" th:href="@{/assets/dist/css/fileinput.css}"
	media="all" type="text/css" />
<link rel="stylesheet" th:href="@{/assets/dist/css/sweetalert.css}"
	media="all" type="text/css" />
<link rel="stylesheet"
	th:href="@{/assets/dist/themes/explorer-fa/theme.css}" media="all"
	type="text/css" />
<link rel="stylesheet" media="all" type="text/css"
	th:href="@{/assets/dist/css/jquery-cron-quartz.css}">

<script th:src="@{'/assets/plugins/jQuery/jQuery-2.1.4.min.js'}"
	type="text/javascript"></script>
<script th:src="@{'/assets/dist/js/sweetalert-dev.js'}"
	type="text/javascript"></script>
<script th:src="@{'/assets/dist/js/sweetalert.min.js'}"
	type="text/javascript"></script>
<script th:src="@{'/assets/dist/js/vertical-menu.js'}"
	type="text/javascript"></script>
<script type="text/javascript"
	th:src="@{'/assets/dist/js/jquery-cron-quartz.js'}"></script>

<style type="text/css">
body {
	font-size: 10pt;
}

.iiconcolor title {
	color: red !important;
}

.pagination-centered {
	text-align: left;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}

.box.box-info {
	border-top-color: #be9868;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title
	{
	display: inline-block;
	font-size: 12pt;
	margin: 0;
	line-height: 1;
}

.sidebar-menu>li>a {
	padding: 3px 5px 3px 15px;
	display: block;
}

.skin-blue .main-header .logo {
	background-color: #000 !important;
	color: #fff;
	border-bottom: 0 solid transparent;
	color: #fff;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
	background-color: #545556;
}

.skin-blue .main-header .navbar {
	background-color: #545556;
}

table, th, td {
	border: 1px solid #f4f4f4;
}

#admin {
	margin-right: 30px;
}

.pagination-centered {
	text-align: left;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}

.no-spin::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.content-wrapper {
	background-color: #e0e0e0;
}

.box {
	margin-bottom: 10px;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}

.box-title {
	font-weight: bold;
	font-size: 15px;
}

.box-table {border-radius = 2px;
	border: 2px solid #e6e6e6;
}

.btn-primary {
	background-color: black;
	border-color: black;
}

.btn-primary:hover {
	background-color: #be9868;
	border-color: #be9868;
}

label {
	font-weight: 600;
}

.editicon {
	margin-left: 19px;
	margin-top: 10px;
}

.col-md-2 {
	margin-top: 6px;
}

.breadcontainer {
	margin-top: 60px;
	width: 35%;
}

ul.breadcrumb {
	list-style: none;
	background-color: #e0e0e0;
	border: 1px solid #ccc;
}

ul.breadcrumb li {
	display: inline;
	font-size: 13px;
}

ul.breadcrumb li+li:before {
	padding: 4px;
	color: black;
	content: "\00bb";
}

ul.breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}

ul.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}

.active, a.active {
	color: #be9868 !important;
}

.has-feedback .form-control-feedback {
	top: 0px;
	right: 5px;
}

[data-title]:hover:after {
	opacity: 1;
	transition: all 0.1s ease 0.5s;
	visibility: visible;
}

[data-title]:after {
	content: attr(data-title);
	position: fixed;
	left: 100%;
	padding: 4px 4px 4px 8px;
	color: #222;
	white-space: nowrap;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 4px #222;
	-webkit-box-shadow: 0px 0px 4px #222;
	box-shadow: 0px 0px 4px #222;
	background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f8f8f8),
		color-stop(1, #cccccc));
	background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);
	background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);
	background-image: -ms-linear-gradient(top, #f8f8f8, #cccccc);
	background-image: -o-linear-gradient(top, #f8f8f8, #cccccc);
	opacity: 0;
	z-index: 9999;
	visibility: hidden;
}

[data-title] {
	position: relative;
	z-index: 9999;
}
</style>

<script type="text/javascript">
	setInterval(function() {
		var date = new Date().toString();
		var d = date.slice(0, 25);
		document.getElementById("timedate").innerHTML = d;
	}, 1000);

	$(function() {
		var path = window.location.pathname;
		path = path.replace(/\/$/, "");
		path = decodeURIComponent(path);
		$('.sidebar-menu').find('a[href*="' + path + '"]').addClass('active');
	});
</script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<!-- Main Header -->
		<header class="main-header">
			<!-- Logo -->
			<a href="#" class="logo"> <span class="logo-mini"><img
					height="40" width="50" th:src="@{/assets/dist/img/small-logo.png}"
					class="img-circle" alt="Parkson" /></span> <!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><img
					th:src="@{/assets/dist/img/logo.png}" alt="parkson" /></span>
			</a>
			<!-- Header Navbar -->
			<nav class="navbar navbar-fixed-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only" th:text="#{label.togNav}"></span>
				</a>
				<!-- Navbar Right Menu -->
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- User Account Menu -->
						<li class="dropdown user user-menu">
							<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> <!-- The user image in the navbar-->
								<img th:src="@{/assets/dist/img/user.png}" class="user-image"
								alt="User Image" /> <!-- hidden-xs hides the username on small devices so only the image appears. -->
								<span id="admin" class="hidden-xs" th:text="*{userid}"> </span><span
								id="timedate"></span>
						</a>
							<ul class="dropdown-menu">
								<!-- The user image in the menu -->
								<li class="user-header"><img
									th:src="@{/assets/dist/img/user.png}" class="img-circle"
									alt="User Image" />
									<p>
										<span id="admin" th:text="*{userid}"> </span>
									</p></li>
								<!-- Menu Footer-->
								<li class="user-footer">

									<div class="pull-left">
										<a href="#" data-toggle="modal" data-target="#changePassword"
											class="btn btn-default btn-flat" onclick="resetformLoad();"
											th:text="#{label.change_password_header}"></a>
									</div>
									<div class="pull-right">
										<a href="logout" th:href="@{/logout}"
											class="btn btn-default btn-flat" th:text="#{label.signOut}"></a>
									</div>
								</li>
							</ul>
						</li>

					</ul>
				</div>
			</nav>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">

			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">

				<div id="collapsable-sidebar-menu">
					<ul id="menu" class="sidebar-menu">
						<li></li>

						<li>
							<h3>
								<li style="margin-left: 10px;"><i class="fa fa-dashboard"><span
										style="margin-left: 25px;" th:text="#{label.dashboard}"></span></i></li>
							</h3>
							<ul>
								<li><a id="dashboard" href="#"
									th:href="@{'/master/dashboard'}"><i
										class="fa fa-dashboard" th:data-title="#{label.dashboard}"></i><span
										th:text="#{label.dashboard}"></span></a></li>
							</ul>
						</li>
						<li th:if="${roleId == 1}">
							<h3>
								<li th:if="${roleId == 1}" style="margin-left: 10px;"><i
									class="fa fa-users"><span style="margin-left: 25px;"
										th:if="${roleId == 1}" th:text="#{label.menuUserManagement}"></span></i></li>
							</h3>
							<ul>
								<li><a id="adminuser" th:if="${roleId == 1}" href="#"
									th:href="@{'/users/adminuser'}"> <i
										th:data-title="#{label.menuAdminUserMan}"
										class="fa fa-user-secret"></i> <span th:if="${roleId == 1}"
										th:text="#{label.menuAdminUserMan}"></span></a></li>

								<li><a id="pouser" th:if="${roleId == 1}" href="#"
									th:href="@{'/users/pouser'}"><i
										th:data-title="#{label.menuPOUserMan}" class="fa  fa-user"></i>
										<span th:if="${roleId == 1}" th:text="#{label.menuPOUserMan}"></span></a></li>
							</ul>
						</li>
						<li>
							<h3>
								<li style="margin-left: 10px;"><i class="fa fa-trash"><span
										style="margin-left: 25px;" th:text="#{label.AuditTrail_menu}"></span></i></li>
							</h3>
							<ul>
								<li><a id="logs" href="#" th:href="@{'/audit/logs'}"><i
										th:data-title="#{label.logTitle_menucaption}"
										class="fa fa-history"></i> <span
										th:text="#{label.logTitle_menucaption}"></span></a></li>

								<li><a id="audittraillist" href="#"
									th:href="@{'/audit/audittraillist'}"> <i
										th:data-title="#{label.AuditTrail_menu}" class="fa fa-wrench"></i>
										<span th:text="#{label.AuditTrail_menu}"></span></a></li>
							</ul>
						</li>
						<li>
							<h3>
								<li style="margin-left: 10px;"><i class="fa fa-th-list"><span
										style="margin-left: 25px;"
										th:text="#{label.menuMasterFileMan}"></span></i></li>
							</h3>
							<ul>
								<li><a id="company" href="#" th:href="@{'/master/company'}">
										<i th:data-title="#{label.compTitle_caption}"
										class="fa fa-industry"></i> <span
										th:text="#{label.compTitle_caption}"></span>
								</a></li>

								<li><a id="store" href="#" th:href="@{'/master/store'}"><i
										th:data-title="#{lable.storeTitle_caption}"
										class="fa fa-building"></i> <span
										th:text="#{lable.storeTitle_caption}"></span></a></li>

								<li><a id="department" href="#"
									th:href="@{'/master/department'}"> <i
										th:data-title="#{label.deptTitle_caption}"
										class="fa fa-building-o"></i> <span
										th:text="#{label.deptTitle_caption}"></span></a></li>

								<li><a id="profitcenter" href="#"
									th:href="@{'/master/profitcenter'}"> <i
										th:data-title="#{label.pcCodeMenu_caption}"
										class="fa fa-money"></i> <span
										th:text="#{label.pcCodeMenu_caption}"></span></a></li>

								<li><a id="gst" href="#" th:href="@{'/master/gst'}"> <i
										th:data-title="#{label.gstTitle_caption}"
										class="fa  fa-gg-circle"></i> <span
										th:text="#{label.gstTitle_caption}"></span></a></li>

								<li><a id="purchase" href="#"
									th:href="@{'/master/purchase'}"><i
										th:data-title="#{label.prTitle_caption}"
										class="fa fa-opencart"></i> <span
										th:text="#{label.prTitle_caption}"></span></a></li>

								<li><a id="ordercategory" href="#"
									th:href="@{'/master/ordercategory'}"> <i
										th:data-title="#{label.ordCatTitle_caption}"
										class="fa fa-shopping-cart"></i> <span
										th:text="#{label.ordCatTitle_caption}"></span></a></li>

								<li><a id="ordersubcategory" href="#"
									th:href="@{'/master/ordersubcategory'}"> <i
										th:data-title="#{label.ordSubCatTitle_caption}"
										class="fa fa-truck"></i> <span
										th:text="#{label.ordSubCatTitle_caption}"></span></a></li>

								<li><a id="scheduler" href="#"
									th:href="@{'/master/scheduler'}"><i
										th:data-title="#{label.schedSchedulerTitle}"
										class="fa fa-calendar"></i> <span
										th:text="#{label.schedSchedulerTitle}"></span></a></li>
							</ul>
						</li>
						<li>
							<h3>
								<li style="margin-left: 10px;"><i class="fa fa-user-plus"><span
										style="margin-left: 25px;" th:text="#{label.empMan }"></span></i></li>
							</h3>
							<ul>
								<li><a id="employeelist" href="#"
									th:href="@{'/employee/emplist'}"> <i
										th:data-title="#{label.empEmployee}" class="fa fa-group"></i>
										<span th:text="#{label.empEmployee}"></span></a></li>

								<li><a id="jobmaster" href="#"
									th:href="@{'/employee/jobmaster'}"><i
										th:data-title="#{label.jobTitle_caption}" class="fa fa-tasks"></i>
										<span th:text="#{label.jobTitle_caption}"></span></a></li>
							</ul>
						</li>
						<li>
							<h3>
								<li style="margin-left: 10px;"><i class="fa fa-desktop"><span
										style="margin-left: 25px;" th:text="#{label.sysConFig}"></span></i></li>
							</h3>
							<ul>
								<li><a id="masterdata" href="#"
									th:href="@{'/system/masterdata'}"><i
										th:data-title="#{label.mastDataTitle}" class="fa  fa-database"></i>
										<span th:text="#{label.mastDataTitle}"></span></a></li>

								<li><a id="systemparameter" href="#"
									th:href="@{'/system/parameter'}"><i
										th:data-title="#{label.sysParamTitle}" class="fa fa-cog"></i>
										<span th:text="#{label.sysParamTitle}"></span></a></li>
							</ul>
						</li>
					</ul>
				</div>

				<!-- /.sidebar-menu -->
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div layout:fragment="pageHeader">
				<section class="content-header"></section>
			</div>

			<!-- Main content -->
			<section class="content">
				<div layout:fragment="content"></div>
				<!-- 	<div layout:fragment="table"></div> 
			 <div th:replace="master/department_Table :: table"></div> -->
			</section>
			<!-- /.content -->


		</div>
	</div>
	<div id="changePasswords" class="modal fade" role="dialog"
		th:fragment="changePasswords">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h4 class="modal-title">
						&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<span
							id="dialogmessage1" style="color: white;"></span>
					</h4>
				</div>
			</div>
		</div>
	</div>

	<div id="changePassword" class="modal fade" role="dialog"
		th:fragment="changePassword">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h4 class="modal-title">
						<h3 class="box-title" th:text="#{label.reset_password_header}"></h3>
					</h4>
				</div>
				<span id="dialogmessage" style="color: red;"></span>
				<form role="form" class="resetpwdform" id="resetpwdform">
					<div class="modal-body">
						<div class="form-group">
							<label>Current Password</label> <input type="password"
								name="currentPassword" id="currentPassword" class="form-control"
								required="true" />
						</div>
						<div class="form-group">
							<label>New Password</label> <input type="password"
								name="newpassword" id="newpassword" class="form-control"
								required="true" />
						</div>
						<div class="form-group">
							<label>Confirm Password</label> <input type="password"
								name="confirmpassword" id="confirmpassword" class="form-control"
								required="true" />
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="dialog" title="Session Timeout Info" style="display: none">
		<p>Your session will be timeout within 10 seconds.</p>
	</div>
	<!-- ./wrapper -->

	<script th:src="@{'/assets/bootstrap/js/bootstrap.min.js'}"
		type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/bootstrapValidator.min.js'}"
		type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/app.min.js'}" type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/validation.js'}"
		type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/bootstrap3-typeahead.js'}"
		type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/multiselect.js'}"
		type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/general.js'}" type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/searchscript.js'}"
		type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/fileinput.js'}"
		type="text/javascript"></script>
	<script th:src="@{'/assets/dist/themes/explorer-fa/theme.js'}"
		type="text/javascript"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
		type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/popper.min.js'}"
		type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/bootstrap-select.min.js'}"
		type="text/javascript"></script>
	<!-- <script th:src="@{'/assets/dist/js/autocomplete.js'}" type="text/javascript"></script> -->

	<script type="text/javascript">
		$(document).ready(function() {
			changePageAndSize();
			window.setTimeout(function() {
				$(".alert").fadeTo(300, 0).slideUp(300, function() {
					$(this).remove();
				});
			}, 3000);
		});
		
		$('#employeeautocompleteselect').typeahead({
			
			// data source
			source : function(query, result) {
				$.ajax({
					url : "/users/adminuser/employeeautocomplete",
					method : "GET",
					dataType : "json",
					data : {
						query : query
					},
					success : function(data) {
						result($.map(data, function(item) {
							return item;
						}));
					}
				})
			},
			// how many items to display
			items : 20,

			// enable scrollbar
			scrollBar : false,

			// equalize the dropdown width
			alignWidth : true,

			// typeahead dropdown template
			menu : '<ul class="typeahead dropdown-menu"></ul>',
			item : '<li><a href="#"></a></li>',

			// The object property that is returned when an item is selected.
			valueField : 'id',

			// The object property to match the query against and highlight in the
			// results.
			displayField : 'name',

			// auto select
			autoSelect : true,

			afterSelect : function(item) {
				document.getElementById('employeeautocompleteselect').value=item.id;
				populateEmpName();
				
			}
			
			
			

		});
		
		function populateEmpName() {

			var o = document.getElementById('employeeautocompleteselect').value;
			
			$.ajax({
				type : "GET",
				url : "/users/pouser/populateEmpName?psid=" + o,
				success : function(data) {
					console.log("SUCCESS: ", data);
					$("#empName").empty();

					data.forEach(function(item, i) {

						document.getElementById("empName").value = item.name;

					});
				},
				error : function(e) {
					console.log("ERROR: ", e);
				},
				done : function(e) {
					console.log("DONE");
				}
			});
		}

		function resetform() {
			document.getElementById('currentPassword').value = "";
			document.getElementById('confirmpassword').value = "";
			document.getElementById('newpassword').value = "";
		}

		function resetformLoad() {
			document.getElementById('currentPassword').value = "";
			document.getElementById('confirmpassword').value = "";
			document.getElementById('newpassword').value = "";
			document.getElementById("dialogmessage").textContent = "";
		}

		$("#resetpwdform").submit(function(e) {
			e.preventDefault();
			var cpassword = document
					.getElementById('currentPassword') != null ? document
					.getElementById('currentPassword').value
					: "";
			var confirmpassword = document
					.getElementById('confirmpassword') != null ? document
					.getElementById('confirmpassword').value
					: "";
			var newpassword = document
					.getElementById('newpassword') != null ? document
					.getElementById('newpassword').value
					: "";
					
			$.ajax({
				url : '/resetPwdget',
				method : 'GET',
				data : {
					"currentPassword" : cpassword,
					"newpassword" : newpassword,
					"confirmpassword" : confirmpassword
				},
				success : function(data, textStatus,
						jqXHR) {
					if (data.includes("successfully")) {
						
						resetform();
						$('#changePassword').modal(
								'hide');
						$('#changePasswords').modal(
								'show');
						document
								.getElementById("dialogmessage1").textContent = "Password has been changed successfuly.";
					} else {

						document.getElementById('currentPassword').value = "";
						document
								.getElementById("dialogmessage").textContent = "Invalid Current Password.";
					}
				},error : function(e) {
					console.log("ERROR: ", e);
				},
				done : function(e) {
					console.log("DONE");
				}  
			
			});
		});

		$("#company_logo").fileinput({
			'theme' : 'explorer-fa',
			'uploadUrl' : '#',
			overwriteInitial : true,
			initialPreviewAsData : true
		});

		$("#company_letter").fileinput({
			'theme' : 'explorer-fa',
			'uploadUrl' : '#',
			overwriteInitial : true,
			initialPreviewAsData : true
		});

		$("#company_tcP").fileinput({
			'theme' : 'explorer-fa',
			'uploadUrl' : '#',
			overwriteInitial : true,
			initialPreviewAsData : true
		});

		$("#company_tcL").fileinput({
			'theme' : 'explorer-fa',
			'uploadUrl' : '#',
			overwriteInitial : true,
			initialPreviewAsData : true
		});

		$("#auth-Grid").fileinput({
			'theme' : 'explorer-fa',
			'uploadUrl' : '#',
			overwriteInitial : true,
			initialPreviewAsData : true
		});
	</script>

	<script type="text/javascript">	
		jQuery(document).ready(function($) {


			 $('#example2-cron').cronBuilder();
             $('#example2-btn').click(function(){
                 var current=$('#example2-cron').data('cronBuilder').getExpression();

                document.getElementById("example2-result").value=current;
                populateCronDetails();
             
             })
             
             


			
				$('#pchead').multiselect({
					search : {
						left : '<input id="pchead_left_search" onchange="pcHeadsAutocomplete()" type="text" name="q" class="form-control" placeholder="Search..." />',
						right : '<input type="text" name="q" class="form-control" placeholder="Search..." />',
					},
					fireSearch : function(value) {
						return value.length > 0;
					}
				});
             
        
             
             
				$('#viewrights').multiselect({
					search : {
						left : '<input id="viewrights_left_search" onchange="viewRightsAutocomplete()"  type="text" name="q" class="form-control" placeholder="Search..." />',
						right : '<input type="text" name="q" class="form-control" placeholder="Search..." />',
					},
					fireSearch : function(value) {
						return value.length > 0;
					}
				});
				$("#collapsable-sidebar-menu h3").click(function(){
					$("#collapsable-sidebar-menu ul ul").slideUp();
					if(!$(this).next().is(":visible")) {
						$(this).next().slideDown();
					}
				})
				
		        $(".sidebar-menu li ul li a").click(function () {
		            var id = $(this).attr("id");
		            $('#' + id).siblings().find(".active").removeClass("active");
		            $('#' + id).addClass("active");
		            localStorage.setItem("selectedolditem", id);
		        });
	
		        var selectedolditem = localStorage.getItem('selectedolditem');
		        if (selectedolditem != null) {
		            $('#' + selectedolditem).siblings().find(".active").removeClass("active");
		            $('#' + selectedolditem).parents('li').addClass("active");
		        }
		});
		
		
		function populateCronDetails() {

			var o = document.getElementById('example2-result').value;
			
			$.ajax({
				type : "GET",
				url : "/master/populateCronDetails?cron=" + o,
				success : function(data) {
					console.log("SUCCESS: ", data);
					$("#cronDetails").empty();

						document.getElementById("cronDetails").value = data;

				},
				error : function(e) {
					console.log("ERROR: ", e);
				},
				done : function(e) {
					console.log("DONE");
				}
			});
		}
	</script>
	
	<script type="text/javascript">
		function loadDialog() {
		 var element = document.getElementById("dialog");
		 element.innerHTML = "<div class='caption' style='display:none' >Session is about to expire!</div>"
				+ "<div class='textinput' style='display:none'>Please save your work or your data will be lost. Click OK to continue. "
				+ "<input type='text' name='value' value='closeSession' style='display:none'/> "
				+ "<input type='button' id='button' value='OK' style='visibility:hidden'/>"
				+ "</div>";
			
			var t;
			window.onmousemove = resetTimer;
			window.onmousedown = resetTimer;
			window.onclick = resetTimer;
			window.onscroll = resetTimer;
			window.onkeypress = resetTimer;

			function closeSession() {
				window.location.href = '/login';
			}

			function logout() {
				clearTimeout(t);
				t = setTimeout(closeSession, 120000);
				var timer = 120, // timer in seconds
				isTimerStarted = false;

				(function customSwal() {
					swal({
						title : "Session is about to expire in "
								+ timer + " seconds",
						text : "Please save your work or your data will be lost. Click OK to continue. ",
						timer : !isTimerStarted ? timer * 1000
								: undefined,
						type : 'warning',
						showCancelButton : true,
						confirmButtonColor : '#3085d6',
						cancelButtonColor : '#d33',
						confirmButtonText : 'Yes, close it!',
						cancelButtonText : 'OK',
						closeOnConfirm : false,
						closeOnCancel : true
					},
					function(isConfirm) {
						if (!isConfirm) {
							timer = 0;
							clearTimeout(b);
						} else {
							window.location.href = 'poAdmin/login';
						}
					});
					
					isTimerStarted = true;
					if (timer != 0) {
						timer--;
						b = setTimeout(customSwal, 1000);
					} else {
						window.location.href = 'poAdmin/login';
						swal.close();
					}
				})();
			}

			function reload() {
				window.location = self.location.href;
			}

			function resetTimer() {
				clearTimeout(t);
				t = setTimeout(logout, 420000);
			}

			// Getter and setter for the value property
			this.getValue = function() {
				return element.getElementsByTagName("input")[0].value;
			};
			this.setValue = function(value) {
				element.getElementsByTagName("input")[0].value = value;
			};
			// Default implementation of the click handler
			this.click = function() {
				window.location.href = 'poAdmin/login';
			};
			// Set up button click
			var button = element.getElementsByTagName("input")[1];
			var self = this; // Can't use this inside the function
			button.onclick = function() {
				self.click();
			};
		};
		loadDialog();
	</script>


</body>
</html>