<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
<title>po-admin</title>
<link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}" />
<link rel="stylesheet" th:href="@{/assets/dist/css/AdminLTE.min.css}" />
<link rel="stylesheet" th:href="@{/assets/dist/css/skins/skin-blue.min.css}" />
<style type="text/css">
body {
	background: #D9D9D9;
	background-image: url(assets/dist/img/archetype-login-bg.jpg);
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: 100%;
}

.content {
    background: #0000; 
    min-height: 250px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.login-information {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	background: rgba(1, 68, 27, 0.7);
	background-color: rgba(1, 68, 27, 0.7);
	padding: 21px 21px 21px 21px;
	color: #f2f6fa;
	-webkit-animation: valo-animate-in-fade 1s 1s backwards;
	-moz-animation: valo-animate-in-fade 1s 1s backwards;
	animation: valo-animate-in-fade 1s 1s backwards;
}

.login-information h1 {
	color: inherit;
}
</style>
</head>
<body>
	<div class="container">
		<div class="col-xs-3 login-information">
			<table>
				<tr>
					<td><img th:src="@{/assets/dist/img/logo.png}" alt="parkson" /></td>
				</tr>
				<tr>
					<td><h3>Parkson Non Trade Purchase Order Management
							System</h3></td>
				</tr>
				<tr>
					<td>
						<h6>&copy; Parkson Corp.</h6>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content"></div>
	</section>
	<script type = "text/javascript" th:src="@{'/assets/plugins/jQuery/jQuery-2.1.4.min.js'}"></script>
	<script type = "text/javascript" th:src="@{'/assets/bootstrap/js/bootstrap.min.js'}"></script>
</body>
</html>
