<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title th:text="#{label.deptTitle_caption}"></title>
</head>
<body>
	<div layout:fragment="pageHeader" style="background: #b0b1b3">
		<script type="text/javascript">
	
	
	
	
	
	
		
	
	function populatepoinvoiceno(){
		
		var pono = document.getElementById("poNo").value;
		var invoiceno = document.getElementById("invoiceNo").value;
		
	     document.getElementById("poinvoiceno").value = pono+invoiceno;
	}
	
	
	tableLoad(1); 
	function tableLoad(page) {
		var e = document.getElementById('pageSizeSelectTemp');
		var pagesize=5;
		if(e!=null)
		{
			pagesize = e.options[e.selectedIndex].value;
		}
		var temppage=1;
		if(page!=null)
		{
			temppage=page;
		}
		var sortingkey="invoiceDate";
		var sortingorder="DESC";
		
		var sortingkeytemp = document.getElementById('sortingkey');
		var sortingordertemp = document.getElementById('sortingorder');
		if(sortingkeytemp!=null)
		{
			sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
		}
		if(sortingordertemp!=null)
		{
			sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
		}
		
		
		var invoiceno=document.getElementById('invoiceno')!=null?document.getElementById('invoiceno').value:"";
		var pono=document.getElementById('poNo')!=null?document.getElementById('poNo').value:"";
		var invoicepono=document.getElementById('invoicepono')!=null?document.getElementById('invoicepono').value:"";
		var invoicedate=document.getElementById('invoicedate')!=null?document.getElementById('invoicedate').value:"";
		var invoicerecep=document.getElementById('invoicerecep')!=null?document.getElementById('invoicerecep').value:"";
		var invoiceamount=document.getElementById('invoiceamount')!=null?document.getElementById('invoiceamount').value:"";
	
		
	$.ajax({
	url : '/poMain/main/AcceptInvoicePoGrid',
	method : 'GET',
	
	/* same variable in entity : username,startDate,...*/
	data:{"pageSize":pagesize,"page":temppage,"invoiceNo":invoiceno,"purchaseOrder":pono,"poInvoiceNo":invoicepono,"invoiceDate" :invoicedate,"recipient":invoicerecep,"amount":invoiceamount,"sortingkey":sortingkey,"sortingorder":sortingorder},
	success : function(data, textStatus, jqXHR) {
		$('#result-table').replaceWith(data);
	}
});
	

}
	
	
	</script>


		<section class="content-header">

			



			<div class="breadcontainer">
				<ul class="breadcrumb">
					<!-- 	<li><a th:href="@{/master/dashboard}"><i class="fa fa-home"></i></a></li> -->
					<!-- <li>Master File Management</li> -->
					<li><a th:href="@{/main/invoicepo}">Invoice PO</a></li>
					<li>Accept Invoice</li>
				</ul>
			</div>
			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>
		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.poInfo}"></h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="well">
			
			
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.poNumberInInvoice}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input readonly="true" type="text" id="poNo" class="form-control"
								name="poNo" th:field="${invoiceobj.poNo}"
								onfocus="tableLoad(1);" autofocus />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.totInvoiceAmount}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input readonly="true" class="form-control"
								name="totInvoiceAmount" th:value="${totInvoiceAmount}" />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.poAmount}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input readonly="true" type="text" class="form-control"
								name="poAmount" th:value="${invoiceobj.poAmount}" />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.balance}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input readonly="true" type="text" class="form-control"
								name="balance" th:value="${invoiceobj.balance}" />
						</div>
					</div>


				</div>

			</div>
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.invoiceInfo}"></h3>
					</div>
				</div>
			</div>

			<form role="form" id="formfield" class="acceptinvoiceform"
				th:object="${invoiceobject}" method="post"
				th:action="@{/main/acceptInvoice}">




				<div class="row">

					<div class="form-group">
						<input type="hidden" class="form-control" name="poNumber"
							th:field="${invoiceobj.poNo}" id="poNumber" />
					</div>


					<div class="col-md-2">
						<label th:text="#{label.invoicepono}"></label>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<input readonly="true" type="text" id="poinvoiceno"
								placeholder="Auto Generated" class="form-control"
								name="poInvoiceNumber" th:field="*{poInvoiceNumber}" />
						</div>
					</div>


					<div class="col-md-2">
						<label th:text="#{label.invno}"></label><span style="color: red">*</span>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<input type="text" onchange="populatepoinvoiceno();"
								id="invoiceNo" required="true" class="form-control"
								name="invoiceNumber" th:field="*{invoiceNumber}" />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.invamount}"></label><span
							style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input required="true" placeholder="0.00" class="form-control"
								name="invoiceAmount" th:field="*{invoiceAmount}" />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.invdate}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">

							<input class="form-control" type="text" th:field="*{startDate}"
								name="startDate" id="startDate" th:placeholder="${date_format}"
								onkeydown="return false;" />

						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.invrec}"></label><span style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" required="true" class="form-control"
								name="invoiceRecipient" th:field="*{invoiceRecipient}" />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.invnote}"></label><span style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<select data-show-subtext="true" data-live-search="true"
								required="true" name="invoicenote"
								class="form-control selectpicker" th:field="*{invoicenote}">
								<option value="">Select</option>
								<option value="INV">INV</option>
								<option value="CN">CN</option>
								<option value="DN">DN</option>

							</select>

						</div>



					</div>
				</div>

				<div class="row">
					<div class="col-md-2">
						<span></span>
					</div>
					<div class="col-md-4">
						<button type="submit" class="btn btn-primary"
							th:text="#{label.submit}"></button>

						<button
							onclick="$('.acceptinvoiceform').bootstrapValidator('resetForm', true);"
							type="reset" class="btn btn-default" th:text="#{label.reset}"></button>

						<a style="line-height: 2 !important;"
							th:href="@{/main/invoicepo}"><i
							class="btn btn-default" th:text="#{label.back}"></i></a>


					</div>
				</div>



			</form>

			<br />

			<div class="well">
				<div th:fragment="result-table" id="result-table">
					<div class="box box-table">
						<div class="box-header with-border">
							<div class="row" th:if="${list != null}">
								<div class="box-header with-border">
									<h3 class="box-title" th:text="#{label.invoiceList_caption}"></h3>
									<span><h5
											th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
								</div>
							</div>
							<div class="row" th:if="${list != null}">
								<div class="form-group col-md-1">
									<select class="form-control pagination" id="pageSizeSelectTemp"
										onchange="tableLoad(1);">
										<option th:each="pageSize : ${pageSizes}"
											th:text="${pageSize}" th:value="${pageSize}"
											th:selected="${pageSize} == ${selectedPageSize}"></option>
									</select>
								</div>


								<div th:if="${list.totalPages != 0}"
									class="form-group col-md-6 pagination-centered">
									<ul class="pagination">
										<li th:class="${list.number == 0} ? disabled"><a
											class="pageLink" onclick="tableLoad(1);">&laquo;</a>
										</li>
										<li th:class="${list.number == 0} ? disabled"><input
											type="hidden" id="t2" th:value="${list.number}" /> <a
											class="pageLink"
											onclick="tableLoad(document.getElementById('t2').value);">&larr;</a>
										</li>
										<li
											th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
											th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
											<a class="pageLink" onclick="tableLoad(this.text);"
											th:text="${page}"></a>
										</li>
										<li
											th:class="${list.number + 1 == list.totalPages} ? disabled">
											<input type="hidden" id="t4" th:value="${list.number + 2}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t4').value);">&rarr;</a>
										</li>
										<li
											th:class="${list.number + 1 == list.totalPages} ? disabled">
											<input type="hidden" id="t5" th:value="${list.totalPages}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t5').value);">&raquo;</a>
										</li>
									</ul>
								</div>


								<div class="form-group col-md-5 pagination" align="right">
									<table>
										<tr>
											<td><label>Sort By</label></td>
											<td><select onchange="tableLoad(1);" id="sortingkey"
												th:value="${sortingkey}" class="form-control">
													<!-- th:value are same as entity name -->
													<option th:value="poInvoiceNo"
														th:selected="${sortingkey=='poInvoiceNo'}">Purchase
														Order Invoice No</option>
													<option th:value="invoiceNo"
														th:selected="${sortingkey=='invoiceNo'}">Invoice
														No</option>
													<option th:value="invoiceDate"
														th:selected="${sortingkey=='invoiceDate'}">Invoice
														Date</option>

													<option th:value="amount"
														th:selected="${sortingkey=='amount'}">Invoice
														Amount</option>

													<option th:value="recipient"
														th:selected="${sortingkey=='recipient'}">Invoice
														Recipient</option>
											</select></td>
											<td><select onchange="tableLoad(1);" id="sortingorder"
												th:value="${sortingorder}" class="form-control">
													<option th:value="ASC" th:selected="${sortingorder=='ASC'}">ASC</option>
													<option th:value="DESC"
														th:selected="${sortingorder=='DESC'}">DESC</option>
											</select></td>
										</tr>
									</table>
								</div>

							</div>


							<div class="box-body table-responsive no-padding">
								<table class="table table-hover">

									<tr>
										<!-- <th th:width="70px" th:text="#{label.serialId}"></th> -->
										<th th:text="#{label.invno}"></th>
										<th th:text="#{label.poinvno}"></th>
										<th th:text="#{label.invdate}"></th>
										<th th:text="#{label.invamount}"></th>
										<th th:text="#{label.invrec}"></th>
										<th style="width: 10px" th:text="'  ' +#{label.delete}"></th>
									</tr>

									<tr align="left">
										<!-- 	<td><input
										 class="form-control" 
										type="text" disabled = "true"/></td> -->
										<!-- <td align="right" colspan="4">Search</td> -->

										<td><input onblur="tableLoad(1);" id="invoiceno"
											class="form-control" th:value="*{invoiceNo}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="invoicepono"
											class="form-control" th:value="*{poInvoiceNo}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="invoicedate"
											class="form-control" th:value="*{invoiceDate}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="invoiceamount"
											class="form-control" th:value="*{amount}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="invoicerecep"
											class="form-control" th:value="*{recipient}" type="text" /></td>


										<td></td>

									</tr>
									<tbody th:if="${list != null}">
										<tr th:each="d, id : ${list}">
											<!-- <td th:text="${id.index} + 1 + ${serialid}"></td> -->
											<td th:text="${d.invoiceNo}"></td>
											<td th:text="${d.poInvoiceNo}"></td>
											<td th:text="${#dates.format(d.invoiceDate, date_format)}"></td>
											<td th:text="${d.amount}"></td>
											<td th:text="${d.recipient}"></td>

											<td><a
												th:href="@{/main/deleteinvoice/{poInvoiceNo}/(poInvoiceNo=${d.poInvoiceNo})}"
												class="btn btn-sm btn-default"><i class="fa fa-trash"
													th:text="'  ' + #{label.delete}"></i> </a></td>


										</tr>
									</tbody>
								</table>
							</div>
							<!-- /.box-body -->

						</div>
						<!-- /.box -->
					</div>
				</div>
			</div>

		</div>

	</section>
	<!-- /.content -->
</body>
</html>