<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Credit Terms</title>
</head>
<body>
	<div layout:fragment="pageHeader" style="background: #b0b1b3">
		<script type="text/javascript" th:inline="javascript">
		
		$(document).ready (function(){
			
			
			 $(":reset").click(function() {
				 $('.advancedsearchForm').bootstrapValidator('resetForm', true);
				 
				 $('#status').selectpicker('refresh');
				 $("#issuer").selectpicker("refresh");
				 $("#verifier").selectpicker("refresh");
				 $("#authorizer").selectpicker("refresh");
				 $("#cancelledBy").selectpicker("refresh");
				 $("#deletedBy").selectpicker("refresh");
				 $("#rejectedBy").selectpicker("refresh");
				 $("#closedBy").selectpicker("refresh");
				 $("#ordercatselect").selectpicker("refresh");
				 $("#ordersubcat").selectpicker("refresh");
				
			  });
			 	 
			 
			});
		
			
		</script>
		<section class="content-header">
			<div class="breadcontainer">
				<ul class="breadcrumb">
					<li><a><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li>Advanced Search</li>
				</ul>
			</div>
			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}">Info</span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}">Error</span>
			</div>

		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Advanced Search Information</h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<form th:action="@{/main/AdvanceSearchSubmit}"
				class="advancedsearchForm" id="advancedsearchForm"
				th:object="${searchobj}" method="post" name="advancesearch">

				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.pono_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input maxlength="20" th:field="*{poNo}" type="text"
								class="form-control" name="poNo" placeholder="Ex. 080PO180125wo00008" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.status_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							
							
							
							<select name="status" id="status"
								data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" th:field="*{status}" >
								<option value="">Select</option>
								<option th:each="dr: ${statusList}" th:value="${dr}"
									th:text="${dr}"></option>
							</select>
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.issuer_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<select th:field="*{issuer}" id="issuer" 
								data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" 
								>
								<option value="">Select</option>
								<option th:each="dr : ${poUserlist}" th:value="${dr.id}"
									th:text="${dr.id}"></option>
							</select>
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.verifier_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<select th:field="*{verifier}" 
								data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" id="verifier"
								 >
								<option value="">Select</option>
								<option th:each="dr : ${poUserlist}" th:value="${dr.id}"
									th:text="${dr.id}"></option>
							</select>
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.authorizer_caption}">Authorizer</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<select th:field="*{authorizer}" 
								data-show-subtext="true" data-live-search="true"
									id="authorizer"
								class="form-control selectpicker">
								<option value="">Select</option>
								<option th:each="dr : ${poUserlist}" th:value="${dr.id}"
									th:text="${dr.id}"></option>
							</select>
						</div>
					</div>


					<div class="col-md-2">
						<label th:text="#{label.rejectedby_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<select th:field="*{rejectedBy}" id="rejectedBy"
								
								data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" >
								<option value="">Select</option>
								<option th:each="dr : ${poUserlist}" th:value="${dr.id}"
									th:text="${dr.id}"></option>
							</select>
						</div>
					</div>


					<div class="col-md-2">
						<label th:text="#{label.canceledby_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<select th:field="*{cancelledBy}" id="cancelledBy"
								
								data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" >
								<option value="">Select</option>
								<option th:each="dr : ${poUserlist}" th:value="${dr.id}"
									th:text="${dr.id}"></option>
							</select>
						</div>
					</div>


					<div class="col-md-2">
						<label th:text="#{label.deletedby_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							
							
								<select th:field="*{deletedBy}" 
								data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" id="deletedBy"
								 >
								<option value="">Select</option>
								<option th:each="dr : ${poUserlist}" th:value="${dr.id}"
									th:text="${dr.id}"></option>
							</select>
						</div>
					</div>


					<div class="col-md-2">
						<label th:text="#{label.closedby_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							
							<select th:field="*{closedBy}" 
								data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" id="closedBy"
								 >
								<option value="">Select</option>
								<option th:each="dr : ${poUserlist}" th:value="${dr.id}"
									th:text="${dr.id}"></option>
							</select>
						</div>
					</div>


					<div class="col-md-2">
						<label th:text="#{label.ordercat_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							
							
							<select th:field="*{ordCatCode}" 
								data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" id="ordercatselect"
								 >
								<option value="">Select</option>
								<option th:each="dr : ${ordCatlist}" th:value="${dr.code}"
									th:text="${dr.code}"></option>
							</select>
						</div>
					</div>


					<div class="col-md-2">
						<label th:text="#{label.ordersubcat_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							
							
							<select th:field="*{ordSubCCode}" 
								data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" id="ordersubcat"
								 >
								<option value="">Select</option>
								<option th:each="dr : ${ordSubClist}" th:value="${dr.code}"
									th:text="${dr.code}"></option>
							</select>
						</div>
					</div>



					<div class="col-md-2">
						<label th:text="#{label.pc_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input maxlength="15" th:field="*{pcCode}" type="text"
								class="form-control" name="pcCode" placeholder="" />
						</div>
					</div>



					<div class="col-md-2">
						<label th:text="#{label.vendorcode_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input maxlength="15" th:field="*{vendorCode}" type="text"
								class="form-control" name="vendorCode" placeholder="Example: 26" />
						</div>
					</div>



					<div class="col-md-2">
						<label th:text="#{label.vendorname_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input maxlength="15" th:field="*{vendorName}" type="text"
								class="form-control" name="vendorName" placeholder="" />
						</div>
					</div>


					<div class="col-md-2">
						<label th:text="#{label.issuedon_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<!-- <input type="date" class="form-control" th:field="*{issuedOn}"
											name="issuedOn" placeholder=""></input> -->

							<!-- <input th:field="*{issuedOn}" type="date"
								class="form-control" name="issuedOn" /> -->
								
								
							<input th:field="*{issuedOn}" id="issuedDate" type="text"
												th:placeholder="${date_format}+'/Minimum Date is Three Years Back'" onkeydown="return false;"
												class="form-control" name="issuedOn" />
						</div>
					</div>


					<div class="col-md-2">
						<label th:text="#{label.tot_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input maxlength="15" th:field="*{totInclGSTMax}" type="text"
								class="form-control" name="totInclGSTMax" placeholder="" />
						</div>
					</div>



					<div class="col-md-2">
						<label th:text="#{label.totles_caption}">Total Less Than</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input maxlength="15" th:field="*{totInclGSTMin}" type="text"
								class="form-control" name="totInclGSTMin" placeholder="" />
						</div>
					</div>

				<!-- 	<div class="col-md-2">
						<label th:text="#{label.fetchResu_caption}"></label><span
							style="color: red">*</span>
					</div>

					<div class="col-md-4">
						<select data-show-subtext="true" data-live-search="true"
							required="true" class="form-control selectpicker"
							th:field="*{fetchResults}">



							<option th:each="dr: ${fetchList}" th:value="${dr}"
								th:text="${dr}"></option>



						</select>

					</div> -->

					<br>
				</div>
				<div class="row">
					<div class="col-md-2">
						<span></span>
					</div>
					<div class="col-md-4">

						<button type="submit" class="btn btn-primary"
							th:text="#{label.search}"></button>
						<button type="reset" class="btn btn-default"
							th:text="#{label.reset}"></button>
					</div>
				</div>
			</form>
		</div>
	</section>
	<!-- /.content -->
</body>
</html>