<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Advance Search</title>

</head>
<body>

<div layout:fragment="pageHeader" style="background:#b0b1b3">
		<script type="text/javascript" th:inline="javascript">
		
		tableLoad(1); 
		function tableLoad(page) {
			var e = document.getElementById('pageSizeSelectTemp');
			var pagesize=5;
			if(e!=null)
			{
				pagesize = e.options[e.selectedIndex].value;
			}
			var temppage=1;
			if(page!=null)
			{
				temppage=page;
			}
			var sortingkey="poNo";
			var sortingorder="DESC";
			
			var sortingkeytemp = document.getElementById('sortingkey');
			var sortingordertemp = document.getElementById('sortingorder');
			if(sortingkeytemp!=null)
			{
				sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
			}
			if(sortingordertemp!=null)
			{
				sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
			}
			
			var poNo=document.getElementById('poNumber')!=null?document.getElementById('poNumber').value:"";
			var vendorCode=document.getElementById('vendorCode')!=null?document.getElementById('vendorCode').value:"";
			var vendorname=document.getElementById('vendorName')!=null?document.getElementById('vendorName').value:"";
			var pcCode =document.getElementById('pcCode')!=null?document.getElementById('pcCode').value:"";
			var issuer =document.getElementById('issuer')!=null?document.getElementById('issuer').value:"";
			var verifier =document.getElementById('verifier')!=null?document.getElementById('verifier').value:"";
			var authorizer = document.getElementById('authorizer')!=null?document.getElementById('authorizer').value:"";
			
		
			
		$.ajax({
		url : '/main/AdvanceSearchSubmit',
		method : 'GET',
		
		/* same variable in entity : username,startDate,...*/
		data:{"pageSize":pagesize,"page":temppage,"sortingkey":sortingkey,"sortingorder":sortingorder},
		success : function(data, textStatus, jqXHR) {
			$('#result-table').replaceWith(data);
		}
		});
		
		
		}




	</script>
	<section class="content-header">

		<div th:if="${info}"
			class="alert alert-info alert-dismissible fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<span th:text="${info}">Info</span>
		</div>

		<div th:if="${error}"
			class="alert alert-danger alert-dismissible fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<span th:text="${error}">Error</span>
		</div>

	</section>
	</div>
	<section class="content">
		<div layout:fragment="content">

			<ul class="nav nav-tabs" style="margin-top: 35px">
				<li class="active"><a data-toggle="tab" href="#advanceSearch" >Advance
						Search</a></li>
				<li><a data-toggle="tab" href="#poArchive">PO Archive
						Search</a></li>

			</ul>

			<div class="tab-content">
				<div id="advanceSearch" class="tab-pane fade in active">
					<div class="well">
						<form th:action="@{/main/AdvanceSearchSubmit}" class="advancedsearchForm"
							th:object="${searchobj}" method="post">

							<div class="row">
								<div class="col-md-2">
									<label th:text="#{label.pono_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input maxlength="20" th:field="*{poNo}" type="text"
											class="form-control" name="poNo" placeholder="" />
									</div>
								</div>



								<div class="col-md-2">
									<label th:text="#{label.status_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select th:field="*{status}" data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" 
											>
											<option value="">Select</option>
											<option th:each="dr: ${statusList}" th:value="${dr}"
												th:text="${dr}"></option>
										</select>
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.issuer_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select th:field="*{issuer}"
											data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" >
											<option value="">Select</option>
											<option th:each="dr : ${poUserlist}" th:value="${dr.id}"
												th:text="${dr.id}"></option>
										</select>
									</div>
								</div>

								<div class="col-md-2">
									<label th:text="#{label.verifier_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select th:field="*{verifier}"
											data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" >
											<option value="">Select</option>
											<option th:each="dr : ${poUserlist}" th:value="${dr.id}"
												th:text="${dr.id}"></option>
										</select>
									</div>
								</div>

								<div class="col-md-2">
									<label th:text="#{label.authorizer_caption}">Authorizer</label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select th:field="*{authorizer}"
											data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" >
											<option value="">Select</option>
											<option th:each="dr : ${poUserlist}" th:value="${dr.id}"
												th:text="${dr.id}"></option>
										</select>
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.rejectedby_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select th:field="*{rejectedBy}"
											data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" >
											<option value="">Select</option>
											<option th:each="dr : ${poUserlist}" th:value="${dr.id}"
												th:text="${dr.id}"></option>
										</select>
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.canceledby_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select th:field="*{cancelledBy}"
											data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" >
											<option value="">Select</option>
											<option th:each="dr : ${poUserlist}" th:value="${dr.id}"
												th:text="${dr.id}"></option>
										</select>
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.deletedby_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select th:field="*{deletedBy}"
											data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" >
											<option value="">Select</option>
											<option th:each="dr : ${poUserlist}" th:value="${dr.id}"
												th:text="${dr.id}"></option>
										</select>
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.closedby_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select th:field="*{closedBy}"
											data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" >
											<option value="">Select</option>
											<option th:each="dr : ${poUserlist}" th:value="${dr.id}"
												th:text="${dr.id}"></option>
										</select>
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.ordercat_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker"  name="ordcat"
											th:field="*{ordCatCode}" id="ordercatselect">
											<option value="">Select</option>
											<option th:each="dr : ${ordCatlist}" th:value="${dr.code}"
												th:text="${dr.code}"></option>
										</select>
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.ordersubcat_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" th:field="*{ordSubCCode}">
											<option value="">Select</option>
											<option th:each="dr : ${ordSubClist}" th:value="${dr.code}"
												th:text="${dr.code}"></option>
										</select>
									</div>
								</div>



								<div class="col-md-2">
									<label th:text="#{label.pc_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input maxlength="15" th:field="*{pcCode}" type="text"
											class="form-control" name="pcCode" placeholder="" />
									</div>
								</div>



								<div class="col-md-2">
									<label th:text="#{label.vendorcode_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input maxlength="15" th:field="*{vendorCode}" type="text"
											class="form-control" name="vendorCode"
											placeholder="Example: 26" />
									</div>
								</div>



								<div class="col-md-2">
									<label th:text="#{label.vendorname_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input maxlength="15" th:field="*{vendorName}" type="text"
											class="form-control" name="vendorName" placeholder="" />
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.issuedon_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<!-- <input type="date" class="form-control" th:field="*{issuedOn}"
											name="issuedOn" placeholder=""></input> -->
											
					<input th:field="*{issuedOn}" type="text" id ="startDate" class="form-control"
								 name="issuedOn"  onkeydown="return false;"  />
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.tot_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input maxlength="15" th:field="*{totInclGSTMax}" type="text"
											class="form-control" name="totInclGSTMax" placeholder="" />
									</div>
								</div>



								<div class="col-md-2">
									<label th:text="#{label.totles_caption}">Total Less Than</label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input maxlength="15" th:field="*{totInclGSTMin}" type="text"
											class="form-control" name="totInclGSTMin" placeholder="" />
									</div>
								</div>

								<div class="col-md-2">
									<label th:text="#{label.fetchResu_caption}"></label>
								</div>

								<div class="col-md-2">
									<select data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" 
										th:field="*{fetchResults}">

										<option th:each="dr: ${fetchList}" th:value="${dr}"
											th:text="${dr}"></option>

									</select>

								</div>

								<br>
							</div>
								<div class="row">
								<div class="col-md-2">
												<span></span>
											</div>
									<div class="col-md-4">

										<button type="submit" class="btn btn-primary" th:text="#{label.search}"
										
										></button>
										<button
											onclick="$('.advancedsearchForm').bootstrapValidator('resetForm', true);"
											type="reset" class="btn btn-default" th:text="#{label.reset}"></button>
									</div>
								</div>

							

						</form>
					</div>

					<br />

			<div class="well">
			  <div th:fragment="result-table" id="result-table">
				<div class="box box-table">
					<div class="box-header with-border">
						<div class="row" th:if="${list != null}">
							<div class="box-header with-border">
									<h3 class="box-title" th:text="#{label.deptList_caption}"></h3>
									<span><h5
											th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
								</div>
							</div>
	 		<div class="row" th:if="${list != null}">
				<div class="form-group col-md-1">
					<select class="form-control pagination" id="pageSizeSelectTemp" onchange="tableLoad(1);">
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>
					</select>
				</div>
				
				
				<div th:if="${list.totalPages != 0}"
					class="form-group col-md-6 pagination-centered">
					<ul class="pagination">
						<li th:class="${list.number == 0} ? disabled"><a
							class="pageLink" onclick="tableLoad(1);"
							>&laquo;</a>
						</li>
						<li th:class="${list.number == 0} ? disabled"><input
								type="hidden" id="t2" th:value="${list.number}" /> <a
											class="pageLink"
											onclick="tableLoad(document.getElementById('t2').value);"
											>&larr;</a>
						</li>
						<li
							th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink"
							onclick="tableLoad(this.text);" 
											th:text="${page}"></a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t4" th:value="${list.number + 2}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t4').value);"
											>&rarr;</a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t5" th:value="${list.totalPages}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t5').value);"
											>&raquo;</a>
						</li>
					</ul>
				</div>
				
				
					<div class="form-group col-md-5 pagination" align="right">
									<table>
										<tr>
											<td><label>Sort By</label></td>
											<td><select onchange="tableLoad(1);" id="sortingkey"
												th:value="${sortingkey}" class="form-control">
												th:value are same as entity name
													<option th:value="poNo" th:selected="${sortingkey=='poNo'}">Code</option>
													<option th:value="vendorcode"
														th:selected="${sortingkey=='vendorcode'}">Name</option>
													<option th:value="vendorName"
														th:selected="${sortingkey=='vendorName'}">Status</option>
													
													<option th:value="pcCode" th:selected="${sortingkey=='pcCode'}">Last Modified On</option>
													<option th:value="issuer" th:selected="${sortingkey=='issuer'}">Last Modified On</option>
													<option th:value="verifier" th:selected="${sortingkey=='verifier'}">Last Modified On</option>
													<option th:value="authorizer" th:selected="${sortingkey=='authorizer'}">Last Modified On</option>
											</select></td>
											<td><select onchange="tableLoad(1);" id="sortingorder"
												th:value="${sortingorder}" class="form-control">
													<option th:value="ASC" th:selected="${sortingorder=='ASC'}">ASC</option>
													<option th:value="DESC"
														th:selected="${sortingorder=='DESC'}">DESC</option>
											</select></td>
										</tr>
									</table>
								</div>
				
			</div> 
			
		
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
							
								<tr>
									<th th:text="#{label.pono_caption}"></th>
										<th th:text="#{label.vendorcode_caption}"></th>
										<th th:text="#{label.vendorname_caption}"></th>
										<th th:text="#{label.pc_caption}"></th>
										<th th:text="#{label.issuer_caption}"></th>
										<th th:text="#{label.verifier_caption}"></th>
										<th th:text="#{label.authorizer_caption}"></th>
										<th style="width: 10px" th:text="#{label.view}"></th>
								</tr>

								<tr align="left">
									<td><input 
										id="poNumber" class="form-control" th:value="*{poNo}"
										type="text" /></td>
										
										<td><input 
										id="vendorCode" class="form-control" th:value="*{vendorCode}"
										type="text" /></td>
										
										<td><input 
										id="vendorName" class="form-control" th:value="*{vendorName}"
										type="text" /></td>
										
										<td><input 
										id="pcCode" class="form-control" th:value="*{pcCode}"
										type="text" /></td>
										
										<td><input 
										id="issuer" class="form-control" th:value="*{issuer}"
										type="text" /></td>
										
										<td><input 
										id="verifier" class="form-control" th:value="*{verifier}"
										type="text" /></td>
										
										<td><input 
										id="authorizer" class="form-control" th:value="*{authorizer}"
										type="text" /></td>
										
										<td><a
											
											class="btn btn-sm btn-default" id="edit"><i class="fa fa-eye"
												th:text="'  ' +#{label.view}"></i> </a></td>

								</tr>
							<tbody th:if="${list != null}">
								<tr th:each="d, id : ${list}" >
									<!-- <td th:text="${id.index} + 1 + ${serialid}"></td> -->
									<td th:text="${d.poNo}"></td>
								 	 <td th:text="${d.vendorcode}"></td>
									<td th:text="${d.vendorName}"></td>
									<td th:text="${d.pcCode}"></td>  
									<td th:text="${d.issuer}"></td>
								 	 <td th:text="${d.verifier}"></td>
									<td th:text="${d.authorizer}"></td> 
									
									<td><a
										
										class="btn btn-sm btn-default"><i class="fa fa-edit"
											th:text="'  ' + #{label.edit}"></i> </a></td>
											
											
								</tr>
							</tbody>
							</table>
						</div>
						<!-- /.box-body -->

					</div>
					<!-- /.box -->
				</div>
			</div>
			</div>


				</div>










														<!-- Archive Section -->

				<div id="poArchive" class="tab-pane fade">
					<div class="well">
						<form role="form" th:action="@{/main/ArchiveSearchSubmit}"
							class="PoArchiveForm" th:object="${archiveobj}" method="post">

							<div class="row">
								<div class="col-md-2">
									<label th:text="#{label.pono_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input maxlength="15" th:field="*{poNo}" type="text"
											class="form-control" name="poNo" placeholder="" />
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.company_caption}"></label>
								</div>
								<div class="col-md-4">
									<!-- <div class="col-md-4"> -->
										<div class="form-group">
											<input maxlength="15" th:field="*{compCode}" type="text"
												class="form-control" name="compCode" placeholder="" />
										</div>
									<!-- </div> -->
								</div>

								<div class="col-md-2">
									<label th:text="#{label.pc_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input maxlength="15" th:field="*{pcCode}" type="text"
											class="form-control" name="pcCode" placeholder="" />
									</div>
								</div>



								<div class="col-md-2">
									<label th:text="#{label.vendorcode_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input maxlength="15" th:field="*{vendorCode}" type="text"
											class="form-control" name="vendorCode" placeholder="" />
									</div>
								</div>



								<div class="col-md-2">
									<label th:text="#{label.vendorname_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input maxlength="15" th:field="*{vendorName}" type="text"
											class="form-control" name="vendorName" placeholder="" />
									</div>
								</div>



								<div class="col-md-2">
									<label th:text="#{label.issuerPsId_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select th:field="*{issuer}"
											data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" required="true">
											<option value="">Select</option>
											<option th:each="dr : ${poUserlist}" th:value="${dr.id}"
												th:text="${dr.id}"></option>
										</select>
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.issuername_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select th:field="*{issuerName}"
											data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" required="true">
											<option value="">Select</option>
											<option th:each="dr : ${poUserlist}" th:value="${dr.empName}"
												th:text="${dr.empName}"></option>
										</select>
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.archivetable_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input class="form-control"
											th:field="*{archivedTable}" name="archivedTable"
											placeholder=""></input>
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.archiveyear_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input id="datepicker" type="text" class="form-control"
											th:field="*{archivedYear}" name="archivedYear" placeholder=""></input>
									</div>
								</div>

								<div class="col-md-2">
									<label th:text="#{label.createdon_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
									
									<input th:field="*{createdOn}" th:placeholder="${date_format}"  type="text" id ="startDate" class="form-control"
								 name="createdOn" onkeydown="return false;"  />
								 
								 
										
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.totamnt_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input maxlength="15" th:field="*{totalAmt}" type="text"
											class="form-control" name="totalAmt" placeholder="" />
									</div>
								</div>



								<div class="col-md-2">
									<label th:text="#{label.fetchResu_caption}"></label>
								</div>

								<div class="col-md-2">
									<select data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" required="true" th:field="*{fetchResults}">
										<option th:each="dr: ${fetchList}" th:value="${dr}"
											th:text="${dr}"></option>

									</select>

								</div>

								<br>
</div>
								<div class="row">
								<div class="col-md-2">
											<span></span>
										</div>
									<div class="col-md-2">

										<button type="submit" class="btn btn-primary" th:text="#{label.search}"></button>
										<button
											onclick="$('.PoArchiveForm').bootstrapValidator('resetForm', true);"
											type="reset" class="btn btn-default" th:text="#{label.reset}"></button>
									</div>
								</div>

							

						</form>
					</div>

					<br>

					<div class="well">
						<!-- <div th:fragment="result-table" id="result-table"> -->
							<!-- <div class="box box-table"> -->



								<div class="box-body table-responsive no-padding">
									<table class="table table-hover">

									<tr>
										
										<th th:text="#{label.pono_caption}"></th>
										<th th:text="#{label.vendorcode_caption}"></th>
										<th th:text="#{label.vendorname_caption}"></th>
										<th th:text="#{label.company_caption}"></th>
										<th th:text="#{label.pc_caption}"></th>
										<th th:text="#{label.issuer_caption}"></th>
										<th th:text="#{label.verifier_caption}"></th>
										<th th:text="#{label.authorizer_caption}"></th>
										<th style="width: 10px" th:text="#{label.view}"></th>
									</tr>

										
										<tbody>
											<tr>
										<td><input
										id="poNumber" class="form-control" th:value="*{poNo}"
										type="text" /></td>
										
										<td><input
										id="vendorCode" class="form-control" th:value="*{vendorCode}"
										type="text" /></td>
										
										<td><input
										id="vendorName" class="form-control" th:value="*{vendorName}"
										type="text" /></td>
										
										<td><input
										id="companyCode" class="form-control" th:value="*{compCode}"
										type="text" /></td>
										
										<td><input
										id="pcCode" class="form-control" th:value="*{pcCode}"
										type="text" /></td>
										
										<td><input
										id="issuer" class="form-control" th:value="*{issuer}"
										type="text" /></td>
										
										<td><input
										id="verifier" class="form-control" th:value="*{verifier}"
										type="text" /></td>
										
										<td><input
										id="authorizer" class="form-control" th:value="*{authorizer}"
										type="text" /></td>
										
												<td><a
											
											class="btn btn-sm btn-default" id="edit"><i class="fa fa-eye"
												th:text="'  ' +#{label.view}"></i> </a></td>

											</tr>
										</tbody>
									</table>
								</div>
								<!-- /.box-body -->

						<!-- 	</div> -->
							<!-- /.box -->
						<!-- </div> -->
					</div>
				</div>



			</div>


		</div>
	</section>
	
	<script type="text/javascript">

$(function() {
    $( "#datepicker" ).datepicker({dateFormat: 'yy'});
    });​
    
</script> 

</body>
</html>


