<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
</head>
<body>
	<div layout:fragment="pageHeader" style="background: #b0b1b3">

		<script type="text/javascript" th:inline="javascript">
		tableLoad(1); 
			function tableLoad(page) {
				var e = document.getElementById('pageSizeSelectTemp');
				var pagesize = 5;
				if (e != null) {
					pagesize = e.options[e.selectedIndex].value;
				}
				var temppage = 1;
				if (page != null) {
					temppage = page;
				}
				var sortingkey = "poNo";
				var sortingorder = "DESC";

				var sortingkeytemp = document.getElementById('sortingkey');
				var sortingordertemp = document.getElementById('sortingorder');
				if (sortingkeytemp != null) {
					sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
				}
				if (sortingordertemp != null) {
					sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
				}

				var poNo = document.getElementById('poNumber') != null ? document
						.getElementById('poNumber').value
						: "";
				var vendorCode = document.getElementById('vendorCode') != null ? document
						.getElementById('vendorCode').value
						: "";
				var vendorname = document.getElementById('vendorName') != null ? document
						.getElementById('vendorName').value
						: "";
				var pcCode = document.getElementById('pcCode') != null ? document
						.getElementById('pcCode').value
						: "";
				var issuer = document.getElementById('issuer') != null ? document
						.getElementById('issuer').value
						: "";
				var compCode = document.getElementById('compCode') != null ? document
						.getElementById('compCode').value
						: "";
				
						
						$.ajax({
							url : '/poMain/main/archivesearchresult',
							method : 'GET',

							/* same variable in entity : username,startDate,...*/
							data : {
						"pageSize" : pagesize,
						"page" : temppage,
						"poNo" : poNo,
						"vendorCode" : vendorCode,
						"vendorName" : vendorname,
						"pcCode" : pcCode,
						"issuerPsid" : issuer,
						"compCode" : compCode,
						"sortingkey" : sortingkey,
						"sortingorder" : sortingorder
					},
							success : function(data, textStatus, jqXHR) {
								$('#result-table').replaceWith(data);
							}
						});

				

			}
		</script>

		<section class="content-header">
			<div class="breadcontainer">
				<ul class="breadcrumb">
					<li><a ><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li><a th:href="@{/main/ArchiveAdvanceSearch}">Archive Search</a></li>
					<li>Archive Search Result</li>

				</ul>
			</div>
		</section>
	</div>

	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Archive Search Result</h3>
					</div>
				</div>
			</div>
			<div class="well">
				<div th:fragment="result-table" id="result-table">
					<div class="box box-table">
						<div class="box-header with-border">
							<div class="row" th:if="${archlist != null}">
								<div class="box-header with-border">
									<!-- <h3 class="box-title" th:text="#{label.advancedsearchlist}"></h3> -->
									<span><h5
											th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
								</div>
							</div>
							<div class="row" th:if="${archlist != null}">
								 <div class="form-group col-md-1">
									<select class="form-control pagination" id="pageSizeSelectTemp"
										onchange="tableLoad(1);">
										<option th:each="pageSize : ${pageSizes}"
											th:text="${pageSize}" th:value="${pageSize}"
											th:selected="${pageSize} == ${selectedPageSize}"></option>
									</select>
								</div> 
								<div th:if="${archlist.totalPages != 0}"
									class="form-group col-md-6 pagination-centered">
									<ul class="pagination">
										<li th:class="${archlist.number == 0} ? disabled"><a
											class="pageLink" onclick="tableLoad(1);" href="#">&laquo;</a>
										</li>
										<li th:class="${archlist.number == 0} ? disabled"><input
											type="hidden" id="t2" th:value="${archlist.number}" /> <a
											class="pageLink"
											onclick="tableLoad(document.getElementById('t2').value);"
											href="#">&larr;</a></li>
										<li
											th:class="${archlist.number == (page - 1)} ? 'active pointer-disabled'"
											th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
											<a class="pageLink" onclick="tableLoad(this.text);" href="#"
											th:text="${page}"></a>
										</li>
										<li
											th:class="${archlist.number + 1 == archlist.totalPages} ? disabled">
											<input type="hidden" id="t4" th:value="${archlist.number + 2}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t4').value);"
											href="#">&rarr;</a>
										</li>
										<li
											th:class="${archlist.number + 1 == archlist.totalPages} ? disabled">
											<input type="hidden" id="t5" th:value="${archlist.totalPages}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t5').value);"
											href="#">&raquo;</a>
										</li>
									</ul>
								</div> 
							<div class="form-group col-md-5 pagination" align="right">
									<table>
										<tr>
											<td><label>Sort By</label></td>
											<td><select onchange="tableLoad(1);" id="sortingkey"
												th:value="${sortingkey}" class="form-control">
													th:value are same as entity name
													<option th:value="poNo" th:selected="${sortingkey=='poNo'}">PO
														Number</option>
													<option th:value="vendorCode"
														th:selected="${sortingkey=='vendorCode'}">Vendor
														Code</option>
													<option th:value="vendorName"
														th:selected="${sortingkey=='vendorName'}">Vendor
														Name</option>

													<option th:value="compCode"
														th:selected="${sortingkey=='compCode'}">Company Code
														Code</option>
														
													<option th:value="pcCode"
														th:selected="${sortingkey=='pcCode'}">Profit Center</option>
														
													<option th:value="issuerPsid"
														th:selected="${sortingkey=='issuerPsid'}">Issuer Psid</option>
													
											</select></td>
											<td><select onchange="tableLoad(1);" id="sortingorder"
												th:value="${sortingorder}" class="form-control">
													<option th:value="ASC" th:selected="${sortingorder=='ASC'}">ASC</option>
													<option th:value="DESC"
														th:selected="${sortingorder=='DESC'}">DESC</option>
											</select></td>
										</tr>
									</table>
								</div>

							</div>


							<div class="box-body table-responsive no-padding">
								<table class="table table-hover">

									<tr>
										<!-- <th th:width="70px" th:text="#{label.serialId}"></th> -->
										<th th:text="#{label.pono_caption}"></th>
										<th th:text="#{label.vendorcode_caption}"></th>
										<th th:text="#{label.vendorname_caption}"></th>
										<th th:text="#{label.company_caption}"></th>
										<th th:text="#{label.pc_caption}"></th>
										<th th:text="#{label.issuer_caption}"></th>
										<th style="width: 10px" th:text="#{label.view}"></th>


									</tr>

									<tr align="left">

										
										<td><input onblur="tableLoad(1);" id="poNumber"
											class="form-control" th:value="*{poNo}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="vendorCode"
											class="form-control" th:value="*{vendorCode}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="vendorName"
											class="form-control" th:value="*{vendorName}" type="text" /></td>
											
											<td><input onblur="tableLoad(1);" id="compCode"
											class="form-control" th:value="*{compCode}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="pcCode"
											class="form-control" th:value="*{pcCode}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="issuerPsid"
											class="form-control" th:value="*{issuerPsid}" type="text" /></td>

									

										<td><a class="btn btn-sm btn-default" id="edit"><i
												class="fa fa-eye" th:text="'  ' +#{label.view}"></i> </a></td>



									</tr> 


									<tbody th:if="${archlist != null}">
										<tr th:each="d, id : ${archlist}">
											<!-- <td th:text="${id.index} + 1 + ${serialid}"></td> -->
											<td th:text="${d.poNo}"></td>
										 	 <td th:text="${d.vendorCode}"></td>
											<td th:text="${d.vendorName}"></td>
											<td th:text="${d.compCode}"></td>
											<td th:text="${d.pcCode}"></td>  
											<td th:text="${d.issuerPsid}"></td>

											<td><a class="btn btn-sm btn-default" data-toggle="modal" data-target="#show_Modal"><i
													class="fa fa-edit" th:text="'  ' + #{label.view}"></i> </a></td>
													
													
												<!-- Invoice_Modal -->
										<div class="modal fade" id="show_Modal" role="dialog">
											<div class="modal-dialog modal-sm">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal">&times;</button>
														<h4 class="modal-title">Notification</h4>
													</div>
													<div class="modal-body">
												<p>Please Login with Following Credentials To View This Purchase Order!</p>
														<ul>
														<li>
														
														<span>Company : <span
														th:text="${d.compCode}"></span>
													</span>
														</li>
														
															<li>
														
														<span>Year : <span
														th:text="${d.archivedYear}"></span>
													</span>
														</li>
														
														</ul>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
														
													</div>
												</div>
											</div>
										</div>
										<!-- authorize_Modal -->
										


										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>