<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Credit Terms</title>
</head>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
	
	 <script type="text/javascript" th:inline="javascript">
		
	 $(document).ready (function(){
	 $(":reset").click(function() {
		 
		 $('.PoArchiveForm').bootstrapValidator('resetForm', true);
		 $('#issuer').selectpicker('refresh');
		 $("#issuerName").selectpicker("refresh");
		
		
	  });
	 });

	</script>
	
		<section class="content-header">
		
		<div class="breadcontainer">
				<ul class="breadcrumb">
					<li><a ><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li>Archive Advanced Search</li>
				</ul>
			</div>
			<!-- <div align="right">
				<small>PO-POAD01L</small>
			</div> -->

			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}">Info</span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}">Error</span>
			</div>

		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Archive Advanced Search Information</h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<form role="form" th:action="@{/main/ArchiveSearchSubmit}"
							class="PoArchiveForm" th:object="${archiveobj}" method="post">

							<div class="row">
								<div class="col-md-2">
									<label th:text="#{label.pono_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input maxlength="30" th:field="*{poNo}" type="text"
											class="form-control" name="poNo" placeholder="Ex. 080PO140125wo00008" />
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.company_caption}"></label>
								</div>
								<div class="col-md-4">
									<!-- <div class="col-md-4"> -->
										<div class="form-group">
											<input maxlength="15" th:field="*{compCode}" type="text"
												class="form-control" name="compCode" placeholder="" />
										</div>
									<!-- </div> -->
								</div>

								<div class="col-md-2">
									<label th:text="#{label.pc_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input maxlength="15" th:field="*{pcCode}" type="text"
											class="form-control" name="pcCode" placeholder="" />
									</div>
								</div>



								<div class="col-md-2">
									<label th:text="#{label.vendorcode_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input maxlength="15" th:field="*{vendorCode}" type="text"
											class="form-control" name="vendorCode" placeholder="" />
									</div>
								</div>



								<div class="col-md-2">
									<label th:text="#{label.vendorname_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input maxlength="15" th:field="*{vendorName}" type="text"
											class="form-control" name="vendorName" placeholder="" />
									</div>
								</div>



								<div class="col-md-2">
									<label th:text="#{label.issuerPsId_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
									
										
										<select th:field="*{issuer}"
								data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" id="issuer"
								 >
								<option value="">Select</option>
								<option th:each="dr : ${poUserlist}" th:value="${dr.id}"
												th:text="${dr.id}"></option>
							</select>
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.issuername_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										
										
										<select th:field="*{issuerName}"
								data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" id="issuerName"
								 >
								<option value="">Select</option>
								<option th:each="dr : ${poUserlist}" th:value="${dr.empName}"
												th:text="${dr.empName}"></option>
							</select>
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.archivetable_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input class="form-control"
											th:field="*{archivedTable}" name="archivedTable"
											placeholder=""></input>
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.archiveyear_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input id="datepicker" type="text" class="form-control"
											th:field="*{archivedYear}" name="archivedYear" placeholder=""></input>
									</div>
								</div>

						
								
									<div class="col-md-2">
									<label th:text="#{label.createdon_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
									
											
					<input th:field="*{createdOn}" type="text" id ="createdOn_Date" class="form-control" th:placeholder="${date_format}+'/Maximum Date is Three Years Back'"
								 name="createdOn" onkeydown="return false;"  />
									</div>
								</div>


								<div class="col-md-2">
									<label th:text="#{label.totamnt_caption}"></label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input maxlength="15" th:field="*{totalAmt}" type="text"
											class="form-control" name="totalAmt" placeholder="" />
									</div>
								</div>



							<!-- 	<div class="col-md-2">
									<label th:text="#{label.fetchResu_caption}"></label><span
								style="color: red">*</span>
								</div>

								<div class="col-md-4">
									<select data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" required="true" th:field="*{fetchResults}">
									
										<option th:each="dr: ${fetchList}" th:value="${dr}"
											th:text="${dr}"></option>
											
										

									</select>

								</div> -->

								<br>
</div>
								<div class="row">
								<div class="col-md-2">
											<span></span>
										</div>
									<div class="col-md-2">

										<button type="submit" class="btn btn-primary" th:text="#{label.search}"></button>
										<button
											
											type="reset" class="btn btn-default" th:text="#{label.reset}"></button>
									</div>
								</div>

							

						</form>
			<br />
<!-- 		<div class="well">
			  <div th:fragment="result-table" id="result-table">
				<div class="box box-table">
					<div class="box-header with-border">
						<div class="row" th:if="${list != null}">
							<div class="box-header with-border">
									<h3 class="box-title" th:text="#{label.crtList_caption}"></h3>
									<span><h5
											th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
								</div>
							</div>
			<div class="row" th:if="${list != null}">
				<div class="form-group col-md-1">
					<select class="form-control pagination" id="pageSizeSelectTemp" onchange="tableLoad(1);">
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>
					</select>
				</div>
				
				
				<div th:if="${list.totalPages != 0}"
					class="form-group col-md-6 pagination-centered">
					<ul class="pagination">
						<li th:class="${list.number == 0} ? disabled"><a
							class="pageLink" onclick="tableLoad(1);"
							href="#">&laquo;</a>
						</li>
						<li th:class="${list.number == 0} ? disabled"><input
								type="hidden" id="t2" th:value="${list.number}" /> <a
											class="pageLink"
											onclick="tableLoad(document.getElementById('t2').value);"
											href="#">&larr;</a>
						</li>
						<li
							th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink"
							onclick="tableLoad(this.text);" href="#"
											th:text="${page}"></a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t4" th:value="${list.number + 2}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t4').value);"
											href="#">&rarr;</a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t5" th:value="${list.totalPages}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t5').value);"
											href="#">&raquo;</a>
						</li>
					</ul>
				</div>
				
				
					<div class="form-group col-md-5 pagination" align="right">
									<table>
										<tr>
											<td><label>Sort By</label></td>
											<td><select onchange="tableLoad(1);" id="sortingkey"
												th:value="${sortingkey}" class="form-control">
												th:value are same as entity name
													<option th:value="poNo" th:selected="${sortingkey=='poNo'}">PO Number</option>
													<option th:value="vendorcode"
														th:selected="${sortingkey=='vendorcode'}">Vendor Code</option>
													<option th:value="vendorName"
														th:selected="${sortingkey=='vendorName'}">Vendor Name</option>
													
													<option th:value="pcCode" th:selected="${sortingkey=='pcCode'}">ProfitCenter Code</option>
													<option th:value="issuer" th:selected="${sortingkey=='issuer'}">Issuer</option>
													<option th:value="verifier" th:selected="${sortingkey=='verifier'}">Verifier</option>
													<option th:value="authorizer" th:selected="${sortingkey=='authorizer'}">Authorizer</option>
											</select></td>
											<td><select onchange="tableLoad(1);" id="sortingorder"
												th:value="${sortingorder}" class="form-control">
													<option th:value="ASC" th:selected="${sortingorder=='ASC'}">ASC</option>
													<option th:value="DESC"
														th:selected="${sortingorder=='DESC'}">DESC</option>
											</select></td>
										</tr>
									</table>
								</div>
				
			</div>
			
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<tr>
									<th th:text="#{label.pono_caption}"></th>
										<th th:text="#{label.vendorcode_caption}"></th>
										<th th:text="#{label.vendorname_caption}"></th>
										<th th:text="#{label.pc_caption}"></th>
										<th th:text="#{label.issuer_caption}"></th>
										<th th:text="#{label.verifier_caption}"></th>
										<th th:text="#{label.authorizer_caption}"></th>
										<th style="width: 10px" th:text="#{label.view}"></th>
								</tr>
								
								
								
								<tr align="left">
									<td align="right" colspan="4">Search</td>
								<td><input  onblur="tableLoad(1);"
										id="poNumber" class="form-control" th:value="*{poNo}"
										type="text" /></td>
										
										<td><input onblur="tableLoad(1);"
										id="vendorCode" class="form-control" th:value="*{vendorCode}"
										type="text" /></td>
										
										<td><input onblur="tableLoad(1);"
										id="vendorName" class="form-control" th:value="*{vendorName}"
										type="text" /></td>
										
										<td><input onblur="tableLoad(1);"
										id="pcCode" class="form-control" th:value="*{pcCode}"
										type="text" /></td>
										
										<td><input onblur="tableLoad(1);"
										id="issuer" class="form-control" th:value="*{issuer}"
										type="text" /></td>
										
										<td><input onblur="tableLoad(1);"
										id="verifier" class="form-control" th:value="*{verifier}"
										type="text" /></td>
										
										<td><input onblur="tableLoad(1);"
										id="authorizer" class="form-control" th:value="*{authorizer}"
										type="text" /></td>
										
										<td><a
											
											class="btn btn-sm btn-default" id="edit"><i class="fa fa-eye"
												th:text="'  ' +#{label.view}"></i> </a></td>

								</tr>
								
								<tbody th:if="${list != null}">
							<tr th:each="d, id : ${list}" >
									<td th:text="${id.index} + 1 + ${serialid}"></td>
									<td th:text="${d.poNo}"></td>
								 	 <td th:text="${d.vendorcode}"></td>
									<td th:text="${d.vendorName}"></td>
									<td th:text="${d.pcCode}"></td>  
									<td th:text="${d.issuer}"></td>
								 	 <td th:text="${d.verifier}"></td>
									<td th:text="${d.authorizer}"></td> 
									
									<td><a
										
										class="btn btn-sm btn-default"><i class="fa fa-edit"
											th:text="'  ' + #{label.edit}"></i> </a></td>
											
											
								</tr>
								</tbody>

							</table>


						</div>
						/.box-body

					</div>
					/.box
				</div>
			</div>
			</div> -->
		</div>
	</section>
	<!-- /.content -->
</body>
</html>