<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Archive Information</title>

</head>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
	<script type="text/javascript" th:inline="javascript">
		tableLoad(1); 
			function tableLoad(page) {
				var e = document.getElementById('pageSizeSelectTemp');
				var pagesize = 5;
				if (e != null) {
					pagesize = e.options[e.selectedIndex].value;
				}
				var temppage = 1;
				if (page != null) {
					temppage = page;
				}
				var sortingkey = "poNo";
				var sortingorder = "DESC";

				var sortingkeytemp = document.getElementById('sortingkey');
				var sortingordertemp = document.getElementById('sortingorder');
				if (sortingkeytemp != null) {
					sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
				}
				if (sortingordertemp != null) {
					sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
				}

				var poNo = document.getElementById('poNumber') != null ? document
						.getElementById('poNumber').value
						: "";
				var vendorCode = document.getElementById('vendorCode') != null ? document
						.getElementById('vendorCode').value
						: "";
				var vendorname = document.getElementById('vendorName') != null ? document
						.getElementById('vendorName').value
						: "";
				var pcCode = document.getElementById('pcCode') != null ? document
						.getElementById('pcCode').value
						: "";
				var issuer = document.getElementById('issuer') != null ? document
						.getElementById('issuer').value
						: "";
				var compCode = document.getElementById('compCode') != null ? document
						.getElementById('compCode').value
						: "";
				

				$.ajax({
					url : '/poMain/main/ArchivePoGrid',
					method : 'GET',

					/* same variable in entity : username,startDate,...*/
					data : {
						"pageSize" : pagesize,
						"page" : temppage,
						"poNo" : poNo,
						"vendorCode" : vendorCode,
						"vendorName" : vendorname,
						"pcCode" : pcCode,
						"issuerPsid" : issuer,
						"compCode" : compCode,
						"sortingkey" : sortingkey,
						"sortingorder" : sortingorder
					},
					success : function(data, textStatus, jqXHR) {
						$('#result-table').replaceWith(data);
					}
				});

			}
		</script>
		
				<section class="content-header">
			<div class = "breadcontainer">
				<ul class="breadcrumb">
				<li><a ><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li><a th:href="@{/main/poarchive}">PO Archive Directory</a></li>
					
				</ul>
			</div>
		</section>
	</div>
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">PO Archive Directory</h3>
					</div>
				</div>
			</div>
						<div class="well">
			  <div th:fragment="result-table" id="result-table">
				<div class="box box-table">
					<div class="box-header with-border">
						<div class="row" th:if="${list != null}">
							<div class="box-header with-border">
									<h3 class="box-title">PO Archive Directory List</h3>
									<span><h5
											th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
								</div>
							</div>
			<div class="row" th:if="${list != null}">
				<div class="form-group col-md-1">
					<select class="form-control pagination" id="pageSizeSelectTemp" onchange="tableLoad(1);">
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>
					</select>
				</div>
				<div th:if="${list.totalPages != 0}"
					class="form-group col-md-6 pagination-centered">
					<ul class="pagination">
						<li th:class="${list.number == 0} ? disabled"><a
							class="pageLink" onclick="tableLoad(1);"
							>&laquo;</a>
						</li>
						<li th:class="${list.number == 0} ? disabled"><input
								type="hidden" id="t2" th:value="${list.number}" /> <a
											class="pageLink"
											onclick="tableLoad(document.getElementById('t2').value);"
											>&larr;</a>
						</li>
						<li
							th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink"
							onclick="tableLoad(this.text);" 
											th:text="${page}"></a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t4" th:value="${list.number + 2}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t4').value);"
											>&rarr;</a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t5" th:value="${list.totalPages}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t5').value);"
											>&raquo;</a>
						</li>
					</ul>
				</div>
				<div class="form-group col-md-5 pagination" align="right">
									<table>
										<tr>
											<td><label>Sort By</label></td>
											<td><select onchange="tableLoad(1);" id="sortingkey"
												th:value="${sortingkey}" class="form-control">
												<!-- th:value are same as entity name -->
													<option th:value="poNo" th:selected="${sortingkey=='poNo'}">PO No</option>
													<option th:value="vendorCode"
														th:selected="${sortingkey=='vendorCode'}">Vendor Code</option>
														<option th:value="vendorName"
														th:selected="${sortingkey=='vendorName'}">Vendor Name</option>
													<option th:value="pcCode"
														th:selected="${sortingkey=='pcCode'}">PC Code</option>
														<option th:value="issuerPsid"
														th:selected="${sortingkey=='issuerPsid'}">Issuer PSID</option>
														
														<option th:value="compCode"
														th:selected="${sortingkey=='compCode'}">Company Code</option>
														
												
													
													
											</select></td>
											<td><select onchange="tableLoad(1);" id="sortingorder"
												th:value="${sortingorder}" class="form-control">
													<option th:value="ASC" th:selected="${sortingorder=='ASC'}">ASC</option>
													<option th:value="DESC"
														th:selected="${sortingorder=='DESC'}">DESC</option>
											</select></td>
										</tr>
									</table>
								</div>
				
			</div>
			
		
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
							
									<tr>
										<th th:width="70px" th:text="#{label.serialId}"></th>
										<th th:text="#{label.pono_caption}"></th>
										<th th:text="#{label.vendorcode_caption}"></th>
										<th th:text="#{label.vendorname_caption}"></th>
										<th th:text="#{label.company_caption}"></th>
										<th th:text="#{label.pc_caption}"></th>
										<th th:text="#{label.issuer_caption}"></th>
										<th style="width: 10px"></th>
								</tr>
								
								<tr align="left">

										<td><input
										 class="form-control" 
										type="text" disabled = "true"/></td>
										<td><input onblur="tableLoad(1);" id="poNumber"
											class="form-control" th:value="*{poNo}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="vendorCode"
											class="form-control" th:value="*{vendorCode}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="vendorName"
											class="form-control" th:value="*{vendorName}" type="text" /></td>
											
											<td><input onblur="tableLoad(1);" id="compCode"
											class="form-control" th:value="*{compCode}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="pcCode"
											class="form-control" th:value="*{pcCode}" type="text" /></td>

										

										<td><input onblur="tableLoad(1);" id="issuer"
											class="form-control" th:value="*{issuer}" type="text" /></td>


										<td></td>



									</tr> 

						
						<tbody th:if="${list != null}">
								<tr th:each="d, id : ${list}" >
									<td th:text="${id.index} + 1 + ${serialid}"></td>
									<td th:text="${d.poNo}"></td>
										 	 <td th:text="${d.vendorCode}"></td>
											<td th:text="${d.vendorName}"></td>
											<td th:text="${d.compCode}"></td>
											<td th:text="${d.pcCode}"></td>  
											<td th:text="${d.issuerPsid}"></td>

											<td><a class="btn btn-sm btn-default"><i
													class="fa fa-eye" th:text="'  ' + #{label.view}"></i> </a></td>

								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
</body>
</html>