<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
</head>
<body>
<div layout:fragment="pageHeader" style="background:#b0b1b3">




<script type="text/javascript">

	var closeexcept =[[${closeexcept}]];
	var path = window.location.pathname;
	
	path = path.replace(/\/$/, "");
	var query = path.split('/');
	var pono_path = query[4];
	
	


$(document).ready (function(){
	if(closeexcept){
		
		$('#close_Modal').modal('show');
	}else{
		 $('#close_Modal').modal(
			'hide');
	}
	

	$("#close_form").submit(function(e) {
		e.preventDefault();
		
		var close_exception_val = document.getElementById("close_exception").value;
		var poNumber = pono_path;
		
				
				$.ajax({
					type : "GET",
					
					url : "/poMain/main/close_exception",
					data : {
						"close_exception" : close_exception_val,
						"pono_path" : poNumber
						
						
					},
					success : function(data) {
						console.log("SUCCESS: ", data);
						
						 if(data !=null){
							 $('#close_Modal').modal(
								'hide');
						$('#dialog_Modal').modal(
								'show');
						document
								.getElementById("dialogmessage1").textContent = "Purchase Order Closed successfuly.";
							 
						
						 }else{
							 
							
							   
						 }
						 		
						 
					},
					error : function(e) {
						console.log("ERROR: ", e);
					},
					done : function(e) {
						console.log("DONE");
					} 
				});
				
				
				
		
	});
});

	
	tableLoad(1); 
	function tableLoad(page) {
		var e = document.getElementById('pageSizeSelectTemp');
		var pagesize=5;
		if(e!=null)
		{
			pagesize = e.options[e.selectedIndex].value;
		}
		var temppage=1;
		if(page!=null)
		{
			temppage=page;
		}
		var sortingkey="lastModifiedOn";
		var sortingorder="DESC";
		
		var sortingkeytemp = document.getElementById('sortingkey');
		var sortingordertemp = document.getElementById('sortingorder');
		if(sortingkeytemp!=null)
		{
			sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
		}
		if(sortingordertemp!=null)
		{
			sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
		}
		
		
		var poNum=document.getElementById('poNumber')!=null?document.getElementById('poNumber').value:"";
		var status=document.getElementById('poStatus')!=null?document.getElementById('poStatus').value:"";
		var vendorname=document.getElementById('vendName')!=null?document.getElementById('vendName').value:"";
		var issuedOn=document.getElementById('issuedon')!=null?document.getElementById('issuedon').value:"";
	
		
	$.ajax({
	url : '/poMain/main/InvoicePoGrid',
	method : 'GET',
	
	/* same variable in entity : username,startDate,...*/
	data:{"pageSize":pagesize,"page":temppage,"poNo":poNum,"status":status,"vendorName":vendorname,"issuedOn" :issuedOn,"sortingkey":sortingkey,"sortingorder":sortingorder},
	success : function(data, textStatus, jqXHR) {
		$('#result-table').replaceWith(data);
	}
});
	

}
	
	
	
	
	
	
	</script>


 <section class="content-header">
 		
			<!-- Dialog_Modal -->
			<div class="modal fade" id="dialog_Modal" role="dialog">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
					<div class="modal-header bg-primary">
					<h4 class="modal-title">
						<span
							id="dialogmessage1" style="color: white;"></span>
					</h4>
					
				</div>
					<div class="modal-footer">
									
									<a style="line-height: 2 !important;"
							th:href="@{/main/closepo}"><i
							class="btn btn-default" th:text="#{label.close}"></i></a>
								
							</div>
					</div>
				</div>
			</div>
			<!-- Dialog_Modal -->
			
<!-- Close_Modal -->
			<div class="modal fade" id="close_Modal" role="dialog">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						 <form role="form" class="resetpwdform_c" id="close_form">
							<div class="modal-body">
								<div class="form-group">
									<label>Close Exception! Total Invoice Amount does not Match PO Amount.</label>
									<p>Please Fill Close Exception</p>
									 <textarea type="text" maxlength="255" class="form-control" id="close_exception"
									 required="true"
								 name="poCloseException"></textarea>
									 
								</div>


							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Cancel</button>
								<button type="submit" class="btn btn-primary">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- Close_Modal -->
			<div class = "breadcontainer">
				<ul class="breadcrumb">
				<li><a th:href="@{/master/dashboard}"><i class="fa fa-home"></i></a></li>
					<li>Process Purchase Order</li>
					<li>Invoice PO</li>
					
				</ul>
			</div>
					<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>
		</section>
</div>

	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" id="emptyinvoice">Invoice PO</h3>
					</div>
				</div>
			</div>
						<div class="well">
			  <div th:fragment="result-table" id="result-table">
				<div class="box box-table">
					<div class="box-header with-border">
						<div class="row" th:if="${list != null}">
							<div class="box-header with-border">
									<h3 class="box-title" th:text="#{label.InvoicePO_caption}"></h3>
									<span><h5
											th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
								</div>
							</div>
			<div class="row" th:if="${list != null}">
				<div class="form-group col-md-1">
					<select class="form-control pagination" id="pageSizeSelectTemp" onchange="tableLoad(1);">
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>
					</select>
				</div>
				<div th:if="${list.totalPages != 0}"
					class="form-group col-md-6 pagination-centered">
					<ul class="pagination">
						<li th:class="${list.number == 0} ? disabled"><a
							class="pageLink" onclick="tableLoad(1);"
							>&laquo;</a>
						</li>
						<li th:class="${list.number == 0} ? disabled"><input
								type="hidden" id="t2" th:value="${list.number}" /> <a
											class="pageLink"
											onclick="tableLoad(document.getElementById('t2').value);"
											>&larr;</a>
						</li>
						<li
							th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink"
							onclick="tableLoad(this.text);" 
											th:text="${page}"></a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t4" th:value="${list.number + 2}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t4').value);"
											>&rarr;</a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t5" th:value="${list.totalPages}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t5').value);"
											>&raquo;</a>
						</li>
					</ul>
				</div>
				<div class="form-group col-md-5 pagination" align="right">
									<table>
										<tr>
											<td><label>Sort By</label></td>
											<td><select onchange="tableLoad(1);" id="sortingkey"
												th:value="${sortingkey}" class="form-control">
												<!-- th:value are same as entity name -->
													<option th:value="poNo" th:selected="${sortingkey=='poNo'}">PO Number</option>
													<option th:value="status"
														th:selected="${sortingkey=='status'}">PO Status</option>
														
														<option th:value="vendorName"
														th:selected="${sortingkey=='vendorName'}">Vendor Name</option>
												
												<option th:value="issuedOn"
														th:selected="${sortingkey=='issuedOn'}">Issued On</option>
												
							
											</select></td>
											<td><select onchange="tableLoad(1);" id="sortingorder"
												th:value="${sortingorder}" class="form-control">
													<option th:value="ASC" th:selected="${sortingorder=='ASC'}">ASC</option>
													<option th:value="DESC"
														th:selected="${sortingorder=='DESC'}">DESC</option>
											</select></td>
										</tr>
									</table>
								</div>
				
			</div>
			
		
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover" id="testtable">
							
									<tr>
									<th style="width: 10px" th:text="#{label.view}"></th>
									<th th:width="70px" th:text="#{label.serialId}"></th>
									<th th:text="#{label.poNum_caption}">PO Number</th>
									<th th:text="#{label.poStatus_caption}">PO Status</th>
									<th th:text="#{label.vendName_caption}">Vendor Name</th>
									<th th:text="#{label.issuedon_caption}">Issued On</th>
									<th style="width: 10px" th:text="#{label.close}"></th>
									<th style="width: 10px" th:text="#{label.invoice}"></th>
									
									
								</tr>
								
								<tr align="left">
								<td></td>
									<td><input
										 class="form-control" 
										type="text" disabled = "true"/></td>
										
									<!-- <td align="right" colspan="4">Search</td> -->
									
										<td><input
										onblur="tableLoad(1);"
										id="poNumber" class="form-control" th:value="*{poNo}"
										type="text" /></td>
										
										<td><input
										onblur="tableLoad(1);"
										id="poStatus" class="form-control" th:value="*{status}"
										type="text" /></td>
										
										
										<td><input
										onblur="tableLoad(1);"
										id="vendName" class="form-control" th:value="*{vendorName}"
										type="text" /></td>
									
										<td><input
										onblur="tableLoad(1);"
										id="issuedon" class="form-control" th:value="*{issuedOn}"
										type="text" /></td>
									
									<td></td>
									<td></td>
									

								

								</tr>

						
						<tbody th:if="${list != null}">
								<tr th:each="d, id : ${list}" id="index" >
								<td><a
								th:href="@{/poMain/main/view_invoice/(poNo=${d.poNo})}" 
								
											class="btn btn-sm btn-default"><i class="fa fa-eye"
												th:text="'  ' +#{label.view}"></i> </a></td>
									<td th:text="${id.index} + 1 + ${serialid}"></td>
									<td th:text="${d.poNo}"></td>
									<td th:text="${d.status}"></td>
									<td th:text="${d.vendorName}"></td>
									<td th:text="${d.issuedOn}"></td>
									<td><a id="close_a"
											th:href="@{/main/viewPOtoClose/{poNo}(poNo=${d.poNo})}" 
											class="btn btn-sm btn-default"><i class="fa fa-times"
												th:text="'  ' +#{label.close}"></i> </a></td>
												
												<td><a id="invoice_a"
											th:href="@{/main/viewPOtoInvoice/(poNo=${d.poNo},(status = ${d.status}))}"
											class="btn btn-sm btn-default"><i class="fa fa-usd"
												th:text="'  ' +#{label.invoice}"></i> </a></td>
									
									
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
</body>
</html>