<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Credit Terms</title>
</head>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
	<script type="text/javascript" th:inline="javascript">
	
	var code =[[${code}]];
	
	var url = window.location.pathname;
	var string = code;
	if(url.indexOf(string) !== -1) {
		
		$('.sidebar-menu').find('a[href*="' + string + '"]').addClass('active');
		$('a[href*="?"]')
	  
	}
	
	tableLoad(1); 
	function tableLoad(page) {
		var e = document.getElementById('pageSizeSelectTemp');
		var pagesize=5;
		if(e!=null)
		{
			pagesize = e.options[e.selectedIndex].value;
		}
		var temppage=1;
		if(page!=null)
		{
			temppage=page;
		}
		var sortingkey="lastModifiedOn";
		var sortingorder="DESC";
		
		var sortingkeytemp = document.getElementById('sortingkey');
		var sortingordertemp = document.getElementById('sortingorder');
		if(sortingkeytemp!=null)
		{
			sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
		}
		if(sortingordertemp!=null)
		{
			sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
		}
		
		
		var creditCode=document.getElementById('credit_code')!=null?document.getElementById('credit_code').value:"";
		var description=document.getElementById('description')!=null?document.getElementById('description').value:"";
		
		var st = document.getElementById('status');
		var status="";
		if(st!=null && st.selectedIndex>0)
		{
			
			status = st.options[st.selectedIndex].value; 
			
			
		}
		
		
	$.ajax({
	url : '/poMain/api/credittermsgrid',
	method : 'GET',
	
	/* same variable in entity : username,startDate,...*/
	data:{"pageSize":pagesize,"page":temppage,"code":creditCode,"description":description,"status":status,"sortingkey":sortingkey,"sortingorder":sortingorder},
	success : function(data, textStatus, jqXHR) {
		$('#result-table').replaceWith(data);
	}
});
	

}
	
	$(document).ready (function(){
		
		$( "#crtcode" ).change(function() {
			
			var code = document.getElementById("crtcode").value;
						
			
			$.ajax({
				type : "GET",
				url : "/poMain/creditterms/existingcrt?code="+code,
				success : function(data) {
					console.log("SUCCESS: ", data);
					 $("#crtcode").empty();
					 if(data.crtId != null){
						 existCode = true;
						 document.getElementById("validate").style.display = "block";
						 document.getElementById('crtcode').style.border ="1px solid red";
						 
						 document.getElementById("validate").innerHTML = "This Credit Terms Code Already Exist";
						
						
						  $(":submit").attr("disabled", true);
						  			 
					
					 }else{					
						 
						 document.getElementById('crtcode').style.border ="";	
						
						 document.getElementById("validate").style.display = "none";
						 $(":submit").attr("disabled", false);
						
						    
					 }
					 		
					 
				},
				error : function(e) {
					console.log("ERROR: ", e);
				},
				done : function(e) {
					console.log("DONE");
				} 
			});
			
	});
		
		
		 $(":reset").click(function() {
			  
			  document.getElementById('crtcode').style.border ="";	
			 document.getElementById("validate").style.display = "none"; 
			
				 $(":submit").attr("disabled", false);
		  });
		 
		 
		 
		});
	
	</script>
		<section class="content-header">
		
		<div class="breadcontainer">
				<ul class="breadcrumb">
					<li><a ><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li>Credit Terms</li>
				</ul>
			</div>
			<!-- <div align="right">
				<small>PO-POAD01L</small>
			</div> -->

			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}">Info</span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}">Error</span>
			</div>

		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Credit Terms Information</h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
				<div class="well">
					<form role="form" th:action="@{/main/createcreditterms}" class="CreditTermsForm"
				th:object="${creditobj}" method="post">
			
			<div class="row">
					<div class="col-md-3">
						<label>Credit Terms Code</label><span style="color: red">*</span>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<input type="text" required="true" maxlength="2" class="form-control" id="crtcode"
								th:field="*{credittermscode}" name="credittermscode" placeholder="Example : 02 Max 2 Characters " />
								
								<p id="validate" style="color:red;"></p>
						</div>
					</div>
			</div>
			
				
			<div class="row">
					<div class="col-md-3">
						<label>Credit Terms Description</label>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<textarea type="text" maxlength="255" class="form-control"
								th:field="*{credittermsdescription}" name="credittermsdescription"></textarea>
						</div>
					</div>
			</div>
				
				
				
				<div class="row">
					<div class="col-md-3">
						<span></span>
					</div>
					<div class="col-md-4">
						<button type="submit" class="btn btn-primary" th:text="#{label.submit}"></button>
						<button
									onclick="$('.CreditTermsForm').bootstrapValidator('resetForm', true);"
									type="reset" class="btn btn-default" th:text="#{label.reset}"></button>
					</div>
				</div>
			</form>
			</div>
			<br />
		<div class="well">
			  <div th:fragment="result-table" id="result-table">
				<div class="box box-table">
					<div class="box-header with-border">
						<div class="row" th:if="${list != null}">
							<div class="box-header with-border">
									<h3 class="box-title" th:text="#{label.crtList_caption}"></h3>
									<span><h5
											th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
								</div>
							</div>
			<div class="row" th:if="${list != null}">
				<div class="form-group col-md-1">
					<select class="form-control pagination" id="pageSizeSelectTemp" onchange="tableLoad(1);">
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>
					</select>
				</div>
				
				
				<div th:if="${list.totalPages != 0}"
					class="form-group col-md-6 pagination-centered">
					<ul class="pagination">
						<li th:class="${list.number == 0} ? disabled"><a
							class="pageLink" onclick="tableLoad(1);"
							>&laquo;</a>
						</li>
						<li th:class="${list.number == 0} ? disabled"><input
								type="hidden" id="t2" th:value="${list.number}" /> <a
											class="pageLink"
											onclick="tableLoad(document.getElementById('t2').value);"
											>&larr;</a>
						</li>
						<li
							th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink"
							onclick="tableLoad(this.text);" 
											th:text="${page}"></a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t4" th:value="${list.number + 2}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t4').value);"
											>&rarr;</a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t5" th:value="${list.totalPages}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t5').value);"
											>&raquo;</a>
						</li>
					</ul>
				</div>
				
				
					<div class="form-group col-md-5 pagination" align="right">
									<table>
										<tr>
											<td><label>Sort By</label></td>
											<td><select onchange="tableLoad(1);" id="sortingkey"
												th:value="${sortingkey}" class="form-control">
												<!-- th:value are same as entity name --> 
													<option th:value="crtId.code" th:selected="${sortingkey=='crtId.code'}">Code</option>
													<option th:value="description"
														th:selected="${sortingkey=='description'}">Description</option>
													<option th:value="isActive"
														th:selected="${sortingkey=='isActive'}">Status</option>
													
													<option th:value="lastModifiedOn" th:selected="${sortingkey=='lastModifiedOn'}">Last Modified On</option>
											</select></td>
											<td><select onchange="tableLoad(1);" id="sortingorder"
												th:value="${sortingorder}" class="form-control">
													<option th:value="ASC" th:selected="${sortingorder=='ASC'}">ASC</option>
													<option th:value="DESC"
														th:selected="${sortingorder=='DESC'}">DESC</option>
											</select></td>
										</tr>
									</table>
								</div>
				
			</div>
			
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<tr>
									<th th:width="70px" th:text="#{label.serialId}"></th>								
									<th th:text="#{label.crtCode_caption}"></th>
									<th th:text="#{label.crtDesc_caption}"></th>
									<th th:text="#{label.crtStatus_caption}">Status</th>
									<th style="width: 10px" th:text="'  ' +#{label.edit}"></th>
								</tr>
								
								
								
								<tr align="left">
									<!-- <td align="right" colspan="4">Search</td> -->
									
									<td><input
										 class="form-control" 
										type="text" disabled = "true"/></td>
										
										
									<td><input
										onblur="tableLoad(1);"
										id="credit_code" class="form-control" th:value="*{code}"
										type="text" /></td>

									<td><input
										onblur="tableLoad(1);"
										id="description" class="form-control" th:value="*{description}"
										type="text" /></td>

									<td><select
											onchange="tableLoad(1);"
											 th:value="${status}" required="true"
												class="form-control" name="status" id="status">
												 <!-- <option value="" disabled selected hidden>Please Select</option> -->
												<option th:value="All" th:selected="${status=='All'}">All</option>
												<option th:value="Active" th:selected="${status=='Active'}">Active</option>
												<option th:value="InActive" th:selected="${status=='InActive'}">InActive</option>
											</select>
											
											</td>
						<td></td>

								</tr>
								
								<tbody th:if="${list != null}">
									<tr th:each="d, id : ${list}" >
									<td th:text="${id.index} + 1 + ${serialid}"></td>
									<td th:text="${d.crtId.code}"></td>
									<td th:text="${d.description}"></td>
									<td th:text="${d.isActive()?'Active':'InActive'}"></td>
									
									<td><a
										th:href="@{/main/editcreditterms/{code}(code=${d.crtId.code})}"
										class="btn btn-sm btn-default"><i class="fa fa-edit" th:text="'  ' + #{label.edit}"></i>
											</a></td>
								</tr>
								</tbody>

							</table>


						</div>
						<!-- /.box-body -->

					</div>
					<!-- /.box -->
				</div>
			</div>
			</div>
		</div>
	</section>
	<!-- /.content -->
</body>
</html>