<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
	<title th:text="#{label.dashboard}"></title>
	<meta charset="utf-8" />
	<link th:href="@{/assets/dist/css/cards.css}" rel="stylesheet">
</head>
<body>
	<div layout:fragment="pageHeader" style="background: #b0b1b3">
		<section class="content-header"></section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info" style="margin-top: 50px;">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.dashboard}"></h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-user-secret"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p >Vendor Branch</p>
									
									<span th:text="${total_vendorBranch}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
											<span th:text="${total_active_vendorBranch}"></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${total_inactive_vendorBranch}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa  fa-user"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Credit Terms</p>
										<span th:text="${total_crt}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
											<span th:text="${total_active_crt}"></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${total_inactive_crt}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
						<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa  fa-user"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Vendor Credit Terms</p>
										<span th:text="${total_vendorCrt}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
											<span th:text="${total_active_vendorCrt}"></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${total_inactivevendorCrt}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa  fa-user"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Projects</p>
										<span th:text="${total_project}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-check" th:text="Active"></i> 
											<span th:text="${total_active_project}"></span>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-ban" th:text="Inactive"></i> 
											<span th:text="${total_inactive_project}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-history"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>PC Last PO Number</p>
										<span th:text="${total_pclastponumber}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-chck"></i>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-bn"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- <div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-history"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Logs</p>
										<span th:text="${totalLogs}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-chck"></i>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-bn"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				
		<!-- 		<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-wrench"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Audit Trail</p>
										<span th:text="${totalAudit}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-chck"></i>
										</div>
										<div class="col-lg-6 col-md-6">
											<i class="fa fa-n"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->				
			</div>
						

			
		</div>
	</section>

</body>
</html>
