<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title th:text="#{label.projectTitle}"></title>
</head>

<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
		<script th:inline="javascript">


	var edit =[[${edit}]];
		
		if(edit === true){
		
			var path = window.location.pathname;
			
			path = path.replace(/\/$/, "");
			var query = path.split('/');
			path = decodeURIComponent(path);
			if(query[1] === 'poMain'){
			$('.sidebar-menu').find('a[href*="/main/project"]').addClass('active');
			}
		
		} 

</script>
		<section class="content-header">
		
			<div class = "breadcontainer">
				<ul class="breadcrumb">
				<li><a><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li><a th:href="@{/main/project}">Project</a></li>
					<li>Edit Project</li>
				</ul>
			</div>
			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>
		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Edit Project Information</h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="well">
				<form role="form" th:action="@{/main/updateproject}"
					class="projectform" th:object="${projectobj}" method="post">
					<div class="row">
						<div class="col-md-2">
							<label>Project Code</label><span style="color: red">*</span>
						</div>
							<div class="col-md-4">
							<div class="form-group">
								<input required = "true" th:field="*{projectCode}" type="text" id="code" readonly="true"
									class="form-control" maxlength="15" name="projectCode" placeholder="" />
									
								
							</div>
						</div>
				
					<div class="col-md-2">
							<label>Project Name</label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input th:field="*{projectName}" required="true" type="text"
									class="form-control" name="projectName" maxlength="70"
									placeholder="Example: Klang Parade" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Project Description</label><!-- <span style="color: red">*</span> -->
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<textarea type="text" maxlength="255" class="form-control"
									th:field="*{projectDescription}" name="projectDescription"></textarea>
							</div>
						</div>
					</div>
					<br>


			 	<div class = "row">
					<div class="col-md-2">
						<label>Project Head</label>
					</div>
					<div class="col-xs-4">
						<select th:field="*{prHeadFrom}" name="from[]" id="pchead"
							class="form-control" size="8" multiple="multiple">
							<option th:each="dr : ${projectMember}" th:value="${dr}"
								th:text="${dr}"></option>
						</select>
					</div>

					<div class="col-xs-2">
						<button type="button" id="pchead_rightAll" class="btn btn-block">
							<i class="glyphicon glyphicon-forward"></i>
						</button>
						<button type="button" id="pchead_rightSelected"
							class="btn btn-block">
							<i class="glyphicon glyphicon-chevron-right"></i>
						</button>
						<button type="button" id="pchead_leftSelected"
							class="btn btn-block">
							<i class="glyphicon glyphicon-chevron-left"></i>
						</button>
						<button type="button" id="pchead_leftAll" class="btn btn-block">
							<i class="glyphicon glyphicon-backward"></i>
						</button>
					</div>

					<div class="col-xs-4">
						<select name="to[]" th:field="*{prHeadTo}" id="pchead_to"
							class="form-control" size="8" multiple="multiple">
							
							<option th:each="dr : ${prHeadTo}" th:value="${dr}"
									th:text="${dr}"></option>
							</select>
					</div>
				</div>
	<br> 

					
					
					<div class = "row">
					<div class="col-md-2">
						<label>Project Team Member</label>
					</div>
					<div class="col-xs-4">
						<select th:field="*{prTeamFrom}" name="from[]" id="viewrights" 
							class="form-control" size="8" multiple="multiple">
							<option th:each="dr : ${projectMember}" th:value="${dr}"
								th:text="${dr}"></option>
						</select>
					</div>

					<div class="col-xs-2">
						<button type="button" id="viewrights_rightAll"
							class="btn btn-block">
							<i class="glyphicon glyphicon-forward"></i>
						</button>
						<button type="button" id="viewrights_rightSelected"
							class="btn btn-block">
							<i class="glyphicon glyphicon-chevron-right"></i>
						</button>
						<button type="button" id="viewrights_leftSelected"
							class="btn btn-block">
							<i class="glyphicon glyphicon-chevron-left"></i>
						</button>
						<button type="button" id="viewrights_leftAll"
							class="btn btn-block">
							<i class="glyphicon glyphicon-backward"></i>
						</button>
					</div>

					<div class="col-xs-4">
						<select name="to[]" th:field="*{prTeamTo}" id="viewrights_to" 
							class="form-control" size="8"
							multiple="multiple">
							
							<option th:each="dr : ${prTeamTo}" th:value="${dr}"
									th:text="${dr}"></option>
							</select>
					</div>
					</div>
		<br>
					
					
					<div class = "row">
					<div class="col-md-2">
						<label>Profit Center</label>
					</div>
					<div class="col-xs-4">
						<select th:field="*{pcFrom}" name="from[]" id="pkhead"
							class="form-control" size="8" multiple="multiple">
							<option th:each="dr : ${profitCenter}" th:value="${dr}"
								th:text="${dr}"></option>
						</select>
					</div>

					<div class="col-xs-2">
						<button type="button" id="pkhead_rightAll" class="btn btn-block">
							<i class="glyphicon glyphicon-forward"></i>
						</button>
						<button type="button" id="pkhead_rightSelected"
							class="btn btn-block">
							<i class="glyphicon glyphicon-chevron-right"></i>
						</button>
						<button type="button" id="pkhead_leftSelected"
							class="btn btn-block">
							<i class="glyphicon glyphicon-chevron-left"></i>
						</button>
						<button type="button" id="pkhead_leftAll" class="btn btn-block">
							<i class="glyphicon glyphicon-backward"></i>
						</button>
					</div>

					
					<div class="col-xs-4">
						<select name="to[]" th:field="*{pcTo}" id="pkhead_to"
							class="form-control" size="8" multiple="multiple">
							
							<option th:each="dr : ${pcTo}" th:value="${dr}"
									th:text="${dr}"></option>
							</select>
							
							
					</div>
				</div>
					
					<br>

					<div class="row">
						<div class="col-md-2">
							<label>Completion Date </label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input th:field="*{completionDate}" id ="startDate" type="text" th:placeholder="${date_format}"
									 onkeydown="return false;" 
									class="form-control" name="completionDate" />
							</div>
						</div>
					


						<div class="col-md-2">
							<label>Status</label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select th:field="*{isActive}" required="true"
									class="form-control" name="status">
									<option th:value="Active">Active</option>
									<option th:value="InActive">InActive</option>
								</select>
							</div>
						</div>
					
					
						<div class="col-md-2">
							<label>Created By</label>
						</div>
						<div class="col-md-4" th:if="${createdBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdBy}"
									class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Created On</label>
						</div>
						<div class="col-md-4" th:if="${createdOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdOn}"
									class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Updated By</label>
						</div>
						<div class="col-md-4" th:if="${lastModifiedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{lastModifiedBy}"
									class="form-control" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Updated On</label>
						</div>
						<div class="col-md-4" th:if="${lastModifiedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{lastModifiedOn}"
									class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Deactivated By</label>
						</div>
						<div class="col-md-4" th:if="${deactivatedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{deactivatedBy}" class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Deactivated On</label>
						</div>
						<div class="col-md-4" th:if="${deactivatedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{deactivatedOn}" class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Reactivated By</label>
						</div>
						<div class="col-md-4" th:if="${reactivatedBy==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{reactivatedBy}" class="form-control" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Reactivated On</label>
						</div>
						<div class="col-md-4" th:if="${reactivatedOn==null}">
							<div class="form-group">
								<input type="text" readonly="true" value=""
									th:field="*{reactivatedOn}" class="form-control" />
							</div>
						</div>

					
					
	</div>



					<div class="row">
						<div class="col-md-4">
							<span></span>
						</div>
						<div class="col-md-2">
							<button type="submit" th:text="#{label.prUpdate}"
								class="btn btn-primary"></button>


							<a style="line-height: 2 !important;"
														th:href="@{/main/project}"><i
															class="btn btn-default" th:text="#{label.back}"></i></a>
						</div>
					</div>
				</form>
			</div>

		</div>
	</section>
	<!-- /.content -->
</body>
</html>