<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Credit Terms</title>
</head>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
	<script type="text/javascript">
	
	 	var edit =[[${edit}]];
		
		if(edit === true){
		
var path = window.location.pathname;
			
			path = path.replace(/\/$/, "");
			var query = path.split('/');
			path = decodeURIComponent(path);
			if(query[1] === 'poMain'){
			$('.sidebar-menu').find('a[href*="/main/creditterms"]').addClass('active');
			}
		
		} 
	</script>
		<section class="content-header">
		<div class="breadcontainer">
				<ul class="breadcrumb">
					<li><a ><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li><a th:href="@{/main/creditterms}">Credit Terms</a></li>
					<li>Edit Credit Terms</li>
				</ul>
			</div>
			<div align="right">
				<small>PO-POAD01L</small>
			</div>

		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Enter Credit Terms Information</h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="well">
			<form role="form" th:action="@{/main/updatecreditterms}"
					class="CreditTermsForm" th:object="${creditobj}" method="post">
			<div class="row">
					<div class="col-md-2">
						<label>Credit Terms Code</label><span style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" readonly="true" required="true" maxlength="2" class="form-control"
								th:field="*{credittermscode}" name="credittermscode" placeholder="Example : 02 Max 2 Characters " />
						</div>
					</div>
			
			
				
					<div class="col-md-2">
						<label>Credit Terms Description</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<textarea type="text" maxlength="255" class="form-control"
								th:field="*{credittermsdescription}" name="credittermsdescription"></textarea>
						</div>
					</div>
			
							<div class="col-md-2">
							<label th:text="#{label.status}"></label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select th:field="*{isActive}" required="true"
									class="form-control" name="status">
									<option th:value="Active">Active</option>
									<option th:value="InActive">InActive</option>
								</select>
							</div>
						</div>

						<div class="col-md-2">
							<label>Created By</label>
						</div>
						<div class="col-md-4" th:if="${createdby==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdby}"
									class="form-control" />
							</div>
						</div>



						<div class="col-md-2">
							<label>Created On</label>
						</div>
						<div class="col-md-4" th:if="${createdon==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{createdon}"
									class="form-control" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Updated By</label>
						</div>
						<div class="col-md-4" th:if="${lastmodifiedby==null}">
							<div class="form-group">
								<input type="text" readonly="true" th:field="*{lastmodifiedby}"
									class="form-control" />
							</div>

						</div>
						
							<div class="col-md-2">
								<label>Updated On</label>
							</div>
							<div class="col-md-4" th:if="${lastModifiedOn==null}">
								<div class="form-group">
									<input type="text" readonly="true" th:field="*{lastModifiedOn}"
										class="form-control" />
								</div>
							</div>


							<div class="col-md-2">
								<label>Deactivated By</label>
							</div>
							<div class="col-md-4" th:if="${deactivatedby==null}">
								<div class="form-group">
									<input type="text" readonly="true" value=""
										th:field="*{deactivatedby}" class="form-control" />
								</div>
							</div>


							<div class="col-md-2">
								<label>Deactivated On</label>
							</div>
							<div class="col-md-4" th:if="${deactivatedon==null}">
								<div class="form-group">
									<input type="text" readonly="true" value=""
										th:field="*{deactivatedon}" class="form-control" />
								</div>
							</div>

							<div class="col-md-2">
								<label>Reactivated By</label>
							</div>
							<div class="col-md-4" th:if="${reactivatedby==null}">
								<div class="form-group">
									<input type="text" readonly="true" value=""
										th:field="*{reactivatedby}" class="form-control" />
								</div>
							</div>



							<div class="col-md-2">
								<label>Reactivated On</label>
							</div>
							<div class="col-md-4" th:if="${reactivatedon==null}">
								<div class="form-group">
									<input type="text" readonly="true" value=""
										th:field="*{reactivatedon}" class="form-control" />
								</div>
							</div>



							<div class="col-md-4">
								<span></span>
							</div>
							<div class="col-md-2" align="right">
								<button type="submit" class="btn btn-primary"
									th:text="#{label.deptUpdate}"></button>
								<a style="line-height: 2 !important;"
									th:href="@{/main/creditterms}"><i class="btn btn-default"
									th:text="#{label.back}"></i></a>
							</div>
				
				
				

				</div>
			</form>
			</div>
		</div>
	</section>
	<!-- /.content -->
</body>
</html>