<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Vendor Branch</title>
</head>
<body>
	<div layout:fragment="pageHeader">
		<script type="text/javascript">
	
	 	var edit =[[${edit}]];
		
		if(edit === true){
		
			var path = window.location.pathname;
			
			path = path.replace(/\/$/, "");
			var query = path.split('/');
			path = decodeURIComponent(path);
			if(query[1] === 'poMain'){
			$('.sidebar-menu').find('a[href*="/main/vendorbranch"]').addClass('active');
			}
		
		} 
	</script>

		<section class="content-header">

			<div class="breadcontainer">
				<ul class="breadcrumb">
				<li><a ><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li><a th:href="@{/main/vendorbranch}">Vendor Branch</a></li>
					<li>Edit VendorBranch</li>
				</ul>
			</div>


			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>

			<!-- add these -->
		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Edit Vendor Branch</h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<form th:action="@{/main/updatevendorbranch}"
				class="VendorBranchForm" th:object="${vbranchobj}" method="post">
				<div class="row">

					<div class="col-md-2">
						<label>Vendor Code</label><span style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" th:field="*{vendorCode}" readonly="true"
								maxlength="6" class="form-control" name="vendorCode"
								placeholder="Example: 001908" />
						</div>
					</div>

					<div class="col-md-2">
						<label>Branch Code</label><span style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input readonly="true" th:field="*{vendorBranchCode}" type="text"
								maxlength="2" class="form-control" name="vendorBranchCode"
								placeholder="Example: 01" />
						</div>
					</div>

					<div class="col-md-2">
						<label>Vendor Name</label><span style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input required="true" th:field="*{vendorName}" type="text"
								maxlength="70" class="form-control" name="name"
								placeholder="Example: Jet Industrial Supplies Sdn. Bhd" />
						</div>
					</div>

					<div class="col-md-2">
						<label for="credittermscode">Last Credit Terms Used <span
							style="color: red;"></span></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">

							<input readonly="true" th:field="*{credittermscode}" type="text"
								maxlength="70" class="form-control" />
						</div>
					</div>

					<div class="col-md-2">
						<label>Branch Description</label><span style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input required="true" th:field="*{branchDescription}"
								type="text" maxlength="70" class="form-control"
								name="branchDescription" placeholder="Maximum 70 Characters" />
						</div>
					</div>


					<div class="col-md-2">
						<label>Address Line1</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" th:field="*{vendorAddressLine1}"
								class="form-control" name="vendorAddressLine1"
								placeholder="Maximum 70 Characters" />
						</div>
					</div>

					<div class="col-md-2">
						<label>Address Line2</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" th:field="*{vendorAddressLine2}"
								class="form-control" name="vendorAddressLine2"
								placeholder="Maximum 70 Characters" />
						</div>
					</div>

					<div class="col-md-2">
						<label>Address Line3</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" th:field="*{vendorAddressLine3}"
								class="form-control" name="vendorAddressLine3"
								placeholder="Maximum 70 Characters" />
						</div>
					</div>

					<div class="col-md-2">
						<label>Post Area</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" th:field="*{postCodeArea}"
								class="form-control" maxlength="70" name="postCodeArea"
								placeholder="Example: KL Sentral" />
						</div>
					</div>

					<div class="col-md-2">
						<label>Post Code</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" th:field="*{postCode}" class="form-control"
								maxlength="10" name="postCode" placeholder="Example : 57700" />
						</div>
					</div>

					<div class="col-md-2">
						<label>Last Contact Person Name</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" th:field="*{lastContactPersonName}"
								maxlength="70" class="form-control" name="lastContactPersonName"
								placeholder="Maximum 70 Characters" />
						</div>
					</div>


					<div class="col-md-2">
						<label>Last Contact Person Number</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" th:field="*{lastContactPersonContactNumber}"
								maxlength="15" class="form-control"
								name="lastContactPersonContactNumber"
								placeholder="Maximum 15 Characters" />
						</div>
					</div>


					<div class="col-md-2">
						<label>Last Contact Email Address</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" th:field="*{lastContactPersonEmailAddress}"
								maxlength="70" class="form-control"
								name="lastContactPersonEmailAddress"
								placeholder="Maximum 70 Characters" />
						</div>
					</div>

					<div class="col-md-2">
						<label>Last PO Currency</label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" th:field="*{lastPOCurrency}" maxlength="8"
								class="form-control" name="lastPOCurrency"
								placeholder="Maximum 8 Characters" />
						</div>
					</div>

					<div class="col-md-2">
						<label th:text="#{label.status}"></label><span style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<select th:field="*{isActive}" required="true"
								class="form-control" name="status">
								<option th:value="Active">Active</option>
								<option th:value="InActive">InActive</option>
							</select>
						</div>
					</div>

					<div class="col-md-2">
						<label>Created By</label>
					</div>
					<div class="col-md-4" th:if="${createdBy==null}">
						<div class="form-group">
							<input type="text" readonly="true" th:field="*{createdBy}"
								class="form-control" />
						</div>
					</div>



					<div class="col-md-2">
						<label>Created On</label>
					</div>
					<div class="col-md-4" th:if="${createdOn==null}">
						<div class="form-group">
							<input type="text" readonly="true" th:field="*{createdOn}"
								class="form-control" />
						</div>
					</div>

					<div class="col-md-2">
						<label>Updated By</label>
					</div>
					<div class="col-md-4" th:if="${lastModifiedBy==null}">
						<div class="form-group">
							<input type="text" readonly="true" th:field="*{lastModifiedBy}"
								class="form-control" />
						</div>

					</div>

					<div class="col-md-2">
						<label>Updated On</label>
					</div>
					<div class="col-md-4" th:if="${lastModifiedOn==null}">
						<div class="form-group">
							<input type="text" readonly="true" th:field="*{lastModifiedOn}"
								class="form-control" />
						</div>
					</div>


					<div class="col-md-2">
						<label>Deactivated By</label>
					</div>
					<div class="col-md-4" th:if="${deactivatedBy==null}">
						<div class="form-group">
							<input type="text" readonly="true" value=""
								th:field="*{deactivatedBy}" class="form-control" />
						</div>
					</div>


					<div class="col-md-2">
						<label>Deactivated On</label>
					</div>
					<div class="col-md-4" th:if="${deactivatedOn==null}">
						<div class="form-group">
							<input type="text" readonly="true" value=""
								th:field="*{deactivatedOn}" class="form-control" />
						</div>
					</div>

					<div class="col-md-2">
						<label>Reactivated By</label>
					</div>
					<div class="col-md-4" th:if="${reactivatedBy==null}">
						<div class="form-group">
							<input type="text" readonly="true" value=""
								th:field="*{reactivatedBy}" class="form-control" />
						</div>
					</div>



					<div class="col-md-2">
						<label>Reactivated On</label>
					</div>
					<div class="col-md-4" th:if="${reactivatedOn==null}">
						<div class="form-group">
							<input type="text" readonly="true" value=""
								th:field="*{reactivatedOn}" class="form-control" />
						</div>
					</div>


					<div class="col-md-4">
						<span></span>
					</div>
					<div class="col-md-2" align="right">
						<button type="submit" class="btn btn-primary"
							th:text="#{label.deptUpdate}"></button>
						<a style="line-height: 2 !important;"
							th:href="@{/main/vendorbranch}"><i class="btn btn-default"
							th:text="#{label.back}"></i></a>
					</div>

				</div>
			</form>
		</div>
	</section>
	<!-- /.content -->
</body>
</html>