<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/loginlayout">
<head>
<title th:text="#{label.po_admin}"></title>
</head>
<body>
	<section class="content">
		<div layout:fragment="content">
			<div class="login-box">
				<div class="login-logo"></div>
				<div class="login-box-body">
					<h3 style="text-align:center">PARKSON PO-ADMIN</h3>
					<p class="login-box-msg"></p>
			        <div th:if="${param.error}">
			            <div th:if="${param.error[0]=='1'}">
			                <strong>Invalid username and password.</strong>
			            </div>
			            <div th:if="${param.error[0]=='2'}">
			                <strong>User disabled.</strong>
			            </div>
			            <div th:if="${param.error[0]=='3'}">
			                <strong>Max session for this user.</strong>
			            </div>
			            <div th:if="${param.error[0]=='4'}">
							<strong>Your Account has been INACTIVE</strong><br/> <strong>Please
								contact Super Admin to activate</strong>
						</div>
			            <div th:if="${param.error[0]==''}">
			                <strong>General Error.</strong>
			            </div>
			        </div>
			        <div th:if="${param.logout}">
			            <strong>You have been logged out.</strong>
			        </div>
			        <div th:if="${param.expiredUrl}">
			            <strong>expiredUrl = Max session.</strong>
			        </div>
			        <div th:if="${param.invalidSessionUrl}">
			            <strong>invalidSessionUrl = Session Expired.</strong>
			        </div>
			        <br/>
					
					<form th:action="@{/login}" method="post">
						<div class="form-group has-feedback">
							<input required="true" type="text" class="form-control"
								name="username" id="username" placeholder="Username" /> <span
								class="glyphicon glyphicon-user form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback">
							<input required="true" type="password" class="form-control"
								name="password" id="password" placeholder="Password" /> <span
								class="glyphicon glyphicon-lock form-control-feedback"></span>
						</div>
						<div class="row">
							<div class="form-group col-xs-offset-8 col-xs-4">
								<button type="submit" class="btn btn-primary btn-block btn-flat"
									th:text="#{label.login}"></button>
							</div>
						</div>
					</form>
					<a href="forgotPwd" th:href="@{/forgotPwd}"
						th:text="#{label.forgot_password}"></a><br />
				</div>
			</div>
		</div>
	</section>
</body>
</html>
