<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>ProfitCenter Last PO Number</title>

</head>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
	<script type="text/javascript">
	tableLoad(1); 
	function tableLoad(page) {
		var e = document.getElementById('pageSizeSelectTemp');
		var pagesize=5;
		if(e!=null)
		{
			pagesize = e.options[e.selectedIndex].value;
		}
		var temppage=1;
		if(page!=null)
		{
			temppage=page;
		}
		var sortingkey="year";
		var sortingorder="DESC";
		
		var sortingkeytemp = document.getElementById('sortingkey');
		var sortingordertemp = document.getElementById('sortingorder');
		if(sortingkeytemp!=null)
		{
			sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
		}
		if(sortingordertemp!=null)
		{
			sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
		}
		
		var pcCode=document.getElementById('pcCode')!=null?document.getElementById('pcCode').value:"";
		var poNum=document.getElementById('poNum')!=null?document.getElementById('poNum').value:"";

		var runNum=document.getElementById('runNum')!=null?document.getElementById('runNum').value:"";
		var year=document.getElementById('year')!=null?document.getElementById('year').value:"";
	
		
	$.ajax({
	url : '/poMain/main/pclastpogrid',
	method : 'GET',
	
	/* same variable in entity : username,startDate,...*/
	data:{"pageSize":pagesize,"page":temppage,"pcCode":pcCode,"lastPoNumber":poNum,"runningNumber":runNum,"year":year,"sortingkey":sortingkey,"sortingorder":sortingorder},
	success : function(data, textStatus, jqXHR) {
		$('#result-table').replaceWith(data);
	}
});
	

}
	
	
	
	</script>
		<section class="content-header">
			<div class = "breadcontainer">
				<ul class="breadcrumb">
				<li><a ><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li>Profit Center Last PO Number</li>
					
				</ul>
			</div>
		</section>
	</div>
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Profit Center Last PO Number</h3>
					</div>
				</div>
			</div>
						<div class="well">
			  <div th:fragment="result-table" id="result-table">
				<div class="box box-table">
					<div class="box-header with-border">
						<div class="row" th:if="${list != null}">
							<div class="box-header with-border">
									<h3 class="box-title" th:text="#{label.pcLast_caption}"></h3>
									<span><h5
											th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
								</div>
							</div>
			<div class="row" th:if="${list != null}">
				<div class="form-group col-md-1">
					<select class="form-control pagination" id="pageSizeSelectTemp" onchange="tableLoad(1);">
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>
					</select>
				</div>
				<div th:if="${list.totalPages != 0}"
					class="form-group col-md-6 pagination-centered">
					<ul class="pagination">
						<li th:class="${list.number == 0} ? disabled"><a
							class="pageLink" onclick="tableLoad(1);"
							>&laquo;</a>
						</li>
						<li th:class="${list.number == 0} ? disabled"><input
								type="hidden" id="t2" th:value="${list.number}" /> <a
											class="pageLink"
											onclick="tableLoad(document.getElementById('t2').value);"
											>&larr;</a>
						</li>
						<li
							th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink"
							onclick="tableLoad(this.text);" 
											th:text="${page}"></a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t4" th:value="${list.number + 2}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t4').value);"
											>&rarr;</a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t5" th:value="${list.totalPages}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t5').value);"
											>&raquo;</a>
						</li>
					</ul>
				</div>
				<div class="form-group col-md-5 pagination" align="right">
									<table>
										<tr>
											<td><label>Sort By</label></td>
											<td><select onchange="tableLoad(1);" id="sortingkey"
												th:value="${sortingkey}" class="form-control">
												<!-- th:value are same as entity name -->
													<option th:value="pcCode" th:selected="${sortingkey=='pcCode'}">ProfitCenter Code</option>
													<option th:value="runningNumber"
														th:selected="${sortingkey=='runningNumber'}">Running Number</option>
														<option th:value="lastPoNumber"
														th:selected="${sortingkey=='lastPoNumber'}">Last PO Number</option>
													<option th:value="year"
														th:selected="${sortingkey=='year'}">Year</option>
													
													
													
											</select></td>
											<td><select onchange="tableLoad(1);" id="sortingorder"
												th:value="${sortingorder}" class="form-control">
													<option th:value="ASC" th:selected="${sortingorder=='ASC'}">ASC</option>
													<option th:value="DESC"
														th:selected="${sortingorder=='DESC'}">DESC</option>
											</select></td>
										</tr>
									</table>
								</div>
				
			</div>
			
		
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
							
									<tr>
									<!-- <th th:width="70px" th:text="#{label.serialId}"></th> -->
									<th th:width="70px" th:text="#{label.serialId}"></th>	
									<th th:text="#{label.pcCode_caption}"></th>
									<th th:text="#{label.lastPoNumber_caption}"></th>
									<th th:text="#{label.runningNumber_caption}"></th>
									<th th:text="#{label.year_caption}"></th>
									
								</tr>
								
								<tr align="left">
								
									<!-- <td><input
										 class="form-control" 
										type="text" disabled = "true"/></td> -->
										
									<!-- <td align="right" colspan="4">Search</td> -->
										<td><input
										 class="form-control" 
										type="text" disabled = "true"/></td>
										
										<td><input
										onblur="tableLoad(1);"
										id="pcCode" class="form-control" th:value="*{pcCode}"
										type="text" /></td>
										
										<td><input
										onblur="tableLoad(1);"
										id="poNum" class="form-control" th:value="*{lastPoNumber}"
										type="text" /></td>
										
										
										<td><input
										onblur="tableLoad(1);"
										id="runNum" class="form-control" th:value="*{runningNumber}"
										type="text" /></td>
									
									
									

									<td><input
										onblur="tableLoad(1);"
										id="year" class="form-control" th:value="*{year}"
										type="text" /></td>

								

								</tr>

						
						<tbody th:if="${list != null}">
									<tr th:each="d, id : ${list}" >
									<td th:text="${id.index} + 1 + ${serialid}"></td>
									<!-- <td th:text="${id.index} + 1 + ${serialid}"></td> -->
									<td th:text="${d.pcCode}"></td>
									<td th:text="${d.lastPoNumber}"></td>
									<td th:text="${d.runningNumber}"></td>
									
									<td th:text="${d.year}"></td>
									
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
</body>
</html>