<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Dashboard</title>
<meta charset="utf-8" />
<link th:href="@{/assets/dist/css/cards.css}" rel="stylesheet">
</head>
<body>
	<div layout:fragment="pageHeader" style="background: #b0b1b3">
		<script type="text/javascript">
		$(document).ready (function(){
		 $('#potab a[href="#tab1"]').tab('show');
		 tableLoad(1);
		});
			
			function tableLoad(page) {
				var e = document.getElementById('pageSizeSelectTemp');
				var pagesize = 5;
				if (e != null) {
					pagesize = e.options[e.selectedIndex].value;
				}
				var temppage = 1;
				if (page != null) {
					temppage = page;
				}
				var sortingkey = "lastModifiedOn";
				var sortingorder = "DESC";

				var sortingkeytemp = document.getElementById('sortingkey');
				var sortingordertemp = document.getElementById('sortingorder');
				if (sortingkeytemp != null) {
					sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
				}
				if (sortingordertemp != null) {
					sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
				}

				var poNum = document.getElementById('poNumber') != null ? document
						.getElementById('poNumber').value
						: "";
				var status = document.getElementById('poStatus') != null ? document
						.getElementById('poStatus').value
						: "";
				var vendorname = document.getElementById('vendName') != null ? document
						.getElementById('vendName').value
						: "";
				var issuedOn = document.getElementById('issuedon') != null ? document
						.getElementById('issuedon').value
						: "";

				$.ajax({
					url : '/poMain/dashboard/MyPOsGrid',
					method : 'GET',
					/* same variable in entity : username,startDate,...*/
					data : {
						"pageSize" : pagesize,
						"page" : temppage,
						"poNo" : poNum,
						"status" : status,
						"vendorName" : vendorname,
						"issuedOn" : issuedOn,
						"sortingkey" : sortingkey,
						"sortingorder" : sortingorder
					},
					success : function(data, textStatus, jqXHR) {
						$('#result-table').replaceWith(data);
					}
				});

			}

			function tableLoad_verify(page) {
			 	var e = document.getElementById('pageSizeSelectTempVerify'); 
			 	
				var pagesize = 5;
				 if (e != null) {
					pagesize = e.options[e.selectedIndex].value;
				} 
				var temppage = 1;
				if (page != null) {
					temppage = page;
				}
				var sortingkey = "lastModifiedOn";
				var sortingorder = "DESC";

				var sortingkeytemp = document.getElementById('sortingkeyV');
				var sortingordertemp = document.getElementById('sortingorderV');
				if (sortingkeytemp != null) {
					sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
				}
				if (sortingordertemp != null) {
					sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
				}

				var poNum = document.getElementById('poNumberV') != null ? document
						.getElementById('poNumberV').value
						: "";
				var status = document.getElementById('poStatusV') != null ? document
						.getElementById('poStatusV').value
						: "";
				var vendorname = document.getElementById('vendNameV') != null ? document
						.getElementById('vendNameV').value
						: "";
				var issuedOn = document.getElementById('issuedonV') != null ? document
						.getElementById('issuedonV').value
						: "";

				$.ajax({
					url : '/poMain/dashboard/VerfiyPoGrid',
					method : 'GET',
					/* same variable in entity : username,startDate,...*/
					data : {
						"pageSize" : pagesize,
						"page" : temppage,
						"poNo" : poNum,
						"status" : status,
						"vendorName" : vendorname,
						"issuedOn" : issuedOn,
						"sortingkey" : sortingkey,
						"sortingorder" : sortingorder
					},
					success : function(data, textStatus, jqXHR) {
						$('#result-table_verify').replaceWith(data);
					}
				});

			}
			
			
			function tableLoad_auth(page) {
			 	var e = document.getElementById('pageSizeSelectTempA'); 
			 	
				var pagesize = 5;
				 if (e != null) {
					pagesize = e.options[e.selectedIndex].value;
				} 
				var temppage = 1;
				if (page != null) {
					temppage = page;
				}
				var sortingkey = "lastModifiedOn";
				var sortingorder = "DESC";

				var sortingkeytemp = document.getElementById('sortingkeyA');
				var sortingordertemp = document.getElementById('sortingorderA');
				if (sortingkeytemp != null) {
					sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
				}
				if (sortingordertemp != null) {
					sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
				}

				var poNum = document.getElementById('poNumberA') != null ? document
						.getElementById('poNumberA').value
						: "";
				var status = document.getElementById('poStatusA') != null ? document
						.getElementById('poStatusA').value
						: "";
				var vendorname = document.getElementById('vendNameA') != null ? document
						.getElementById('vendNameA').value
						: "";
				var issuedOn = document.getElementById('issuedonA') != null ? document
						.getElementById('issuedonA').value
						: "";

				$.ajax({
					url : '/poMain/dashboard/AuthorizePoGrid',
					method : 'GET',
					/* same variable in entity : username,startDate,...*/
					data : {
						"pageSize" : pagesize,
						"page" : temppage,
						"poNo" : poNum,
						"status" : status,
						"vendorName" : vendorname,
						"issuedOn" : issuedOn,
						"sortingkey" : sortingkey,
						"sortingorder" : sortingorder
					},
					success : function(data, textStatus, jqXHR) {
						$('#result-table_auth').replaceWith(data);
					}
				});

			}
			
			
			 function tableLoad_invoice(page) {
			        var e = document.getElementById('pageSizeSelectTempI');
			        var pagesize=5;
			        if(e!=null)
			        {
			          pagesize = e.options[e.selectedIndex].value;
			        }
			        var temppage=1;
			        if(page!=null)
			        {
			          temppage=page;
			        }
			        var sortingkey="lastModifiedOn";
			        var sortingorder="DESC";
			        
			        var sortingkeytemp = document.getElementById('sortingkeyI');
			        var sortingordertemp = document.getElementById('sortingorderI');
			        if(sortingkeytemp!=null)
			        {
			          sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
			        }
			        if(sortingordertemp!=null)
			        {
			          sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
			        }
			        
			        
			        var poNum=document.getElementById('poNumberI')!=null?document.getElementById('poNumberI').value:"";
			        var status=document.getElementById('poStatusI')!=null?document.getElementById('poStatusI').value:"";
			        var vendorname=document.getElementById('vendNameI')!=null?document.getElementById('vendNameI').value:"";
			        var issuedOn=document.getElementById('issuedonI')!=null?document.getElementById('issuedonI').value:"";
			      
			        
			      $.ajax({
			      url : '/poMain/dashboard/InvoicePoGrid',
			      method : 'GET',
			      
			      /* same variable in entity : username,startDate,...*/
			      data:{"pageSize":pagesize,"page":temppage,"poNo":poNum,"status":status,"vendorName":vendorname,"issuedOn" :issuedOn,"sortingkey":sortingkey,"sortingorder":sortingorder},
			      success : function(data, textStatus, jqXHR) {
			        $('#result-table-invoice').replaceWith(data);
			      }
			    });
			      

			    }
			 
			 
			 function tableLoad_draft(page) {
			        var e = document.getElementById('pageSizeSelectTempD');
			        var pagesize=5;
			        if(e!=null)
			        {
			          pagesize = e.options[e.selectedIndex].value;
			        }
			        var temppage=1;
			        if(page!=null)
			        {
			          temppage=page;
			        }
			        var sortingkey="lastModifiedOn";
			        var sortingorder="DESC";
			        
			        var sortingkeytemp = document.getElementById('sortingkeyD');
			        var sortingordertemp = document.getElementById('sortingorderD');
			        if(sortingkeytemp!=null)
			        {
			          sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
			        }
			        if(sortingordertemp!=null)
			        {
			          sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
			        }
			        
			        
			        var poNum=document.getElementById('poNumberD')!=null?document.getElementById('poNumberD').value:"";
			        var status=document.getElementById('poStatusD')!=null?document.getElementById('poStatusD').value:"";
			        var vendorname=document.getElementById('vendNameD')!=null?document.getElementById('vendNameD').value:"";
			        var issuedOn=document.getElementById('issuedonD')!=null?document.getElementById('issuedonD').value:"";
			      
			        
			      $.ajax({
			      url : '/poMain/dashboard/DraftPoGrid',
			      method : 'GET',
			      
			      /* same variable in entity : username,startDate,...*/
			      data:{"pageSize":pagesize,"page":temppage,"poNo":poNum,"status":status,"vendorName":vendorname,"issuedOn" :issuedOn,"sortingkey":sortingkey,"sortingorder":sortingorder},
			      success : function(data, textStatus, jqXHR) {
			        $('#result-table-draft').replaceWith(data);
			      }
			    });
			      

			    }
			      
			      
			     
			      function tableLoad_rdraft(page) {
			        var e = document.getElementById('pageSizeSelectTempR');
			        var pagesize=5;
			        if(e!=null)
			        {
			          pagesize = e.options[e.selectedIndex].value;
			        }
			        var temppage=1;
			        if(page!=null)
			        {
			          temppage=page;
			        }
			        var sortingkey="lastModifiedOn";
			        var sortingorder="DESC";
			        
			        var sortingkeytemp = document.getElementById('sortingkeyR');
			        var sortingordertemp = document.getElementById('sortingorderR');
			        if(sortingkeytemp!=null)
			        {
			          sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
			        }
			        if(sortingordertemp!=null)
			        {
			          sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
			        }
			        
			        
			        var poNum=document.getElementById('poNumberR')!=null?document.getElementById('poNumberR').value:"";
			        var status=document.getElementById('poStatusR')!=null?document.getElementById('poStatusR').value:"";
			        var vendorname=document.getElementById('vendNameR')!=null?document.getElementById('vendNameR').value:"";
			        var issuedOn=document.getElementById('issuedonR')!=null?document.getElementById('issuedonR').value:"";
			      
			        
			      $.ajax({
			      url : '/poMain/dashboard/RedraftPoGrid',
			      method : 'GET',
			      
			      /* same variable in entity : username,startDate,...*/
			      data:{"pageSize":pagesize,"page":temppage,"poNo":poNum,"status":status,"vendorName":vendorname,"issuedOn" :issuedOn,"sortingkey":sortingkey,"sortingorder":sortingorder},
			      success : function(data, textStatus, jqXHR) {
			        $('#result-table-rdraft').replaceWith(data);
			      }
			    });
			      

			    }
			      
			      
		
</script>
		<!-- <section class="content-header"><a id="newpo" href="#"
									th:href="@{'/main/createpo_menu'}"><i
										class="fa fa-folder-open"></i> <span th:text="#{label.newpo}"></span></a></section> -->
	</div>
	<section class="content tabs-section">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.dashboard}"></h3>





					</div>

				</div>

			</div>


			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.dashboard}"></h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-check-square"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Verify POs</p>

										<span th:text="${chkSizeV}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<!--  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <i class="fa fa-check" th:text="Active"></i> 
                      <span th:text="${total_active_vendorBranch}"></span>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <i class="fa fa-ban" th:text="Inactive"></i> 
                      <span th:text="${total_inactive_vendorBranch}"></span>
                    </div>
                  </div> -->
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa  fa-thumbs-up"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Authorized POs</p>
										<span th:text="${chkSizeA}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<!-- <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <i class="fa fa-check" th:text="Active"></i> 
                      <span th:text="${total_active_crt}"></span>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <i class="fa fa-ban" th:text="Inactive"></i> 
                      <span th:text="${total_inactive_crt}"></span>
                    </div>
                  </div> -->
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-usd"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Invoiced POs</p>
										<span th:text="${chkSizeI}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<!-- <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <i class="fa fa-check" th:text="Active"></i> 
                      <span th:text="${total_active_vendorCrt}"></span>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <i class="fa fa-ban" th:text="Inactive"></i> 
                      <span th:text="${total_inactivevendorCrt}"></span>
                    </div>
                  </div> -->
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="icon-big icon-warning text-center">
										<i class="fa fa-pencil-square"></i>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="card-title">
										<p>Draft POs</p>
										<span th:text="${chkSizeD}"></span>
									</div>
								</div>
							</div>
							<div class="footer">
								<hr />
								<div class="stats">
									<!-- <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <i class="fa fa-check" th:text="Active"></i> 
                      <span th:text="${total_active_project}"></span>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <i class="fa fa-ban" th:text="Inactive"></i> 
                      <span th:text="${total_inactive_project}"></span>
                    </div>
                  </div> -->
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- End of Top Cards -->





			<div class="tabs-section-nav tabs-section-nav-icons myWizard"
				style="padding-top: 20px;">
				<div class="tbl">
					<ul class="nav nav-tabs" role="tablist" id="potab">
						<li class="nav-item"><a class="nav-link" href="#tab1"
							onclick="tableLoad(1);" role="tab" data-step="1"
							data-toggle="tab"> <span class="nav-link-in"> <i
									class="font-icon font-icon-cogwheel"></i> My POs
							</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#tab2"
							onclick="tableLoad_verify(1);" role="tab" data-step="2"
							data-toggle="tab"> <span class="nav-link-in"> Verify
									POs </span>
						</a></li>

						<li class="nav-item"><a class="nav-link" href="#tab3"
							onclick="tableLoad_auth(1);" role="tab" data-step="3"
							data-toggle="tab"> <span class="nav-link-in">
									Authorized POs </span>
						</a></li>

						<li class="nav-item"><a class="nav-link" href="#tab4"
							onclick="tableLoad_invoice(1);" role="tab" data-step="4"
							data-toggle="tab"> <span class="nav-link-in"> Invoiced
									POs </span>
						</a></li>


						<li class="nav-item"><a class="nav-link" href="#tab6"
							onclick="tableLoad_rdraft(1);" role="tab" data-step="6"
							data-toggle="tab"> <span class="nav-link-in"> Re-Draft
									POs </span>
						</a></li>

						<li class="nav-item"><a class="nav-link" href="#tab5"
							onclick="tableLoad_draft(1);" role="tab" data-step="5"
							data-toggle="tab"> <span class="nav-link-in"> Draft
									POs </span>
						</a></li>
					</ul>







				</div>
				<div class="tab-content" id="pocontenttab">
					<div role="tabpanel" class="tab-pane fade" id="tab1">
						<div th:fragment="result-table" id="result-table">
							<div class="box box-table">
								<div class="box-header with-border">
									<div class="row" th:if="${list != null}">
										<div class="box-header with-border">
											<h3 class="box-title" th:text="#{label_myPO_caption}"></h3>
											<span><h5
													th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
										</div>
									</div>
									<div class="row" th:if="${list != null}">
										<div class="form-group col-md-1">
											<select class="form-control pagination"
												id="pageSizeSelectTemp" onchange="tableLoad(1);">
												<option th:each="pageSize : ${pageSizes}"
													th:text="${pageSize}" th:value="${pageSize}"
													th:selected="${pageSize} == ${selectedPageSize}"></option>
											</select>
										</div>
										<div th:if="${list.totalPages != 0}"
											class="form-group col-md-6 pagination-centered">
											<ul class="pagination">
												<li th:class="${list.number == 0} ? disabled"><a
													class="pageLink" onclick="tableLoad(1);">&laquo;</a></li>
												<li th:class="${list.number == 0} ? disabled"><input
													type="hidden" id="t2" th:value="${list.number}" /> <a
													class="pageLink"
													onclick="tableLoad(document.getElementById('t2').value);">&larr;</a>
												</li>
												<li
													th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
													th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
													<a class="pageLink" onclick="tableLoad(this.text);"
													th:text="${page}"></a>
												</li>
												<li
													th:class="${list.number + 1 == list.totalPages} ? disabled">
													<input type="hidden" id="t4" th:value="${list.number + 2}" />
													<a class="pageLink"
													onclick="tableLoad(document.getElementById('t4').value);">&rarr;</a>
												</li>
												<li
													th:class="${list.number + 1 == list.totalPages} ? disabled">
													<input type="hidden" id="t5" th:value="${list.totalPages}" />
													<a class="pageLink"
													onclick="tableLoad(document.getElementById('t5').value);">&raquo;</a>
												</li>
											</ul>
										</div>
										<div class="form-group col-md-5 pagination" align="right">
											<table>
												<tr>
													<td><label>Sort By</label></td>
													<td><select onchange="tableLoad(1);" id="sortingkey"
														th:value="${sortingkey}" class="form-control">
															<option th:value="poNo"
																th:selected="${sortingkey=='poNo'}">PO Number</option>
															<option th:value="status"
																th:selected="${sortingkey=='status'}">PO Status</option>
															<option th:value="vendorName"
																th:selected="${sortingkey=='vendorName'}">Vendor
																Name</option>
															<option th:value="issuedOn"
																th:selected="${sortingkey=='issuedOn'}">Issued
																On</option>
															<option th:value="lastModifiedOn"
																th:selected="${sortingkey=='lastModifiedOn'}">Last
																Modified On</option>
													</select></td>
													<td><select onchange="tableLoad(1);" id="sortingorder"
														th:value="${sortingorder}" class="form-control">
															<option th:value="ASC"
																th:selected="${sortingorder=='ASC'}">ASC</option>
															<option th:value="DESC"
																th:selected="${sortingorder=='DESC'}">DESC</option>
													</select></td>
												</tr>
											</table>
										</div>
									</div>
									<div class="box-body table-responsive no-padding">
										<table class="table table-hover">
											<thead>
												<tr>
													<th th:width="70px" th:text="#{label.serialId}"></th>
													<th th:text="#{label.poNum_caption}">PO Number</th>
													<th th:text="#{label.poStatus_caption}">PO Status</th>
													<th th:text="#{label.vendName_caption}">Vendor Name</th>
													<th th:text="#{label.issuedon_caption}">Issued On</th>
													<th style="width: 10px" th:text="#{label.view}"></th>


												</tr>
											</thead>
											<tr align="left">
												<td><input class="form-control" type="text"
													disabled="true" /></td>
												<td><input onblur="tableLoad(1);" id="poNumber"
													class="form-control" th:value="*{poNo}" type="text" /></td>
												<td><input onblur="tableLoad(1);" id="poStatus"
													class="form-control" th:value="*{status}" type="text" /></td>
												<td><input onblur="tableLoad(1);" id="vendName"
													class="form-control" th:value="*{vendorName}" type="text" /></td>
												<td><input onblur="tableLoad(1);" id="issuedon"
													class="form-control" th:value="*{issuedOn}" type="text" /></td>
												<td></td>
											</tr>
											<tbody th:if="${list != null}">
												<tr th:each="d, id : ${list}">
													<td th:text="${id.index} + 1 + ${serialid}"></td>
													<td th:text="${d.poNo}"></td>
													<td th:text="${d.status}"></td>
													<td th:text="${d.vendorName}"></td>
													<td th:text="${d.issuedOn}"></td>
													<td><a sec:authorize="hasAuthority('ACTIVE')"
														th:href="@{/main/view_po/(poNo=${d.poNo},(status = ${d.status}))}"
														class="btn btn-sm btn-default"><i class="fa fa-eye"
															th:text="'  ' +#{label.view}"></i> </a><a
														sec:authorize="hasAuthority('INACTIVE')"
														th:href="@{/main/view_invoice/(poNo=${d.poNo})}"
														class="btn btn-sm btn-default"><i class="fa fa-eye"
															th:text="'  ' +#{label.view}"></i> </a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Verify Tab  -->
					<div role="tabpanel" class="tab-pane fade" id="tab2">
						<div th:fragment="result-table_verify" id="result-table_verify">
							<div class="box box-table">
								<div class="box-header with-border">
									<div class="row" th:if="${list != null}">
										<div class="box-header with-border">
											<h3 class="box-title" th:text="#{label.verifyPO_caption}"></h3>
											<span><h5
													th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
										</div>
									</div>
									<div class="row" th:if="${list != null}">
										<div class="form-group col-md-1">
											<select class="form-control pagination"
												id="pageSizeSelectTempVerify"
												onchange="tableLoad_verify(1);">
												<option th:each="pageSize : ${pageSizes}"
													th:text="${pageSize}" th:value="${pageSize}"
													th:selected="${pageSize} == ${selectedPageSize}"></option>
											</select>
										</div>
										<div th:if="${list.totalPages != 0}"
											class="form-group col-md-6 pagination-centered">
											<ul class="pagination">
												<li th:class="${list.number == 0} ? disabled"><a
													class="pageLink" onclick="tableLoad_verify(1);">&laquo;</a>
												</li>
												<li th:class="${list.number == 0} ? disabled"><input
													type="hidden" id="t2" th:value="${list.number}" /> <a
													class="pageLink"
													onclick="tableLoad_verify(document.getElementById('t2').value);">&larr;</a>
												</li>
												<li
													th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
													th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
													<a class="pageLink" onclick="tableLoad_verify(this.text);"
													th:text="${page}"></a>
												</li>
												<li
													th:class="${list.number + 1 == list.totalPages} ? disabled">
													<input type="hidden" id="t4" th:value="${list.number + 2}" />
													<a class="pageLink"
													onclick="tableLoad_verify(document.getElementById('t4').value);">&rarr;</a>
												</li>
												<li
													th:class="${list.number + 1 == list.totalPages} ? disabled">
													<input type="hidden" id="t5" th:value="${list.totalPages}" />
													<a class="pageLink"
													onclick="tableLoad_verify(document.getElementById('t5').value);">&raquo;</a>
												</li>
											</ul>
										</div>
										<div class="form-group col-md-5 pagination" align="right">
											<table>
												<tr>
													<td><label>Sort By</label></td>
													<td><select onchange="tableLoad_verify(1);"
														id="sortingkeyV" th:value="${sortingkey}"
														class="form-control">
															<!-- th:value are same as entity name -->
															<option th:value="poNo"
																th:selected="${sortingkey=='poNo'}">PO Number</option>
															<option th:value="status"
																th:selected="${sortingkey=='status'}">PO Status</option>

															<option th:value="vendorName"
																th:selected="${sortingkey=='vendorName'}">Vendor
																Name</option>

															<option th:value="issuedOn"
																th:selected="${sortingkey=='issuedOn'}">Issued
																On</option>

															<option th:value="lastModifiedOn"
																th:selected="${sortingkey=='lastModifiedOn'}">Last
																Modified On</option>


													</select></td>
													<td><select onchange="tableLoad_verify(1);"
														id="sortingorderV" th:value="${sortingorder}"
														class="form-control">
															<option th:value="ASC"
																th:selected="${sortingorder=='ASC'}">ASC</option>
															<option th:value="DESC"
																th:selected="${sortingorder=='DESC'}">DESC</option>
													</select></td>
												</tr>
											</table>
										</div>

									</div>


									<div class="box-body table-responsive no-padding">
										<table class="table table-hover">

											<tr>
												<th th:width="70px" th:text="#{label.serialId}"></th>
												<th th:text="#{label.poNum_caption}">PO Number</th>
												<th th:text="#{label.poStatus_caption}">PO Status</th>
												<th th:text="#{label.vendName_caption}">Vendor Name</th>
												<th th:text="#{label.issuedon_caption}">Issued On</th>
												<th style="width: 10px" th:text="#{label.view}"></th>


											</tr>

											<tr align="left">

												<td><input class="form-control" type="text"
													disabled="true" /></td>

												<!-- <td align="right" colspan="4">Search</td> -->

												<td><input onblur="tableLoad_verify(1);" id="poNumberV"
													class="form-control" th:value="*{poNo}" type="text" /></td>

												<td><input onblur="tableLoad_verify(1);" id="poStatusV"
													class="form-control" th:value="*{status}" type="text" /></td>


												<td><input onblur="tableLoad_verify(1);" id="vendNameV"
													class="form-control" th:value="*{vendorName}" type="text" /></td>

												<td><input onblur="tableLoad_verify(1);" id="issuedonV"
													class="form-control" th:value="*{issuedOn}" type="text" /></td>

												<td></td>
											</tr>
											<tbody th:if="${list != null}">
												<tr th:each="d, id : ${list}">
													<td th:text="${id.index} + 1 + ${serialid}"></td>
													<td th:text="${d.poNo}"></td>
													<td th:text="${d.status}"></td>
													<td th:text="${d.vendorName}"></td>
													<td th:text="${d.issuedOn}"></td>
													<td><a
														th:href="@{/main/edit_issued_po/(poNo=${d.poNo},(status = ${d.status}))}"
														class="btn btn-sm btn-default"><i class="fa fa-eye"
															th:text="'  ' +#{label.view}"></i> </a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Verify Tab  -->



					<!-- Authorize Tab -->
					<div role="tabpanel" class="tab-pane fade" id="tab3">
						<div class="well">
							<div th:fragment="result-table_auth" id="result-table_auth">
								<div class="box box-table">
									<div class="box-header with-border">
										<div class="row" th:if="${list != null}">
											<div class="box-header with-border">
												<h3 class="box-title" th:text="#{label.AuthorizePO_caption}"></h3>
												<span><h5
														th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
											</div>
										</div>
										<div class="row" th:if="${list != null}">
											<div class="form-group col-md-1">
												<select class="form-control pagination"
													id="pageSizeSelectTempA" onchange="tableLoad_auth(1);">
													<option th:each="pageSize : ${pageSizes}"
														th:text="${pageSize}" th:value="${pageSize}"
														th:selected="${pageSize} == ${selectedPageSize}"></option>
												</select>
											</div>
											<div th:if="${list.totalPages != 0}"
												class="form-group col-md-6 pagination-centered">
												<ul class="pagination">
													<li th:class="${list.number == 0} ? disabled"><a
														class="pageLink" onclick="tableLoad_auth(1);">&laquo;</a>
													</li>
													<li th:class="${list.number == 0} ? disabled"><input
														type="hidden" id="t2" th:value="${list.number}" /> <a
														class="pageLink"
														onclick="tableLoad_auth(document.getElementById('t2').value);">&larr;</a>
													</li>
													<li
														th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
														th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
														<a class="pageLink" onclick="tableLoad_auth(this.text);"
														th:text="${page}"></a>
													</li>
													<li
														th:class="${list.number + 1 == list.totalPages} ? disabled">
														<input type="hidden" id="t4" th:value="${list.number + 2}" />
														<a class="pageLink"
														onclick="tableLoad_auth(document.getElementById('t4').value);">&rarr;</a>
													</li>
													<li
														th:class="${list.number + 1 == list.totalPages} ? disabled">
														<input type="hidden" id="t5" th:value="${list.totalPages}" />
														<a class="pageLink"
														onclick="tableLoad_auth(document.getElementById('t5').value);">&raquo;</a>
													</li>
												</ul>
											</div>
											<div class="form-group col-md-5 pagination" align="right">
												<table>
													<tr>
														<td><label>Sort By</label></td>
														<td><select onchange="tableLoad_auth(1);"
															id="sortingkeyA" th:value="${sortingkey}"
															class="form-control">
																<!-- th:value are same as entity name -->
																<option th:value="poNo"
																	th:selected="${sortingkey=='poNo'}">PO Number</option>
																<option th:value="status"
																	th:selected="${sortingkey=='status'}">PO
																	Status</option>

																<option th:value="vendorName"
																	th:selected="${sortingkey=='vendorName'}">Vendor
																	Name</option>

																<option th:value="issuedOn"
																	th:selected="${sortingkey=='issuedOn'}">Issued
																	On</option>

																<option th:value="lastModifiedOn"
																	th:selected="${sortingkey=='lastModifiedOn'}">Last
																	Modified On</option>


														</select></td>
														<td><select onchange="tableLoad_auth(1);"
															id="sortingorderA" th:value="${sortingorder}"
															class="form-control">
																<option th:value="ASC"
																	th:selected="${sortingorder=='ASC'}">ASC</option>
																<option th:value="DESC"
																	th:selected="${sortingorder=='DESC'}">DESC</option>
														</select></td>
													</tr>
												</table>
											</div>

										</div>


										<div class="box-body table-responsive no-padding">
											<table class="table table-hover" id="testtable">

												<tr>
													<th th:width="70px" th:text="#{label.serialId}"></th>
													<th th:text="#{label.poNum_caption}">PO Number</th>
													<th th:text="#{label.poStatus_caption}">PO Status</th>
													<th th:text="#{label.vendName_caption}">Vendor Name</th>
													<th th:text="#{label.issuedon_caption}">Issued On</th>
													<th style="width: 10px" th:text="#{label.view}"></th>


												</tr>

												<tr align="left">

													<td><input class="form-control" type="text"
														disabled="true" /></td>

													<!-- <td align="right" colspan="4">Search</td> -->

													<td><input onblur="tableLoad_auth(1);" id="poNumberA"
														class="form-control" th:value="*{poNo}" type="text" /></td>

													<td><input onblur="tableLoad_auth(1);" id="poStatusA"
														class="form-control" th:value="*{status}" type="text" /></td>


													<td><input onblur="tableLoad_auth(1);" id="vendNameA"
														class="form-control" th:value="*{vendorName}" type="text" /></td>

													<td><input onblur="tableLoad_auth(1);" id="issuedonA"
														class="form-control" th:value="*{issuedOn}" type="text" /></td>

													<td></td>




												</tr>


												<tbody th:if="${list != null}">
													<tr th:each="d, id : ${list}">
														<td th:text="${id.index} + 1 + ${serialid}"></td>
														<td th:text="${d.poNo}"></td>
														<td th:text="${d.status}"></td>
														<td th:text="${d.vendorName}"></td>
														<td th:text="${d.issuedOn}"></td>
														<td><a
															th:href="@{/main/edit_verified_po/(poNo=${d.poNo},(status = ${d.status}))}"
															class="btn btn-sm btn-default"><i class="fa fa-eye"
																th:text="'  ' +#{label.view}"></i> </a></td>


													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Auth Tab -->


					<!-- Draft POs -->
					<div role="tabpanel" class="tab-pane fade" id="tab5">
						<div class="well">
							<div th:fragment="result-table-draft" id="result-table-draft">
								<div class="box box-table">
									<div class="box-header with-border">
										<div class="row" th:if="${list != null}">
											<div class="box-header with-border">
												<h3 class="box-title" th:text="#{label.DraftPO_caption}"></h3>
												<span><h5
														th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
											</div>
										</div>
										<div class="row" th:if="${list != null}">
											<div class="form-group col-md-1">
												<select class="form-control pagination"
													id="pageSizeSelectTempD" onchange="tableLoad_draft(1);">
													<option th:each="pageSize : ${pageSizes}"
														th:text="${pageSize}" th:value="${pageSize}"
														th:selected="${pageSize} == ${selectedPageSize}"></option>
												</select>
											</div>
											<div th:if="${list.totalPages != 0}"
												class="form-group col-md-6 pagination-centered">
												<ul class="pagination">
													<li th:class="${list.number == 0} ? disabled"><a
														class="pageLink" onclick="tableLoad_draft(1);">&laquo;</a>
													</li>
													<li th:class="${list.number == 0} ? disabled"><input
														type="hidden" id="t2" th:value="${list.number}" /> <a
														class="pageLink"
														onclick="tableLoad_draft(document.getElementById('t2').value);">&larr;</a>
													</li>
													<li
														th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
														th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
														<a class="pageLink" onclick="tableLoad_draft(this.text);"
														th:text="${page}"></a>
													</li>
													<li
														th:class="${list.number + 1 == list.totalPages} ? disabled">
														<input type="hidden" id="t4" th:value="${list.number + 2}" />
														<a class="pageLink"
														onclick="tableLoad_draft(document.getElementById('t4').value);">&rarr;</a>
													</li>
													<li
														th:class="${list.number + 1 == list.totalPages} ? disabled">
														<input type="hidden" id="t5" th:value="${list.totalPages}" />
														<a class="pageLink"
														onclick="tableLoad_draft(document.getElementById('t5').value);">&raquo;</a>
													</li>
												</ul>
											</div>
											<div class="form-group col-md-5 pagination" align="right">
												<table>
													<tr>
														<td><label>Sort By</label></td>
														<td><select onchange="tableLoad_draft(1);"
															id="sortingkeyD" th:value="${sortingkey}"
															class="form-control">
																<!-- th:value are same as entity name -->
																<option th:value="poNo"
																	th:selected="${sortingkey=='poNo'}">PO Number</option>
																<option th:value="status"
																	th:selected="${sortingkey=='status'}">PO
																	Status</option>

																<option th:value="vendorName"
																	th:selected="${sortingkey=='vendorName'}">Vendor
																	Name</option>

																<option th:value="issuedOn"
																	th:selected="${sortingkey=='issuedOn'}">Issued
																	On</option>


														</select></td>
														<td><select onchange="tableLoad_draft(1);"
															id="sortingorderD" th:value="${sortingorder}"
															class="form-control">
																<option th:value="ASC"
																	th:selected="${sortingorder=='ASC'}">ASC</option>
																<option th:value="DESC"
																	th:selected="${sortingorder=='DESC'}">DESC</option>
														</select></td>
													</tr>
												</table>
											</div>

										</div>


										<div class="box-body table-responsive no-padding">
											<table class="table table-hover">

												<tr>
													<th th:width="70px" th:text="#{label.serialId}"></th>
													<th th:text="#{label.poNum_caption}">PO Number</th>
													<th th:text="#{label.poStatus_caption}">PO Status</th>
													<th th:text="#{label.vendName_caption}">Vendor Name</th>
													<th th:text="#{label.issuedon_caption}">Issued On</th>
													<th style="width: 10px" th:text="#{label.edit}"></th>


												</tr>

												<tr align="left">

													<td><input class="form-control" type="text"
														disabled="true" /></td>

													<!-- <td align="right" colspan="4">Search</td> -->

													<td><input onblur="tableLoad_draft(1);" id="poNumberD"
														class="form-control" th:value="*{poNo}" type="text" /></td>

													<td><input onblur="tableLoad_draft(1);" id="poStatusD"
														class="form-control" th:value="*{status}" type="text" /></td>


													<td><input onblur="tableLoad_draft(1);" id="vendNameD"
														class="form-control" th:value="*{vendorName}" type="text" /></td>

													<td><input onblur="tableLoad_draft(1);" id="issuedonD"
														class="form-control" th:value="*{issuedOn}" type="text" /></td>

													<td></td>




												</tr>


												<tbody th:if="${list != null}">
													<tr th:each="d, id : ${list}">
														<td th:text="${id.index} + 1 + ${serialid}"></td>
														<td th:text="${d.poNo}"></td>
														<td th:text="${d.status}"></td>
														<td th:text="${d.vendorName}"></td>
														<td th:text="${d.issuedOn}"></td>
														<td><a
															th:href="@{/main/edit_draft_po/(poNo=${d.poNo},(status = ${d.status}))}"
															class="btn btn-sm btn-default"><i class="fa fa-edit"
																th:text="'  ' +#{label.edit}"></i> </a></td>


													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Draft Pos -->



					<!-- Redraft POs -->

					<div role="tabpanel" class="tab-pane fade" id="tab6">
						<div class="well">
							<div th:fragment="result-table-rdraft" id="result-table-rdraft">
								<div class="box box-table">
									<div class="box-header with-border">
										<div class="row" th:if="${list != null}">
											<div class="box-header with-border">
												<h3 class="box-title" th:text="#{label.ReDraftPO_caption}"></h3>
												<span><h5
														th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
											</div>
										</div>
										<div class="row" th:if="${list != null}">
											<div class="form-group col-md-1">
												<select class="form-control pagination"
													id="pageSizeSelectTempR" onchange="tableLoad_rdraft(1);">
													<option th:each="pageSize : ${pageSizes}"
														th:text="${pageSize}" th:value="${pageSize}"
														th:selected="${pageSize} == ${selectedPageSize}"></option>
												</select>
											</div>
											<div th:if="${list.totalPages != 0}"
												class="form-group col-md-6 pagination-centered">
												<ul class="pagination">
													<li th:class="${list.number == 0} ? disabled"><a
														class="pageLink" onclick="tableLoad_rdraft(1);">&laquo;</a>
													</li>
													<li th:class="${list.number == 0} ? disabled"><input
														type="hidden" id="t2" th:value="${list.number}" /> <a
														class="pageLink"
														onclick="tableLoad_rdraft(document.getElementById('t2').value);">&larr;</a>
													</li>
													<li
														th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
														th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
														<a class="pageLink" onclick="tableLoad_rdraft(this.text);"
														th:text="${page}"></a>
													</li>
													<li
														th:class="${list.number + 1 == list.totalPages} ? disabled">
														<input type="hidden" id="t4" th:value="${list.number + 2}" />
														<a class="pageLink"
														onclick="tableLoad_rdraft(document.getElementById('t4').value);">&rarr;</a>
													</li>
													<li
														th:class="${list.number + 1 == list.totalPages} ? disabled">
														<input type="hidden" id="t5" th:value="${list.totalPages}" />
														<a class="pageLink"
														onclick="tableLoad_rdraft(document.getElementById('t5').value);">&raquo;</a>
													</li>
												</ul>
											</div>
											<div class="form-group col-md-5 pagination" align="right">
												<table>
													<tr>
														<td><label>Sort By</label></td>
														<td><select onchange="tableLoad_rdraft(1);"
															id="sortingkeyR" th:value="${sortingkey}"
															class="form-control">
																<!-- th:value are same as entity name -->
																<option th:value="poNo"
																	th:selected="${sortingkey=='poNo'}">PO Number</option>
																<option th:value="status"
																	th:selected="${sortingkey=='status'}">PO
																	Status</option>

																<option th:value="vendorName"
																	th:selected="${sortingkey=='vendorName'}">Vendor
																	Name</option>

																<option th:value="issuedOn"
																	th:selected="${sortingkey=='issuedOn'}">Issued
																	On</option>


														</select></td>
														<td><select onchange="tableLoad_rdraft(1);"
															id="sortingorderR" th:value="${sortingorder}"
															class="form-control">
																<option th:value="ASC"
																	th:selected="${sortingorder=='ASC'}">ASC</option>
																<option th:value="DESC"
																	th:selected="${sortingorder=='DESC'}">DESC</option>
														</select></td>
													</tr>
												</table>
											</div>

										</div>


										<div class="box-body table-responsive no-padding">
											<table class="table table-hover">

												<tr>
													<th th:width="70px" th:text="#{label.serialId}"></th>
													<th th:text="#{label.poNum_caption}">PO Number</th>
													<th th:text="#{label.poStatus_caption}">PO Status</th>
													<th th:text="#{label.vendName_caption}">Vendor Name</th>
													<th th:text="#{label.issuedon_caption}">Issued On</th>
													<th style="width: 10px" th:text="#{label.edit}"></th>


												</tr>

												<tr align="left">

													<td><input class="form-control" type="text"
														disabled="true" /></td>

													<!-- <td align="right" colspan="4">Search</td> -->

													<td><input onblur="tableLoad_rdraft(1);"
														id="poNumberR" class="form-control" th:value="*{poNo}"
														type="text" /></td>

													<td><input onblur="tableLoad_rdraft(1);"
														id="poStatusR" class="form-control" th:value="*{status}"
														type="text" /></td>


													<td><input onblur="tableLoad_rdraft(1);"
														id="vendNameR" class="form-control"
														th:value="*{vendorName}" type="text" /></td>

													<td><input onblur="tableLoad_rdraft(1);"
														id="issuedonR" class="form-control" th:value="*{issuedOn}"
														type="text" /></td>

													<td></td>




												</tr>


												<tbody th:if="${list != null}">
													<tr th:each="d, id : ${list}">
														<td th:text="${id.index} + 1 + ${serialid}"></td>
														<td th:text="${d.poNo}"></td>
														<td th:text="${d.status}"></td>
														<td th:text="${d.vendorName}"></td>
														<td th:text="${d.issuedOn}"></td>
														<td><a
															th:href="@{/main/edit_draft_po/(poNo=${d.poNo},(status = ${d.status}))}"
															class="btn btn-sm btn-default"><i class="fa fa-edit"
																th:text="'  ' +#{label.edit}"></i> </a></td>


													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<!-- Redraft POs -->


					<!-- Invoice Tab -->
					<div role="tabpanel" class="tab-pane fade" id="tab4">
						<div class="well">
							<div th:fragment="result-table-invoice" id="result-table-invoice">
								<div class="box box-table">
									<div class="box-header with-border">
										<div class="row" th:if="${list != null}">
											<div class="box-header with-border">
												<h3 class="box-title" th:text="#{label.InvoicePO_caption}"></h3>
												<span><h5
														th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
											</div>
										</div>
										<div class="row" th:if="${list != null}">
											<div class="form-group col-md-1">
												<select class="form-control pagination"
													id="pageSizeSelectTempI" onchange="tableLoad_invoice(1);">
													<option th:each="pageSize : ${pageSizes}"
														th:text="${pageSize}" th:value="${pageSize}"
														th:selected="${pageSize} == ${selectedPageSize}"></option>
												</select>
											</div>
											<div th:if="${list.totalPages != 0}"
												class="form-group col-md-6 pagination-centered">
												<ul class="pagination">
													<li th:class="${list.number == 0} ? disabled"><a
														class="pageLink" onclick="tableLoad_invoice(1);">&laquo;</a>
													</li>
													<li th:class="${list.number == 0} ? disabled"><input
														type="hidden" id="t2" th:value="${list.number}" /> <a
														class="pageLink"
														onclick="tableLoad_invoice(document.getElementById('t2').value);">&larr;</a>
													</li>
													<li
														th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
														th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
														<a class="pageLink"
														onclick="tableLoad_invoice(this.text);" th:text="${page}"></a>
													</li>
													<li
														th:class="${list.number + 1 == list.totalPages} ? disabled">
														<input type="hidden" id="t4" th:value="${list.number + 2}" />
														<a class="pageLink"
														onclick="tableLoad_invoice(document.getElementById('t4').value);">&rarr;</a>
													</li>
													<li
														th:class="${list.number + 1 == list.totalPages} ? disabled">
														<input type="hidden" id="t5" th:value="${list.totalPages}" />
														<a class="pageLink"
														onclick="tableLoad_invoice(document.getElementById('t5').value);">&raquo;</a>
													</li>
												</ul>
											</div>
											<div class="form-group col-md-5 pagination" align="right">
												<table>
													<tr>
														<td><label>Sort By</label></td>
														<td><select onchange="tableLoad_invoice(1);"
															id="sortingkeyI" th:value="${sortingkey}"
															class="form-control">
																<!-- th:value are same as entity name -->
																<option th:value="poNo"
																	th:selected="${sortingkey=='poNo'}">PO Number</option>
																<option th:value="status"
																	th:selected="${sortingkey=='status'}">PO
																	Status</option>

																<option th:value="vendorName"
																	th:selected="${sortingkey=='vendorName'}">Vendor
																	Name</option>

																<option th:value="issuedOn"
																	th:selected="${sortingkey=='issuedOn'}">Issued
																	On</option>


														</select></td>
														<td><select onchange="tableLoad_invoice(1);"
															id="sortingorderI" th:value="${sortingorder}"
															class="form-control">
																<option th:value="ASC"
																	th:selected="${sortingorder=='ASC'}">ASC</option>
																<option th:value="DESC"
																	th:selected="${sortingorder=='DESC'}">DESC</option>
														</select></td>
													</tr>
												</table>
											</div>

										</div>


										<div class="box-body table-responsive no-padding">
											<table class="table table-hover" id="testtable">

												<tr>
													<th style="width: 10px" th:text="#{label.view}"></th>
													<th th:width="70px" th:text="#{label.serialId}"></th>
													<th th:text="#{label.poNum_caption}">PO Number</th>
													<th th:text="#{label.poStatus_caption}">PO Status</th>
													<th th:text="#{label.vendName_caption}">Vendor Name</th>
													<th th:text="#{label.issuedon_caption}">Issued On</th>
													<th style="width: 10px" th:text="#{label.close}"></th>
													<th style="width: 10px" th:text="#{label.invoice}"></th>


												</tr>

												<tr align="left">
													<td></td>
													<td><input class="form-control" type="text"
														disabled="true" /></td>

													<!-- <td align="right" colspan="4">Search</td> -->

													<td><input onblur="tableLoad_invoice(1);"
														id="poNumberI" class="form-control" th:value="*{poNo}"
														type="text" /></td>

													<td><input onblur="tableLoad_invoice(1);"
														id="poStatusI" class="form-control" th:value="*{status}"
														type="text" /></td>


													<td><input onblur="tableLoad_invoice(1);"
														id="vendNameI" class="form-control"
														th:value="*{vendorName}" type="text" /></td>

													<td><input onblur="tableLoad_invoice(1);"
														id="issuedonI" class="form-control" th:value="*{issuedOn}"
														type="text" /></td>

													<td></td>
													<td></td>




												</tr>


												<tbody th:if="${list != null}">
													<tr th:each="d, id : ${list}" id="index">
														<td><a
															th:href="@{/main/view_invoice/(poNo=${d.poNo})}"
															class="btn btn-sm btn-default"><i class="fa fa-eye"
																th:text="'  ' +#{label.view}"></i> </a></td>
														<td th:text="${id.index} + 1 + ${serialid}"></td>
														<td th:text="${d.poNo}"></td>
														<td th:text="${d.status}"></td>
														<td th:text="${d.vendorName}"></td>
														<td th:text="${d.issuedOn}"></td>
														<td><a id="close_a"
															th:href="@{/main/viewPOtoClose/{poNo}(poNo=${d.poNo})}"
															class="btn btn-sm btn-default"><i class="fa fa-times"
																th:text="'  ' +#{label.close}"></i> </a></td>

														<td><a id="invoice_a"
															th:href="@{/main/viewPOtoInvoice/(poNo=${d.poNo},(status = ${d.status}))}"
															class="btn btn-sm btn-default"><i class="fa fa-usd"
																th:text="'  ' +#{label.invoice}"></i> </a></td>


													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Invoice PO -->








				</div>
			</div>
		</div>
	</section>
</body>
</html>
