<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
    <title>PO List</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css">
    <link rel="stylesheet" href="http://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
    <link rel="stylesheet" th:href="@{/assets/dist/style.css}">
</head>
<body>
    <div class="container">
        <table id="table" data-toggle="table" data-search="" data-filter-control="true"  data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar" class="table-responsive" data-pagination="true" data-page-list="[5, 10, 25, 50, 100, ALL]" data-page-size="5">
        <thead>
            <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="prenom" data-filter-control="input" data-sortable="true">PO Number</th>
            <th data-field="date" data-filter-control="select" data-sortable="true">PO Status</th>
            <th data-field="examen" data-filter-control="select" data-sortable="true">Vendor Name</th>
            <th data-field="note" data-filter-control="select" data-sortable="true">Issued On</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
                <td>test</td>
                <td>Pendding</td>
                <td>John Doe</td>
                <td>01/09/2015</td>
            </tr>
            <tr>
                <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
                <td>test</td>
                <td>Pendding</td>
                <td>John Doe</td>
                <td>01/09/2015</td>
            </tr>
            <tr>
                <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
                <td>test</td>
                <td>Pendding</td>
                <td>John Doe</td>
                <td>01/09/2015</td>
            </tr>
            <tr>
                <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
                <td>test</td>
                <td>Pendding</td>
                <td>John Doe</td>
                <td>01/09/2015</td>
            </tr>
            <tr>
                <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
                <td>test</td>
                <td>Pendding</td>
                <td>John Doe</td>
                <td>01/09/2015</td>
            </tr>
            <tr>
                <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
                <td>test</td>
                <td>Pendding</td>
                <td>John Doe</td>
                <td>01/09/2015</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js"></script>
</body>
</html>