<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Vendor Credit Terms</title>
</head>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
	<script type="text/javascript" th:inline="javascript">
	
var code =[[${code}]];
	
	var url = window.location.pathname;
	var string = code;
	if(url.indexOf(string) !== -1) {
		
		$('.sidebar-menu').find('a[href*="' + string + '"]').addClass('active');
		$('a[href*="?"]')
	  
	}
	
	var vendorcodeVal;
	
	$(document).ready (function(){
		
		 $(":reset").click(function() {

			 $("#crt").selectpicker("refresh");
			
			 $('#vendorbranchlist').val("");
		  });
		
		
	
	});
	
	tableLoad(1); 
	function tableLoad(page) {
		var e = document.getElementById('pageSizeSelectTemp');
		var pagesize=5;
		if(e!=null)
		{
			pagesize = e.options[e.selectedIndex].value;
		}
		var temppage=1;
		if(page!=null)
		{
			temppage=page;
		}
		var sortingkey="lastModifiedOn";
		var sortingorder="DESC";
		
		var sortingkeytemp = document.getElementById('sortingkey');
		var sortingordertemp = document.getElementById('sortingorder');
		if(sortingkeytemp!=null)
		{
			sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
		}
		if(sortingordertemp!=null)
		{
			sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
		}
		
		var vendcode=document.getElementById('vendCode')!=null?document.getElementById('vendCode').value:"";
		var vendbranchcode=document.getElementById('vendbranchCode')!=null?document.getElementById('vendbranchCode').value:"";
		var crtCode=document.getElementById('crtCode')!=null?document.getElementById('crtCode').value:"";
		var companycodefilter=document.getElementById('companycodefilter')!=null?document.getElementById('companycodefilter').value:"";
		var st = document.getElementById('status');
		var status="";
		if(st!=null && st.selectedIndex>0)
		{
			
			status = st.options[st.selectedIndex].value; 
			
			
		}
		
	$.ajax({
	url : '/poMain/main/vendorcredittermsgrid',
	method : 'GET',
	
	/* same variable in entity : username,startDate,...*/
	data:{"pageSize":pagesize,"page":temppage,"vendorCode":vendcode,"vendorBranchCode":vendbranchcode,"creditTermsCode":crtCode,"companyCode":companycodefilter,"status":status,"sortingkey":sortingkey,"sortingorder":sortingorder},
	success : function(data, textStatus, jqXHR) {
		$('#result-table').replaceWith(data);
	}
});
	

}
	
	</script>
	
	
		<section class="content-header">
		<div class="breadcontainer">
				<ul class="breadcrumb">
					<li><a ><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li>Vendor Credit Terms</li>
				</ul>
			</div>
			<!-- <div align="right">
				<small>PO-POAD04L</small>
			</div> -->

			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}">Info</span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}">Error</span>
			</div>

		</section>
	</div>
	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Vendor Credit Terms Information</h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
				<div class="well">
			<form th:action="@{/main/createvendorcreditterms}" class="VendorCrtForm" th:object="${vcrobj}" method="post">
			
				<div class="row">
					<div class="col-md-3">
						<label th:text="#{label.vendCrt_vendcode_caption}"></label><span style="color: red">*</span>
					</div>
					<div class="col-md-5">
						<div class="form-group">
						<input placeholder="--Please Start typing--" required="true"
												th:field="*{vendorbranchcode}" class="form-control" type="text"
												autocomplete="off" id="vendorbranchlist" name="vendorbranchlist">
						</div>
					</div>
				</div>				

				<div class="row">
					<div class="col-md-3">
						<label th:text="#{label.vendCrt_crtcode_caption}"></label><span style="color: red">*</span>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<select data-show-subtext="true" data-live-search="true"
									class="form-control selectpicker" required="true" id="crt"
								th:field="*{credittermscode}">
								<option value="">Select</option>
								<option th:each="dr : ${creditlist}"
									th:value="${dr}" th:text="${dr}"></option>
								</select>
								
						
								<p id="validate" style="color:red;"></p>
						</div>
					</div>
					
					

				</div>
			
				<div class="row">
					<div class="col-md-3">
						<span></span>
					</div>
					<div class="col-md-4">
						<button type="submit" class="btn btn-primary" th:text="#{label.submit}"></button>
					
									
									<button
									onclick="$('.VendorCrtForm').bootstrapValidator('resetForm', true);"
									type="reset" class="btn btn-default" th:text="#{label.reset}"></button>
					</div>
				</div>
			</form>
		</div>
			
	
			<br/>
			
			
			
					<div class="well">
			  <div th:fragment="result-table" id="result-table">
				<div class="box box-table">
					<div class="box-header with-border">
						<div class="row" th:if="${list != null}">
							<div class="box-header with-border">
									<h3 class="box-title" th:text="#{label.vendCrt_caption}"></h3>
									<span><h5
											th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
								</div>
							</div>
			<div class="row" th:if="${list != null}">
				<div class="form-group col-md-1">
					<select class="form-control pagination" id="pageSizeSelectTemp" onchange="tableLoad(1);">
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>
					</select>
				</div>
				
				
				<div th:if="${list.totalPages != 0}"
					class="form-group col-md-6 pagination-centered">
					<ul class="pagination">
						<li th:class="${list.number == 0} ? disabled"><a
							class="pageLink" onclick="tableLoad(1);"
							>&laquo;</a>
						</li>
						<li th:class="${list.number == 0} ? disabled"><input
								type="hidden" id="t2" th:value="${list.number}" /> <a
											class="pageLink"
											onclick="tableLoad(document.getElementById('t2').value);"
											>&larr;</a>
						</li>
						<li
							th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink"
							onclick="tableLoad(this.text);" 
											th:text="${page}"></a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t4" th:value="${list.number + 2}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t4').value);"
											>&rarr;</a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t5" th:value="${list.totalPages}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t5').value);"
											>&raquo;</a>
						</li>
					</ul>
				</div>
				
				
					<div class="form-group col-md-5 pagination" align="right">
									<table>
										<tr>
											<td><label>Sort By</label></td>
											<td><select onchange="tableLoad(1);" id="sortingkey"
												th:value="${sortingkey}" class="form-control">
												<!-- th:value are same as entity name -->
													<option th:value="vendcrtId.vendorCode" th:selected="${sortingkey=='vendcrtId.vendorCode'}">Vendor Code</option>
													<option th:value="vendcrtId.vendorBranchCode" th:selected="${sortingkey=='vendcrtId.vendorBranchCode'}">Vendor Branch Code</option>
													<option th:value="vendcrtId.creditTermsCode"
														th:selected="${sortingkey=='vendcrtId.creditTermsCode'}">Credit Terms Code</option>
													<option th:value="isActive"
														th:selected="${sortingkey=='isActive'}">Status</option>
														
														<option th:value="vendcrtId.companyCode"
														th:selected="${sortingkey=='vendcrtId.companyCode'}">Company Code</option>
													
													<option th:value="lastModifiedOn" th:selected="${sortingkey=='lastModifiedOn'}">Last Modified On</option>
											</select></td>
											<td><select onchange="tableLoad(1);" id="sortingorder"
												th:value="${sortingorder}" class="form-control">
													<option th:value="ASC" th:selected="${sortingorder=='ASC'}">ASC</option>
													<option th:value="DESC"
														th:selected="${sortingorder=='DESC'}">DESC</option>
											</select></td>
										</tr>
									</table>
								</div>
				
			</div>
						
						
						
						
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<tr>
									<th th:width="70px" th:text="#{label.serialId}"></th>
									<th th:text="#{label.vcrCode_caption}"></th>
									<th th:text="#{label.vbCode_caption}"></th>
									<th th:text="#{label.crtCode_caption}"></th>
									<th th:text="#{label.cmpCode_caption}"></th>
									<th th:text="#{label.status}"></th>
									<th style="width: 10px" th:text="#{label.edit}"></th>
								</tr>
								
								<tr align="left">
									<!-- <td align="right" colspan="4">Search</td> -->
									
									<td><input
										 class="form-control" 
										type="text" disabled = "true"/></td>
										
									<td><input
										onblur="tableLoad(1);"
										id="vendCode" class="form-control" th:value="*{vendorCode}"
										type="text" /></td>
										
										<td><input
										onblur="tableLoad(1);"
										id="vendbranchCode" class="form-control" th:value="*{vendorBranchCode}"
										type="text" /></td>
									

									<td><input
										onblur="tableLoad(1);"
										id="crtCode" class="form-control" th:value="*{creditTermsCode}"
										type="text" /></td>
										
										<td><input
										onblur="tableLoad(1);"
										id="companycodefilter" class="form-control" th:value="*{companyCode}"
										type="text" /></td>

									<td><select
											onchange="tableLoad(1);"
											 th:value="${status}" required="true"
												class="form-control" name="status" id="status">
												 <!-- <option value="" disabled selected hidden>Please Select</option> -->
												<option th:value="All" th:selected="${status=='All'}">All</option>
												<option th:value="Active" th:selected="${status=='Active'}">Active</option>
												<option th:value="InActive" th:selected="${status=='InActive'}">InActive</option>
											</select>
											
											</td>
						

								</tr>
								
								
								<tbody th:if="${list != null}">
									<tr th:each="d, id : ${list}" >
									<td th:text="${id.index} + 1 + ${serialid}"></td>
									<td th:text="${d.vendcrtId.vendorCode}"></td>
									<td th:text="${d.vendcrtId.vendorBranchCode}"></td>
									<td th:text="${d.vendcrtId.creditTermsCode}" ></td>
									<td th:text="${d.vendcrtId.companyCode}"></td>
									<td th:text="${d.isActive()?'Active':'InActive'}"></td>
									
								<td><a th:href="@{/main/editvcrterms/(code=${d.vendcrtId.vendorCode},vendorBranchCode=${d.vendcrtId.vendorBranchCode}, creditterm=${d.vendcrtId.creditTermsCode})}"
										class="btn btn-sm btn-default"><i class="fa fa-edit" th:text="'  ' +#{label.edit}"></i>
											</a></td>
											
											
				
								</tr>							
							</tbody>
							</table>

						</div>
						<!-- /.box-body -->

					</div>
					<!-- /.box -->
				</div>
			</div>
			
			
				</div>
			</div>
	</section>
	<!-- /.content -->
</body>
</html>