<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Vendor Branch</title>
</head>

<body>
	<div layout:fragment="pageHeader" style="background: #b0b1b3">
		<script type="text/javascript" th:inline="javascript">
	
	var existCode = false;
	var code =[[${code}]];
	
	var url = window.location.pathname;
	var string = code;
	if(url.indexOf(string) !== -1) {
		
		$('.sidebar-menu').find('a[href*="' + string + '"]').addClass('active');
		$('a[href*="?"]')
	  
	}
		
	tableLoad(1); 
	function tableLoad(page) {
		var e = document.getElementById('pageSizeSelectTemp');
		var pagesize=5;
		if(e!=null)
		{
			pagesize = e.options[e.selectedIndex].value;
		}
		var temppage=1;
		if(page!=null)
		{
			temppage=page;
		}
		var sortingkey="lastModifiedOn";
		var sortingorder="DESC";
		
		var sortingkeytemp = document.getElementById('sortingkey');
		var sortingordertemp = document.getElementById('sortingorder');
		if(sortingkeytemp!=null)
		{
			sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
		}
		if(sortingordertemp!=null)
		{
			sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
		}
		
		var vendorcode=document.getElementById('vendorcodefilter')!=null?document.getElementById('vendorcodefilter').value:"";
		var name=document.getElementById('namefilter')!=null?document.getElementById('namefilter').value:"";
		var branchcode = document.getElementById('branchcodefilter')!=null?document.getElementById('branchcodefilter').value:"";
		
		var st = document.getElementById('status');  
		var status="";
		if(st!=null && st.selectedIndex>0)
		{
			
			status = st.options[st.selectedIndex].value; 
			
			
		}
		
		
	$.ajax({
	url : '/poMain/main/vendorbranchgrid',
	method : 'GET',
	
	/* same variable in entity : username,startDate,...*/
	data:{"pageSize":pagesize,"page":temppage,"code":vendorcode,"name":name,"branchCode":branchcode,"status":status,"sortingkey":sortingkey,"sortingorder":sortingorder},
	success : function(data, textStatus, jqXHR) {
		$('#result-table').replaceWith(data);
	}
});
	

}
	


	
	$(document).ready (function(){
		
		$( "#branchcode" ).change(function() {
			
			var vendorcode = document.getElementById("code").value;
			var vendorbranchcode = document.getElementById("branchcode").value;			
			
			$.ajax({
				type : "GET",
				url : "/poMain/vendorbranch/existingvendor?vendorcode="+vendorcode+"&vendorbranchcode="+vendorbranchcode,
				success : function(data) {
					console.log("SUCCESS: ", data);
					 $("#branchcode").empty();
					 if(data.vendorBranchId != null){
						 existCode = true;
						 document.getElementById("validate").style.display = "block";
						 document.getElementById('code').style.border ="1px solid red";
						 document.getElementById('branchcode').style.border ="1px solid red";
						 document.getElementById("validate").innerHTML = "This Vendor Code and Branch Code Already Exist";
						
						
						  $(":submit").attr("disabled", true);
						  
						  $("#code").on("input", function() {
							  document.getElementById('branchcode').value="";
							});
						 					 
					
					 }else{					
						 
						 document.getElementById('code').style.border ="";	
						 document.getElementById('branchcode').style.border ="";	
						 document.getElementById("validate").style.display = "none";
						 $(":submit").attr("disabled", false);
						
						    
					 }
					 		
					 
				},
				error : function(e) {
					console.log("ERROR: ", e);
				},
				done : function(e) {
					console.log("DONE");
				} 
			});
			
	});
		
		
	 $(":reset").click(function() {
		  
		 document.getElementById('code').style.border ="";	
		 document.getElementById('branchcode').style.border ="";	
		 document.getElementById("validate").style.display = "none";
		
			 $(":submit").attr("disabled", false);
	  });
	 		
	});
	
	
	</script>
		<section class="content-header">

			<div class="breadcontainer">
				<ul class="breadcrumb">
				<li><a ><i class="fa fa-home"></i></a></li>
					<li>Master File Management</li>
					<li>Vendor Branch</li>
				</ul>
			</div>
			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>
		</section>
	</div>

	<!-- Main content -->
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title"  th:text="#{label.vendorbranchInfo_caption}"></h3>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="well">
			
				<form role="form" th:action="@{/main/createvendorbranch}"
					class="VendorBranchForm" th:object="${vbranchobj}" method="post">
					<div class="row">
						<div class="col-md-2">
							<label>Vendor Code</label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" th:field="*{vendorCode}" required="true"
										id="code" maxlength="6" class="form-control" name="vendorCode"
									placeholder="Example: 001908" />
											<p id="validate" style="color:red;"></p>
									
							</div>
						</div>

						<div class="col-md-2">
							<label>Branch Code</label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input required="true" id="branchcode" th:field="*{vendorBranchCode}"
									type="text" maxlength="2" class="form-control"
									name="vendorBranchCode" placeholder="Example: 01" />
							</div>
						</div>
						</div>
						
						<div class="row">
						<div class="col-md-2">
							<label>Vendor Name</label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input required="true" th:field="*{vendorName}" type="text"
									maxlength="70" class="form-control" name="name"
									placeholder="Example: Jet Industrial Supplies Sdn. Bhd" />
							</div>
						</div>

						<div class="col-md-2">
							<label for="credittermscode">Last Credit Terms Used <span
								style="color: red;"></span></label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
							
							<input disabled="true" th:field="*{credittermscode}"
									type="text" maxlength="70" class="form-control"
									 />
									
								
							</div>
						</div>
						</div>


						<div class="row">
						<div class="col-md-2">
							<label>Branch Description</label><span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input required="true" th:field="*{branchDescription}"
									type="text" maxlength="70" class="form-control"
									name="branchDescription" placeholder="Maximum 70 Characters" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Address Line1</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" th:field="*{vendorAddressLine1}"
									class="form-control" name="vendorAddressLine1"
									placeholder="Maximum 70 Characters" />
							</div>
						</div>
						</div>
						
						<div class="row">
						<div class="col-md-2">
							<label>Address Line2</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" th:field="*{vendorAddressLine2}"
									class="form-control" name="vendorAddressLine2"
									placeholder="Maximum 70 Characters" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Address Line3</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" th:field="*{vendorAddressLine3}"
									class="form-control" name="vendorAddressLine3"
									placeholder="Maximum 70 Characters" />
							</div>
						</div>
						</div>
						
						<div class="row">
						<div class="col-md-2">
							<label>Post Area</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" th:field="*{postCodeArea}"
									class="form-control" maxlength="70" name="postCodeArea"
									placeholder="Example: KL Sentral" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Post Code</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" th:field="*{postCode}" class="form-control"
									maxlength="10" name="postCode" placeholder="Example : 57700" />
							</div>
						</div>
						</div>

						<div class="row">
						<div class="col-md-2">
							<label>Last Contact Person Name</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" th:field="*{lastContactPersonName}"
									maxlength="70" class="form-control"
									name="lastContactPersonName" readonly="true"
									placeholder="Maximum 70 Characters" />
							</div>
						</div>


						<div class="col-md-2">
							<label>Last Contact Person Number</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" th:field="*{lastContactPersonContactNumber}"
									maxlength="15" class="form-control"
									name="lastContactPersonContactNumber" readonly="true"
									placeholder="Maximum 15 Characters" />
							</div>
						</div>
						</div>
						

						<div class="row">
						<div class="col-md-2">
							<label>Last Contact Email Address</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" th:field="*{lastContactPersonEmailAddress}" readonly="true"
									maxlength="70" class="form-control"
									name="lastContactPersonEmailAddress"
									placeholder="Maximum 70 Characters" />
							</div>
						</div>

						<div class="col-md-2">
							<label>Last PO Currency</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" th:field="*{lastPOCurrency}" maxlength="8" readonly="true"
									class="form-control" name="lastPOCurrency"
									placeholder="Maximum 8 Characters" />
							</div>
						</div>
					</div>
					

						<div class="row">
							<div class="col-md-2">
								<span></span>
							</div>
							<div class="col-md-4">
								<button type="submit" class="btn btn-primary">Submit</button>
								<button
									onclick="$('.VendorBranchForm').bootstrapValidator('resetForm', true);"
									type="reset" class="btn btn-default" th:text="#{label.reset}"></button>
							</div>
						</div>

				</form>
			</div>
			<br />
			
			<div class="well">
				<div th:fragment="result-table" id="result-table">
					<div class="box box-table">
						<div class="box-header with-border">

							<div class="row" th:if="${list != null}">
								<div class="box-header with-border">
									<h3 class="box-title" th:text="#{label.vendBr_caption}"></h3>
									<span><h5
											th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
								</div>
							</div>

							<div class="row" th:if="${list != null}">
								<div class="form-group col-md-1">
									<select class="form-control pagination" id="pageSizeSelectTemp"
										onchange="tableLoad(1);">
										<option th:each="pageSize : ${pageSizes}"
											th:text="${pageSize}" th:value="${pageSize}"
											th:selected="${pageSize} == ${selectedPageSize}"></option>
									</select>
								</div>


								<div th:if="${list.totalPages != 0}"
									class="form-group col-md-6 pagination-centered">
									<ul class="pagination">
										<li th:class="${list.number == 0} ? disabled"><a
											class="pageLink" onclick="tableLoad(1);" >&laquo;</a>
										</li>
										<li th:class="${list.number == 0} ? disabled"><input
											type="hidden" id="t2" th:value="${list.number}" /> <a
											class="pageLink"
											onclick="tableLoad(document.getElementById('t2').value);"
											>&larr;</a></li>
										<li
											th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
											th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
											<a class="pageLink" onclick="tableLoad(this.text);" 
											th:text="${page}"></a>
										</li>
										<li
											th:class="${list.number + 1 == list.totalPages} ? disabled">
											<input type="hidden" id="t4" th:value="${list.number + 2}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t4').value);"
											>&rarr;</a>
										</li>
										<li
											th:class="${list.number + 1 == list.totalPages} ? disabled">
											<input type="hidden" id="t5" th:value="${list.totalPages}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t5').value);"
											>&raquo;</a>
										</li>
									</ul>
								</div>


								<div class="form-group col-md-5 pagination" align="right">
									<table>
										<tr>
											<td><label>Sort By</label></td>
											<td><select onchange="tableLoad(1);" id="sortingkey"
												th:value="${sortingkey}" class="form-control">
													<!-- th:value are same as entity name -->
													<option th:value="vendorBranchId.code" th:selected="${sortingkey=='vendorBranchId.code'}">Vendor Code</option>
													<option th:value="name" th:selected="${sortingkey=='name'}">Vendor Name</option>
													<option th:value="vendorBranchId.branchCode" th:selected="${sortingkey=='vendorBranchId.branchCode'}">Branch Code</option>
													<option th:value="isActive"
														th:selected="${sortingkey=='isActive'}">Status</option>

													<option th:value="lastModifiedOn"
														th:selected="${sortingkey=='lastModifiedOn'}">Last
														Modified On</option>
											</select></td>
											<td><select onchange="tableLoad(1);" id="sortingorder"
												th:value="${sortingorder}" class="form-control">
													<option th:value="ASC" th:selected="${sortingorder=='ASC'}">ASC</option>
													<option th:value="DESC"
														th:selected="${sortingorder=='DESC'}">DESC</option>
											</select></td>
										</tr>
									</table>
								</div>

							</div>


							<div class="box-body table-responsive no-padding">
								<table class="table table-hover">

									<tr>
										<th th:width="70px" th:text="#{label.serialId}"></th>									
										<th>Vendor Code</th>
										<th>Vendor Name</th>
										<th>Branch Code</th>
										<th>Status</th>
										<th style="width: 10px" th:text="'  ' +#{label.edit}"></th>
									</tr>

									<tr align="left">
									<td><input
										 class="form-control" 
										type="text" disabled = "true"/></td>
										<!-- <td align="right" colspan="4">Search</td> -->
										<td><input onblur="tableLoad(1);" id="vendorcodefilter"
											class="form-control" th:value="*{code}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="namefilter"
											class="form-control" th:value="*{name}" type="text" /></td>
											
										<td><input onblur="tableLoad(1);" id="branchcodefilter"
											class="form-control" th:value="*{branchCode}" type="text" /></td>

										<td><select onchange="tableLoad(1);" th:value="${status}"
											required="true" class="form-control" name="status"
											id="status">
												<!-- <option value="" disabled selected hidden>Please Select</option> -->
												<option th:value="All" th:selected="${status=='All'}">All</option>
												<option th:value="Active" th:selected="${status=='Active'}">Active</option>
												<option th:value="InActive"
													th:selected="${status=='InActive'}">InActive</option>
										</select></td>
										<td></td>

									</tr>
										<tbody th:if="${list != null}">
									<tr th:each="d, id : ${list}" >
									<td th:text="${id.index} + 1 + ${serialid}"></td>
										<td th:text="${d.vendorBranchId.code}"></td>
										<td th:text="${d.name}"></td>
										<td th:text="${d.vendorBranchId.branchCode}"></td>
										<td th:text="${d.isActive()?'Active':'InActive'}"></td>
										<td><a
												th:href="@{/main/editvendorbranch/(code=${d.vendorBranchId.code},(vendorBranchCode = ${d.vendorBranchId.branchCode}))}"
												class="btn btn-sm btn-default"><i class="fa fa-edit"
													th:text="'  ' + #{label.edit}"></i> </a></td>

										</tr>
									</tbody>
								</table>
							</div>
							<!-- /.box-body -->

						</div>
						<!-- /.box -->
					</div>
				</div>
			</div>
			


		</div>
	</section>
	<!-- /.content -->
</body>
</html>