<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Employee Information</title>

</head>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
	<script type="text/javascript">
	tableLoad(1); 
	function tableLoad(page) {
		var e = document.getElementById('pageSizeSelectTemp');
		var pagesize=5;
		if(e!=null)
		{
			pagesize = e.options[e.selectedIndex].value;
		}
		var temppage=1;
		if(page!=null)
		{
			temppage=page;
		}
		var sortingkey="psId";
		var sortingorder="DESC";
		
		var sortingkeytemp = document.getElementById('sortingkey');
		var sortingordertemp = document.getElementById('sortingorder');
		if(sortingkeytemp!=null)
		{
			sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
		}
		if(sortingordertemp!=null)
		{
			sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
		}
		
		var psId=document.getElementById('psId')!=null?document.getElementById('psId').value:"";
		var altId=document.getElementById('altId')!=null?document.getElementById('altId').value:"";

		var name=document.getElementById('name')!=null?document.getElementById('name').value:"";
		var posTitle=document.getElementById('posTitle')!=null?document.getElementById('posTitle').value:"";
		
		var email=document.getElementById('email')!=null?document.getElementById('email').value:"";
		
		var paygrp=document.getElementById('paygrp')!=null?document.getElementById('paygrp').value:"";
		
		var company_code=document.getElementById('company_code')!=null?document.getElementById('company_code').value:"";
		
		var profitCenter=document.getElementById('profitCenter')!=null?document.getElementById('profitCenter').value:"";
		
		
		
		var st = document.getElementById('status');
		var status="";
		if(st!=null && st.selectedIndex>0)
		{
			
			status = st.options[st.selectedIndex].value; 
			
			
		}
		
		
	$.ajax({
	url : '/employee/emplistgrid',
	method : 'GET',
	
	/* same variable in entity : username,startDate,...*/
	data:{"pageSize":pagesize,"page":temppage,"psId":psId,"altId":altId,"name":name,"posTitle":posTitle,"email":email,"paygrp":paygrp,"company":company_code,"profitCenter":profitCenter,"status":status,"sortingkey":sortingkey,"sortingorder":sortingorder},
	success : function(data, textStatus, jqXHR) {
		$('#result-table').replaceWith(data);
	}
});
	

}
	
	
	
	</script>
		<section class="content-header">
			<div class = "breadcontainer">
				<ul class="breadcrumb">
				<li><a th:href="@{/master/dashboard}"><i class="fa fa-home"></i></a></li>
					<li>Employee Management</li>
					<li>Employee</li>
				</ul>
			</div>
		</section>
	</div>
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.empInfo_caption}"></h3>
					</div>
				</div>
			</div>
						<div class="well">
			  <div th:fragment="result-table" id="result-table">
				<div class="box box-table">
					<div class="box-header with-border">
						<div class="row" th:if="${list != null}">
							<div class="box-header with-border">
									<h3 class="box-title" th:text="#{label.empList_caption}"></h3>
									<span><h5
											th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
								</div>
							</div>
			<div class="row" th:if="${list != null}">
				<div class="form-group col-md-1">
					<select class="form-control pagination" id="pageSizeSelectTemp" onchange="tableLoad(1);">
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>
					</select>
				</div>
				<div th:if="${list.totalPages != 0}"
					class="form-group col-md-6 pagination-centered">
					<ul class="pagination">
						<li th:class="${list.number == 0} ? disabled"><a
							class="pageLink" onclick="tableLoad(1);"
							>&laquo;</a>
						</li>
						<li th:class="${list.number == 0} ? disabled"><input
								type="hidden" id="t2" th:value="${list.number}" /> <a
											class="pageLink"
											onclick="tableLoad(document.getElementById('t2').value);"
											>&larr;</a>
						</li>
						<li
							th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink"
							onclick="tableLoad(this.text);" 
											th:text="${page}"></a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t4" th:value="${list.number + 2}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t4').value);"
											>&rarr;</a>
						</li>
						<li th:class="${list.number + 1 == list.totalPages} ? disabled">
							<input type="hidden" id="t5" th:value="${list.totalPages}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t5').value);"
											>&raquo;</a>
						</li>
					</ul>
				</div>
				<div class="form-group col-md-5 pagination" align="right">
									<table>
										<tr>
											<td><label>Sort By</label></td>
											<td><select onchange="tableLoad(1);" id="sortingkey"
												th:value="${sortingkey}" class="form-control">
												<!-- th:value are same as entity name -->
													<option th:value="psId" th:selected="${sortingkey=='psId'}">PSID</option>
													<option th:value="altId"
														th:selected="${sortingkey=='altId'}">Alt Id</option>
														<option th:value="posTitle"
														th:selected="${sortingkey=='posTitle'}">Position Title</option>
													<option th:value="isActive"
														th:selected="${sortingkey=='isActive'}">Status</option>
														<option th:value="name"
														th:selected="${sortingkey=='name'}">Name</option>
														
														<option th:value="email"
														th:selected="${sortingkey=='email'}">Email</option>
														
														<option th:value="paygrp"
														th:selected="${sortingkey=='paygrp'}">Paygrp</option>
														
														<option th:value="company"
														th:selected="${sortingkey=='company'}">Company</option>
														
														<option th:value="profitCenter"
														th:selected="${sortingkey=='profitCenter'}">Profit Center</option>
													
													
											</select></td>
											<td><select onchange="tableLoad(1);" id="sortingorder"
												th:value="${sortingorder}" class="form-control">
													<option th:value="ASC" th:selected="${sortingorder=='ASC'}">ASC</option>
													<option th:value="DESC"
														th:selected="${sortingorder=='DESC'}">DESC</option>
											</select></td>
										</tr>
									</table>
								</div>
				
			</div>
			
		
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
							
									<tr>
									<th th:width="70px" th:text="#{label.serialId}"></th>
									<th th:text="#{label.psId_caption}"></th>
									<th th:text="#{label.altId_caption}"></th>
									<th th:text="#{label.empName_caption}"></th>
									<th th:text="#{label.posTitle_caption}"></th>
									<th th:text="#{label.email}"></th>
									<th th:text="#{label.paygrp_caption}"></th>
									<th th:text="#{label.deptStat_caption}"  th:width="120px"></th>
									<th th:width="70px" th:text="#{label.compCodeHRIS_caption}"></th>
									<th th:text="#{label.pcCode_caption}"></th>
									<th>View</th>
								</tr>
								
								<tr align="left">
								
									<td><input
										 class="form-control" 
										type="text" disabled = "true"/></td>
										
									<!-- <td align="right" colspan="4">Search</td> -->
									
										<td><input
										onblur="tableLoad(1);"
										id="psId" class="form-control" th:value="*{psId}"
										type="text" /></td>
									
									<td><input
										onblur="tableLoad(1);"
										id="altId" class="form-control" th:value="*{altId}"
										type="text" /></td>

									<td><input
										onblur="tableLoad(1);"
										id="name" class="form-control" th:value="*{name}"
										type="text" /></td>

									<td><input
										onblur="tableLoad(1);"
										id="posTitle" class="form-control" th:value="*{posTitle}"
										type="text" /></td>

									<td><input
										onblur="tableLoad(1);"
										id="email" class="form-control" th:value="*{email}"
										type="text" /></td>

									<td><input
										onblur="tableLoad(1);"
										id="paygrp" class="form-control" th:value="*{paygrp}"
										type="text" /></td>

												<td><select
											onchange="tableLoad(1);"
											 th:value="${status}" required="true"
												class="form-control" name="status" id="status">
												 <!-- <option value="" disabled selected hidden>Please Select</option> -->
												<option th:value="All" th:selected="${status=='All'}">All</option>
												<option th:value="Active" th:selected="${status=='Active'}">Active</option>
												<option th:value="InActive" th:selected="${status=='InActive'}">InActive</option>
											</select>
											
											</td>

									<td><input
										onblur="tableLoad(1);"
										id="company_code" class="form-control" th:value="*{company}"
										type="text" /></td>
										
										

									<td><input
										onblur="tableLoad(1);"
										id="profitCenter" class="form-control" th:value="*{profitCenter}"
										type="text" /></td>

								</tr>

						
						<tbody th:if="${list != null}">
								<tr th:each="d, id : ${list}" >
									<td th:text="${id.index} + 1 + ${serialid}"></td>
									<td th:text="${d.psId}"></td>
									<td th:text="${d.altId}"></td>
									<td th:text="${d.name}"></td>
									<td th:text="${d.posTitle}"></td>
									<td th:text="${d.email}"></td>
									<td th:text="${d.paygrp}"></td>
									<td th:text="${d.isActive()?'Active':'InActive'}"></td>
									<td th:text="${d.company}"></td>
									<td th:text="${d.profitCenter}"></td>
									<td><a
										th:href="@{/employee/viewemployee/{psid}(psid=${d.psId})}"
										class="btn btn-sm btn-default"><i class="fa fa-eye"></i> View</a></td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
</body>
</html>