<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title th:text="#{label.empInfo_caption}"></title>
</head>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
			<script type="text/javascript">
	
var edit =[[${edit}]];
	
	if(edit === true){
	
		var path = window.location.pathname;
		path = path.replace(/\/$/, "");
		path = decodeURIComponent(path);
		var query = path.split('/');
		$('.sidebar-menu').find('a[href*="/employee/emplist"]').addClass('active');
	
	} 
	
	</script>
		<section class="content-header">
			<div class = "breadcontainer">
				<ul class="breadcrumb">
				<li><a th:href="@{/master/dashboard}"><i class="fa fa-home"></i></a></li>
					<li>Employee Management</li>
					<li><a th:href="@{/employee/emplist}">Employee</a></li>
						<li>View Employee</li>
				</ul>
			</div>
			<div align="right">
				<small th:text="#{label.empInfo_caption}"></small>
			</div>
		</section>
	</div>
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.empInfo_caption}"></h3>
					</div>
				</div>
			</div>
		<div class= "well">
			<form role="form" th:object="${empobj}">
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.psId_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{psId}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.altId_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{altId}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.empName_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{name}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.prefName_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{prefName}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.newIcNo_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{newIcNo}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.oldIcNo_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{oldIcNo}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.passportNo_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{passportNo}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.gender_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{gender}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.ethnic_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{ethnic}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.dob_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:value="${#dates.format(empobj.dob, date_format)}"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.foreignLocal_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{foreignLocal}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.foreignLocal_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{maritalStatus}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.phoneNo_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{phoneNo}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.ext_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{ext}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.email_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{email}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.hrStatus_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{hrStatus}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.payrollStatus_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{payrollStatus}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.posNo_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{posNo}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.psStatus_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{posTitle}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.deptCodeHRIS_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{codeHRIS}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.deptDescHRIS_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{descHRIS}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.jobcode_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{job}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.loc_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{loc}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.locDesc_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{locDesc}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.salaryPlan_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{salaryPlan}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.salaryGrade_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{salaryGrade}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.rptToPosNo_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{rptToPosNo}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.rptToEmpId_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{rptToEmpId}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.payrollComp_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{payrollComp}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.badgeNo_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{badgeNo}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.hireDt_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:value="${#dates.format(empobj.hireDate, date_format)}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.confirmDt_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:value="${#dates.format(empobj.confirmDate, date_format)}" />
						</div>
					</div>
				</div>
				 <div class="row">
					<div class="col-md-2">
						<label th:text="#{label.trfdt_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
							 th:value="${#dates.format(empobj.trfDate, date_format)}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.frmcompcode_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{fromCompCode}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.toCompany_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{toCompCode}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.frmloc_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{fromLoc}" />
						</div>
					</div>
				</div> 
				
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.expjobenddt_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
							th:value="${#dates.format(empobj.expJobEndDate, date_format)}"/>
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.empcat_caption}"></label>
					</div>
					 <div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{empCat}" />
						</div>
					</div> 
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.lstupddttm_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
							  th:value="${#dates.format(empobj.lastUpdateTime, date_format)}"/>
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.prcdttm_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
							  th:value="${#dates.format(empobj.prcTime, date_format)}"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.payrollgrp_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{paygrp}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.isActive_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:value= "${isactive}"/>
						</div>
						
					</div> 
				</div>
				
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.createdOn_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:value="${#dates.format(empobj.createdOn, date_format)}"/>
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.createdBy_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{createdBy}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.modifyOn_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
							 th:value="${#dates.format(empobj.lastModifiedOn, date_format)}"/>
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.modifyBy_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{lastModifiedBy}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.compCodeHRIS_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{company}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.pcCode_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{profitCenter}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.toprofitcenter_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{toProfitCentre}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.tocostchargecompany_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{toCostChargeCompany}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.fromprofitcenter_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{fromProfitCentre}" />
						</div>
					</div>
					<div class="col-md-2">
						<label th:text="#{label.fromcostchargecompany_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{fromCostChargeCompany}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.toloc_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{toLoc}" />
						</div>
					</div>
					<!-- <div class="col-md-2">
						<label th:text="#{label.Trfsnddate_caption}"></label>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" readonly="true"
								th:field="*{trfDate}" />
						</div>
					</div> -->
				</div>
				
				<div align="right">
				<a style="line-height: 2 !important;"
							th:href="@{/employee/emplist}"><i
							class="btn btn-primary" th:text="#{label.back}"></i></a>
			</div>
			</form>
		</div>
		</div>
	</section>
</body>
</html>