<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<style>
.file-preview-image {
    font: 0px Impact, Charcoal, sans-serif !important;
    color: #008000;
}


</style>
<title th:text="#{label.pomain}"></title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<link rel="stylesheet"
	th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/assets/dist/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/assets/dist/css/ionicons.min.css}" />
<link rel="stylesheet" th:href="@{/assets/dist/css/family.css}" />
<link rel="stylesheet" th:href="@{/assets/dist/css/AdminLTE.min.css}" />
<link rel="stylesheet"
	th:href="@{/assets/dist/css/bootstrap-select.min.css}" />
<link rel="stylesheet"
	th:href="@{/assets/dist/css/collapsable-sidebar-menu.css}" />
<link rel="stylesheet"
	th:href="@{/assets/dist/css/skins/skin-blue.min.css}" />
<link rel="stylesheet"
	th:href="@{/assets/dist/css/bootstrapValidator.min.css}" />
<link rel="stylesheet" th:href="@{/assets/dist/css/jquery-ui.css}">
<link rel="stylesheet" th:href="@{/assets/dist/css/fileinput.css}"
	media="all" type="text/css" />
<link rel="stylesheet" th:href="@{/assets/dist/css/sweetalert.css}"
	media="all" type="text/css" />
<link rel="stylesheet"
	th:href="@{/assets/dist/themes/explorer-fa/theme.css}" media="all"
	type="text/css" />

<script th:src="@{'/assets/plugins/jQuery/jQuery-2.1.4.min.js'}"
	type="text/javascript"></script>
<script th:src="@{'/assets/dist/js/sweetalert-dev.js'}"
	type="text/javascript"></script>
<script th:src="@{'/assets/dist/js/sweetalert.min.js'}"
	type="text/javascript"></script>
<script th:src="@{'/assets/dist/js/vertical-menu.js'}"
	type="text/javascript"></script>

<style type="text/css">
textarea {
	resize: none;
}

body {
	font-size: 10pt;
}

.pagination-centered {
	text-align: left;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}

.box.box-info {
	border-top-color: #be9868;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title
	{
	display: inline-block;
	font-size: 12pt;
	margin: 0;
	line-height: 1;
}

.sidebar-menu>li>a {
	padding: 3px 5px 3px 15px;
	display: block;
}

.skin-blue .main-header .logo {
	background-color: #000 !important;
	color: #fff;
	border-bottom: 0 solid transparent;
	color: #fff;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
	background-color: #545556;
}

.skin-blue .main-header .navbar {
	background-color: #545556;
}

table, th, td {
	border: 1px solid #f4f4f4;
	color: #333;
}

#admin {
	margin-right: 30px;
}

.pagination-centered {
	text-align: left;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}

.no-spin::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.content-wrapper {
	background-color: #e0e0e0;
}

.box {
	margin-bottom: 10px;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}

.box-title {
	font-weight: bold;
	font-size: 15px;
}

.box-table {border-radius = 2px;
	border: 2px solid #e6e6e6;
}

.btn-primary {
	background-color: black;
	border-color: black;
}

.btn-primary:hover {
	background-color: #be9868;
	border-color: #be9868;
}

label {
	font-weight: 600;
	color: #333;
}

.editicon {
	margin-left: 19px;
	margin-top: 10px;
}

.col-md-2 {
	margin-top: 6px;
}

.breadcontainer {
	margin-top: 60px;
	width: 35%;
}

ul.breadcrumb {
	list-style: none;
	background-color: #e0e0e0;
	border: 1px solid #ccc;
}

ul.breadcrumb li {
	display: inline;
	font-size: 13px;
}

ul.breadcrumb li+li:before {
	padding: 4px;
	color: black;
	content: "\00bb";
}

ul.breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}

ul.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}

.active, a.active {
	color: #be9868 !important;
}

.nav-link-in {
	color: #333;
}

.nav-link {
	background-color: #be9868;
}

.has-feedback .form-control-feedback {
	top: 0px;
	right: 5px;
}

.modal{

color: #333;
}
</style>

<script type="text/javascript">
	setInterval(function() {
		var date = new Date().toString();
		var d = date.slice(0, 25);
		document.getElementById("timedate").innerHTML = d;
	}, 1000);

	$(function() {
		var path = window.location.pathname;
		path = path.replace(/\/$/, "");
		path = decodeURIComponent(path);
		$('.sidebar-menu').find('a[href*="' + path + '"]').addClass('active');
		
	});
	
	
</script>

<script>
$(document).ready(function() {
	var tes=$("#test").val();
	
	if(tes==2){
	$('input,select,textarea').attr('readonly', 'readonly');
	//$('input,select,textarea').attr('required', false);
	//$('select').attr("disabled", true); 
	//$("select option").attr("disabled","disabled");
	//$('#contactPersonList').attr("disabled", false); 
	$("#polist").addClass("active");
	$("#overviews").addClass("active");
	
	
	}
	
	
});
</script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div sec:authorize="hasAuthority('ACTIVE')">

		<input type="hidden" value="1" id="test">
	</div>
	<div sec:authorize="hasAuthority('INACTIVE')">
		<input type="hidden" value="2" id="test">
	</div>
	
	<div class="wrapper">

		<!-- Main Header -->
		<header class="main-header">
			<!-- Logo -->
			<a href="#" class="logo"> <span class="logo-mini"><img
					height="40" width="50" th:src="@{/assets/dist/img/small-logo.png}"
					class="img-circle" alt="Parkson" /></span> <!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><img
					th:src="@{/assets/dist/img/logo.png}" alt="parkson" /></span>
			</a>
			
			
			
			<!-- Header Navbar -->
			<nav class="navbar navbar-fixed-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only" th:text="#{label.togNav}"></span>
				</a>
				<!-- Navbar Right Menu -->
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- User Account Menu -->
						<li class="dropdown user user-menu">
							<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> <!-- The user image in the navbar-->
								<img th:src="@{/assets/dist/img/user.png}" class="user-image"
								alt="User Image" /> <!-- hidden-xs hides the username on small devices so only the image appears. -->
								<span sec:authentication="name"></span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
								id="timedate"></span>
						</a>
							<ul class="dropdown-menu">
								<!-- The user image in the menu -->
								<li class="user-header"><img
									th:src="@{/assets/dist/img/user.png}" class="img-circle"
									alt="User Image" />
									<p>
									 <!-- <span id="admin" th:text="*{userid}"> </span> -->
										<span sec:authentication="name"></span>
									</p></li>
								<!-- Menu Footer-->
								<li class="user-footer">

									<!-- <div class="pull-left">
										 <a href="#" data-toggle="modal" data-target="#changePassword"
											class="btn btn-default btn-flat" onclick="resetformLoad();"
											th:text="#{label.change_password_header}"></a>
									</div> -->
									<div class="pull-right">
										<a href="logout" th:href="@{/logout}"
											class="btn btn-default btn-flat" th:text="#{label.signOut}"></a>
									</div>
								</li>
							</ul>
						</li>

					</ul>
				</div>
			</nav>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">
<!--  <sec:authorize access="hasRole('ROLE_POUSER') and hasAuthority('ACTIVE')" var="isAuthorizeAny"></sec:authorize>-->

			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">

				<div id="collapsable-sidebar-menu">
					<ul id="menu" class="sidebar-menu">

						<li></li>
						
						<li id="audit">
							<h3>
								<li style="margin-left: 10px;"><i class="fa fa-plus-square"><span
										style="margin-left: 25px;" th:text="#{label.AuditTrail_menu}"></span></i></li>
							</h3>
							<ul>
								<li><a id="logs" href="#" th:href="@{'/audit/logs'}"><i
										th:data-title="#{label.logTitle_menucaption}"
										class="fa fa-history"></i> <span
										th:text="#{label.logTitle_menucaption}"></span></a></li>
								<li><a id="audittraillist" href="#"
									th:href="@{'/audit/audittraillist'}"> <i
										th:data-title="#{label.AuditTrail_menu}" class="fa fa-wrench"></i>
										<span th:text="#{label.AuditTrail_menu}"></span></a></li>
							</ul>
						</li>

						<li id="overview" sec:authorize="hasRole('ROLE_POADMIN')">
							<h3>
								<li sec:authorize="hasRole('ROLE_POADMIN')"
									style="margin-left: 10px;"><i class="fa fa-th-list"><span
										style="margin-left: 25px;"
										th:text="#{label.header.masterfilemgmt}"></span></i></li>
							</h3>
							<ul>
							
							<li><a id="dashboard" href="#"
									th:href="@{'/main/dashboard'}"> <i
										class="fa fa-dashboard"></i> <span
										th:text="#{label.dashboard}"></span></a></li>

								<li><a id="advancesearch" href="#"
									th:href="@{'/main/advanced_search'}"> <i
										class="fa fa-search"></i> <span
										th:text="#{label.advancedsearchTitle}"></span></a></li>

								<li><a id="archiveadvancesearch" href="#"
									th:href="@{'/main/ArchiveAdvanceSearch'}"> <i
										class="fa fa-search"></i> <span
										th:text="#{label.archivesearchTitle}"></span></a></li>
								<li><a id="vendorbranch" href="#"
									th:href="@{'/main/vendorbranch'}"> <i
										class="fa fa-object-group"></i> <span
										th:text="#{label.vendBrTitle}"></span></a></li>

								<li><a id="creditterms" href="#"
									th:href="@{'/main/creditterms'}"><i
										class="fa fa-credit-card"></i> <span
										th:text="#{label.crtTitle}"></span></a></li>

								<li><a id="vendorcreditterms" href="#"
									th:href="@{'/main/vendorcreditterms'}"> <i
										class="fa fa-asterisk"></i> <span
										th:text="#{label.vendCrtTitle}"></span></a></li>

								<li><a id="project" href="#" th:href="@{'/main/project'}">
										<i class="fa fa-file-code-o"></i> <span
										th:text="#{label.projectTitle}"></span>
								</a></li>

								<li><a id="pclastpo" href="#"
									th:href="@{'/main/pclastponumber'}"> <i
										class="fa  fa-sort-numeric-desc"></i> <span
										th:text="#{label.pcLastTitle}"></span></a></li>
							</ul>
						</li>

						<li id="overviews" sec:authorize="hasRole('ROLE_POUSER')">
							<h3>
								<li sec:authorize="hasRole('ROLE_POUSER')"
									style="margin-left: 10px;"><i class="fa fa-circle"><span
										style="margin-left: 25px;" th:text="#{label.header.overview}"></span></i></li>
							</h3>
							<ul>
								<li><a id="dashboard" href="#"
									th:href="@{'/main/po_dashboard'}"><i class="fa fa-dashboard"></i>
										<span th:text="#{label.dashboard}"></span></a></li>

								<li><a id="polist" href="#" th:href="@{'/main/mypos'}"><i
										class="fa fa-list"></i> <span th:text="#{label.polist}"></span></a></li>

								<!-- <li><a id="poarchive" href="#"
									th:href="@{'/main/poarchive'}"><i class="fa fa-archive"></i>
										<span th:text="#{label.poarchive}"></span></a></li> -->
							</ul>
						</li>
						

						<li id="purchase" sec:authorize="hasRole('ROLE_POUSER') and hasAuthority('ACTIVE')">
							<h3>
								<li sec:authorize="hasRole('ROLE_POUSER') and hasAuthority('ACTIVE')"
									style="margin-left: 10px;"><i class="fa fa-plus-square"><span
										style="margin-left: 25px;" th:text="#{label.header.createpo}"></span></i></li>
							</h3>
							<ul>
								<li><a id="newpo" href="#"
									th:href="@{'/main/createpo_menu'}"><i
										class="fa fa-folder-open"></i> <span th:text="#{label.newpo}"></span></a></li>

								<li><a id="draftpo" href="#" th:href="@{'/main/draftpo'}"><i
										class="fa fa-pencil-square"></i> <span
										th:text="#{label.draftpo}"></span></a></li>

								<li><a id="redraftpo" href="#"
									th:href="@{'/main/redraftpo'}"><i class="fa fa-repeat"></i>
										<span th:text="#{label.redraftpo}"></span></a></li>
							</ul>
						</li>

						<li id="process" sec:authorize="hasRole('ROLE_POUSER') and hasAuthority('ACTIVE')">
							<h3>
								<li sec:authorize="hasRole('ROLE_POUSER') and hasAuthority('ACTIVE')"
									style="margin-left: 10px;"><i class="fa fa-shopping-cart"><span
										style="margin-left: 25px;" th:text="#{label.header.processpo}"></span></i></li>
							</h3>
							<ul>
								<li><a id="verifypo" href="#" th:href="@{'/main/verifypo'}"><i
										class="fa fa-check-square"></i> <span
										th:text="#{label.verifypo}"></span></a></li>

								<li><a id="authorizepo" href="#"
									th:href="@{'/main/authorizepo'}"><i class="fa fa-thumbs-up"></i>
										<span th:text="#{label.authorizepo}"></span></a></li>

								<li><a id="invoicepo" href="#"
									th:href="@{'/main/invoicepo'}"><i class="fa fa-usd"></i> <span
										th:text="#{label.invoicepo}"></span></a></li>

								<li><a id="invoicepo" href="#" th:href="@{'/main/closepo'}"><i
										class="glyphicon glyphicon-remove-circle"></i> <span
										th:text="#{label_closepo}"></span></a></li>
							</ul>
						</li>
					</ul>
				</div>

				<!-- /.sidebar-menu -->
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div layout:fragment="pageHeader">
				<section class="content-header"></section>
			</div>

			<!-- Main content -->
			<section class="content">
				<div layout:fragment="content"></div>
				<!-- 	<div layout:fragment="table"></div> 
			 <div th:replace="master/department_Table :: table"></div> -->
			</section>
			<!-- /.content -->


		</div>
	</div>



	<div id="dialog" title="Session Timeout Info" style="display: none">
		<p>Your session will be timeout within 10 seconds.</p>
	</div>
	<!-- ./wrapper -->

	<script th:src="@{'/assets/bootstrap/js/bootstrap.min.js'}"
		type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/bootstrapValidator.min.js'}"
		type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/app.min.js'}" type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/validation.js'}"
		type="text/javascript"></script>
	
	<script th:src="@{'/assets/dist/js/multiselect.js'}"
		type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/general.js'}" type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/searchscript.js'}"
		type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/fileinput.js'}"
		type="text/javascript"></script>
	<script th:src="@{'/assets/dist/themes/explorer-fa/theme.js'}"
		type="text/javascript"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
		type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/popper.min.js'}"
		type="text/javascript"></script>
	<script th:src="@{'/assets/dist/js/bootstrap-select.min.js'}"
		type="text/javascript"></script>
		
		<script th:src="@{'/assets/dist/js/bootstrap3-typeahead.js'}"
		type="text/javascript"></script>
	<!-- <script th:src="@{'/assets/dist/js/autocomplete.js'}" type="text/javascript"></script> -->

	<script type="text/javascript">
		$(document).ready(function() {
			changePageAndSize();
			window.setTimeout(function() {
				$(".alert").fadeTo(300, 0).slideUp(300, function() {
					$(this).remove();
				});
			}, 3000);
		});
		
		
		$('#vendorlist').typeahead({
			
			// data source
			source : function(query, result) {
				$.ajax({
					url : "/poMain/api/employeeautocomplete",
					method : "GET",
					dataType : "json",
					data : {
						query : query
					},
					success : function(data) {
						result($.map(data, function(item) {
							return item;
						}));
					}
				})
			},
			// how many items to display
			items : 20,

			// enable scrollbar
			scrollBar : false,

			// equalize the dropdown width
			alignWidth : true,

			// typeahead dropdown template
			menu : '<ul class="typeahead dropdown-menu"></ul>',
			item : '<li><a href="#"></a></li>',

			// The object property that is returned when an item is selected.
			valueField : 'id',

			// The object property to match the query against and highlight in the
			// results.
			displayField : 'name',

			// auto select
			autoSelect : true,

			afterSelect : function(item) {
				document.getElementById('vendorlist').value=item.id;
				populateVendorInfo();
			}
			
		});
		
		
		function populateVendorInfo(){
			 var vendorcode = document.getElementById("vendorlist").value;
				
				$.ajax({
					type : "GET",
					url : "/poMain/main/selectedvendor?vendorcode="+vendorcode,
					success : function(data) {
						console.log("SUCCESS: ", data);
						
						 if(data.vendcrtId != null){
						
							 lastcrt=data.vendcrtId.creditTermsCode;
								
								document.getElementById("lastcrt_used_hidden").value = lastcrt;
								document.getElementById("missed_lastcrt").innerHTML = "";

						 }
						
						else{
							
							document.getElementById("missed_lastcrt").innerHTML = "Selected Vendor Code does not have Credit Term! Please Select others.";
							// $("#vendor_submit").attr("disabled", true);
							 $('#POForm').data('bootstrapValidator').updateStatus('vendorCode', 'INVALID', null);
							
						}
					},
					error : function(e) {
						console.log("ERROR: ", e);
					},
					done : function(e) {
						console.log("DONE");
					}
				});
				
				$.ajax({
					type : "GET",
					url : "/poMain/main/populatevendInfo?vendorcode="+vendorcode,
					success : function(data) {
						console.log("SUCCESS: ", data);
						
						if(data!=null){
						
							
							document.getElementById("vendorAddressLine1").value = data.vendor_add1;
							document.getElementById("vendorAddressLine2").value = data.vendor_add2;
							document.getElementById("vendorAddressLine3").value = data.vendor_add3;
							document.getElementById("vendorPostCode").value = data.vendor_postcode
							document.getElementById("vendorPostArea").value = data.vendor_postarea;
							document.getElementById("vendorPersonInCharge").value = data.personincharge;
							document.getElementById("vendorPersonInChargePhone").value = data.person_contact;
							document.getElementById("vendorPersonInChargeEmail").value = data.person_email;
							
							$('#POForm').data('bootstrapValidator').updateStatus('vendorPersonInCharge', 'Valid', null);
							$('#POForm').data('bootstrapValidator').updateStatus('vendorPersonInChargePhone', 'Valid', null);
							$('#POForm').data('bootstrapValidator').updateStatus('vendorPersonInChargeEmail', 'Valid', null);
							
						}
					},
					error : function(e) {
						console.log("ERROR: ", e);
					},
					done : function(e) {
						console.log("DONE");
					}
				});
				
		}
		
		 $( "#vendor_back" ).click(function() {
				
				changeTab('tab1');
				
				$('#vendorlist').typeahead('destroy');
				$('#vendorlist').val('');
	
		 });
		
		
		$('#vendorbranchlist').typeahead({
			
			// data source
			source : function(query, result) {
				$.ajax({
					url : "/poMain/api/vendorbranchautocomplete",
					method : "GET",
					dataType : "json",
					data : {
						query : query
					},
					success : function(data) {
						result($.map(data, function(item) {
							return item;
						}));
					}
				})
			},
			// how many items to display
			items : 20,

			// enable scrollbar
			scrollBar : false,

			// equalize the dropdown width
			alignWidth : true,

			// typeahead dropdown template
			menu : '<ul class="typeahead dropdown-menu"></ul>',
			item : '<li><a href="#"></a></li>',

			// The object property that is returned when an item is selected.
			valueField : 'id',

			// The object property to match the query against and highlight in the
			// results.
			displayField : 'name',

			// auto select
			autoSelect : true,

			afterSelect : function(item) {
				document.getElementById('vendorbranchlist').value=item.id;
				
			}
			
		
		});
		
		
		
		function checkexist(){
			
			var vendorcode = document.getElementById("vendorbranchlist").value;
			var s = document.getElementById("crt").selectedIndex;
			var o = document.getElementsByTagName("option")[s].value;
			
			$.ajax({
				type : "GET",
				url : "/poMain/api/existingvendorcrt?vendorcode="+vendorcode+"&crt="+o,
				success : function(data) {
					console.log("SUCCESS: ", data);
					$("#vendorbranchlist").empty();
					 if(data!= null){
						 existCode = true;
						 document.getElementById("validate").style.display = "block";
						 document.getElementById('crt').style.border ="1px solid red";
						 document.getElementById('vendorbranchlist').style.border ="1px solid red";
						 document.getElementById("validate").innerHTML = "This Vendor Code and Branch Code Already Exist";
						 
						 $("#crt").change(function () {
							 checkexist();
						 });
						
						 
					/* 	 $("#vendorbranchlist").change(function () {
							 $('#crt').get(0).selectedIndex = 0;
							 document.getElementById('vendorbranchlist').style.border ="";	
							 document.getElementById('crt').style.border ="";	
							 document.getElementById("validate").style.display = "none";
							 $(":submit").attr("disabled", false);
						    }); */
						  $(":submit").attr("disabled", true);
					 }else{					
						 document.getElementById('vendorbranchlist').style.border ="";	
						 document.getElementById('crt').style.border ="";	
						 document.getElementById("validate").style.display = "none";
						 $(":submit").attr("disabled", false);
					 }
				},
				error : function(e) {
					console.log("ERROR: ", e);
				},
				done : function(e) {
					console.log("DONE");
				} 
			});
			
		}
		
	</script>

		<script type="text/javascript">	
		jQuery(document).ready(function($) {
				$('#pchead').multiselect({
					search : {
						left : '<input id="projectHead_left_search" onchange="projectHeadAutocomplete()" type="text" name="q" class="form-control" placeholder="Search..." />',
						right : '<input type="text" name="q" class="form-control" placeholder="Search..." />',
					},
					fireSearch : function(value) {
						return value.length > 0;
					}
				});
				$('#viewrights').multiselect({
					search : {
						left : '<input id="projectTeam_left_search" onchange="projectTeamAutocomplete()" type="text" name="q" class="form-control" placeholder="Search..." />',
						right : '<input type="text" name="q" class="form-control" placeholder="Search..." />',
					},
					fireSearch : function(value) {
						return value.length > 0;
					}
				});
				$('#pkhead').multiselect({
					search : {
						left : '<input id="profitcenter_left_search" onchange="profitCenterAutocomplete()" type="text" name="q" class="form-control" placeholder="Search..." />',
						right : '<input type="text" name="q" class="form-control" placeholder="Search..." />',
					},
					fireSearch : function(value) {
						return value.length > 0;
					}
				});
				$("#collapsable-sidebar-menu h3").click(function(){
					$("#collapsable-sidebar-menu ul ul").slideUp();
					if(!$(this).next().is(":visible")) {
						$(this).next().slideDown();
					}
				})
				
		        $(".sidebar-menu li ul li a").click(function () {
		            var id = $(this).attr("id");
		            $('#' + id).siblings().find(".active").removeClass("active");
		            $('#' + id).addClass("active");
		            localStorage.setItem("selectedolditem", id);
		        });
	
		        var selectedolditem = localStorage.getItem('selectedolditem');
		        if (selectedolditem != null) {
		            $('#' + selectedolditem).siblings().find(".active").removeClass("active");
		            $('#' + selectedolditem).parents('li').addClass("active");
		        }
		});
	</script>

	<script type="text/javascript">
		function loadDialog() {
			var element = document.getElementById("dialog");
			element.innerHTML = "<div class='caption' style='display:none' >Session is about to expire!</div>"
					+ "<div class='textinput' style='display:none'>Please save your work or your data will be lost. Click OK to continue. "
					+ "<input type='text' name='value' value='closeSession' style='display:none'/> "
					+ "<input type='button' id='button' value='OK' style='visibility:hidden'/>"
					+ "</div>";
			var t;
			window.onmousemove = resetTimer;
			window.onmousedown = resetTimer;
			window.onclick = resetTimer;
			window.onscroll = resetTimer;
			window.onkeypress = resetTimer;

			function closeSession() {
				window.location.href = 'poMain/login';
			}

			function logout() {
				clearTimeout(t);
				t = setTimeout(closeSession, 120000);
				var timer = 120, // timer in seconds
				isTimerStarted = false;

				(function customSwal() {
					swal(
							{
								title : "Session is about to expire in "
										+ timer + " seconds",
								text : "Please save your work or your data will be lost. Click OK to continue. ",
								timer : !isTimerStarted ? timer * 1000
										: undefined,
								type : 'warning',
								showCancelButton : true,
								confirmButtonColor : '#3085d6',
								cancelButtonColor : '#d33',
								confirmButtonText : 'Yes, close it!',
								cancelButtonText : 'OK',
								closeOnConfirm : false,
								closeOnCancel : true
							}, function(isConfirm) {
								if (!isConfirm) {
									timer = 0;
									clearTimeout(b);
								} else {
									window.location.href = 'poMain/login';
								}
							});

					isTimerStarted = true;
					if (timer != 0) {
						timer--;
						b = setTimeout(customSwal, 1000);
					} else {
						window.location.href = 'poMain/login';
						swal.close();
					}
				})();
			}

			function reload() {
				window.location = self.location.href;
			}

			function resetTimer() {
				clearTimeout(t);
				t = setTimeout(logout, 420000);
			}

			// Getter and setter for the value property
			this.getValue = function() {
				return element.getElementsByTagName("input")[0].value;
			};
			this.setValue = function(value) {
				element.getElementsByTagName("input")[0].value = value;
			};
			// Default implementation of the click handler
			this.click = function() {
				window.location.href = 'poMain/login';
			};
			// Set up button click
			var button = element.getElementsByTagName("input")[1];
			var self = this; // Can't use this inside the function
			button.onclick = function() {
				self.click();
			};
		};
		loadDialog();
		
	</script>
</body>
</html>
