<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/loginlayout">
<head>
<title th:text="#{label.forgot_password_header}"></title>
</head>
<body>
	<section class="content">
		<div layout:fragment="content">
			<div class="login-box">
				<div class="login-box-body">
					<p class="login-box-msg" th:text="#{label.forgot_password_header}"></p>
					<form action="forgotPwd" th:action="@{/forgotPwd}" method="post">
						<div class="form-group has-feedback">
							<input required="true" type="email" class="form-control"
								name="email" placeholder="Email" /> <span
								class="glyphicon glyphicon-envelope form-control-feedback"></span>
						</div>
						
						<div class="form-group has-feedback">
							<input required="true" type="psid" class="form-control"
								name="psid" placeholder="Username" /> <span
								class="glyphicon glyphicon-user form-control-feedback"></span>
						</div>

						<div class="row">
							<div class="form-group col-xs-offset-8 col-xs-4">
								<button type="submit" class="btn btn-primary btn-block btn-flat"
									th:text="#{label.sendmail}"></button>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div th:if="${msg!=null}"
									class="alert alert-danger alert-dismissable">
									<p>
										<i class="icon fa fa-ban"></i> <span th:text="${msg}"></span>
									</p>
								</div>
							</div>
						</div>
					</form>

					<a href="login" th:href="@{'/login'}" th:text="#{label.login}"></a><br />

				</div>
			</div>
		</div>
	</section>
</body>
</html>