<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title th:text="#{label.reset_password_header}"></title>
</head>
<body>

	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.reset_password_header}"></h3>
					</div>
				</div>
			</div>
			<form role="form" th:action="@{/resetPwd}" class="resetpwdform"
				th:object="${pwdobj}" method="post">
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.password}"></label><span style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input required="true" type="password" class="form-control"
								th:field="*{password}" name="password" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{label.confirmPassword_caption}"></label><span style="color: red">*</span>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input required="true" type="password" class="form-control"
								th:field="*{confirmpassword}" name="confirmpassword" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<span></span>
					</div>
					<div class="col-md-4">
						<button type="submit" class="btn btn-primary" th:text="#{label.reset_password_header}"></button>
					</div>
				</div>
			</form>
		</div>
	</section>
	<div id="changePassword" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:text="#{label.reset_password_header}"></h4>
				</div>
				<div class="modal-body">
					<form role="form" th:action="@{/resetPwd}"
						class="resetpwdform" method="post">
						<div class="row">
							<div class="col-md-4">
								<label th:text="#{label.password}"></label><span style="color: red">*</span>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input required="true" type="password" class="form-control"
										name="password" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label th:text="#{label.confirmPassword_caption}"></label><span style="color: red">*</span>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input required="true" type="password" class="form-control"
										name="confirmpassword" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<button type="submit" class="btn btn-primary" th:text="#{label.reset_password_header}"></button>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</body>
</html>
