<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorate="layout/layout">

<head>
<title th:text="#{error.accessDenied}"></title>
</head>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
		<section class="content-header">
			<h3>
				<i class="fa fa-warning text-red"></i> You are not allowed to view
				this content.
			</h3>
		</section>
	</div>
	<div layout:fragment="content">

		<div>

			<p>
				${error.backToDashboardPage} <a th:href="@{/dashboard}" th:text="#{error.dashboard}"></a>
			</p>

		</div>

	</div>

</body>

</html>