<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title th:text="#{label.auditTitle_caption}"></title>
</head>
<body>
	<div layout:fragment="pageHeader" style="background:#b0b1b3">
		<script type="text/javascript" th:inline="javascript">
		tableLoad(1); 
		function tableLoad(page) {
			var e = document.getElementById('pageSizeSelectTemp');
			var pagesize=5;
			if(e!=null)
			{
				pagesize = e.options[e.selectedIndex].value;
			}
			var temppage=1;
			if(page!=null)
			{
				temppage=page;
			}
			var sortingkey="id";
			var sortingorder="DESC";
			
			var sortingkeytemp = document.getElementById('sortingkey');
			var sortingordertemp = document.getElementById('sortingorder');
			if(sortingkeytemp!=null)
			{
				sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
			}
			if(sortingordertemp!=null)
			{
				sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
			}
			
			var username=document.getElementById('username')!=null?document.getElementById('username').value:"";
			var auditId=document.getElementById('auditId')!=null?document.getElementById('auditId').value:"";
			var operation=document.getElementById('operation')!=null?document.getElementById('operation').value:"";
			var message=document.getElementById('message')!=null?document.getElementById('message').value:"";
			var createdon=document.getElementById('createdon')!=null?document.getElementById('createdon').value:"";
		$.ajax({
		url : '/audit/audittraillistgrid',
		method : 'GET',
		data:{"pageSize":pagesize,"page":temppage,"username":username,"auditId":auditId,"operation":operation,"message":message,"createdon":createdon,"sortingkey":sortingkey,"sortingorder":sortingorder},
		success : function(data, textStatus, jqXHR) {
			$('#result-table').replaceWith(data);
		}
	});
		

}
		</script>
		<section class="content-header">
		
			<div class = "breadcontainer">
				<ul class="breadcrumb">
					<li><a th:href="@{/master/dashboard}"><i class="fa fa-home"></i></a></li>
					<li>Audit Trail</li>
					<li>Audit Trail</li>
				</ul>
			</div>
		</section>
	</div>
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.auditTitle_caption}"></h3>

					</div>
				</div>
			</div>
			<div class="well">
				<div th:fragment="result-table" id="result-table">
					<div class="box box-table">
						<div class="box-header with-border">
							<div class="row" th:if="${list != null}">
								<div class="box-header with-border">
									<h3 class="box-title" th:text="#{label.auditList_caption}"></h3>
									<span><h5
											th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
								</div>
							</div>
							<div class="row" th:if="${list != null}">
								<div class="form-group col-md-1">
									<select class="form-control pagination" id="pageSizeSelectTemp"
										onchange="tableLoad(1);">
										<option th:each="pageSize : ${pageSizes}"
											th:text="${pageSize}" th:value="${pageSize}"
											th:selected="${pageSize} == ${selectedPageSize}"></option>
									</select>
								</div>
								<div th:if="${list.totalPages != 0}"
									class="form-group col-md-6 pagination-centered">
									<ul class="pagination">
										<li th:class="${list.number == 0} ? disabled"><a
											class="pageLink" onclick="tableLoad(1);" >&laquo;</a></li>


										<li th:class="${list.number == 0} ? disabled"><input
											type="hidden" id="t2" th:value="${list.number}" /> <a
											class="pageLink"
											onclick="tableLoad(document.getElementById('t2').value);"
											>&larr;</a>
										</li>


										<li
											th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
											th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
											<a class="pageLink" onclick="tableLoad(this.text);" 
											th:text="${page}"></a>
										</li>
										<li
											th:class="${list.number + 1 == list.totalPages} ? disabled">
											<input type="hidden" id="t4" th:value="${list.number + 2}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t4').value);"
											>&rarr;</a>
										</li>
										<li
											th:class="${list.number + 1 == list.totalPages} ? disabled">
											<input type="hidden" id="t5" th:value="${list.totalPages}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t5').value);"
											>&raquo;</a>
										</li>
									</ul>
								</div>
								<div class="form-group col-md-5 pagination" align="right">
									<table>
										<tr>
											<td><label>Sorty By</label></td>
											<td><select onchange="tableLoad(1);" id="sortingkey"
												th:value="${sortingkey}" class="form-control">
													<option th:value="id" th:selected="${sortingkey=='id'}">ID</option>
													<option th:value="username"
														th:selected="${sortingkey=='username'}">Username</option>
													<option th:value="operation"
														th:selected="${sortingkey=='operation'}">Operation</option>
													<option th:value="message"
														th:selected="${sortingkey=='message'}">Message</option>
													<option th:value="createdOn"
														th:selected="${sortingkey=='createdOn'}">CreatedOn</option>
											</select></td>
											<td><select onchange="tableLoad(1);" id="sortingorder"
												th:value="${sortingorder}" class="form-control">
													<option th:value="ASC" th:selected="${sortingorder=='ASC'}">ASC</option>
													<option th:value="DESC"
														th:selected="${sortingorder=='DESC'}">DESC</option>
											</select></td>
										</tr>
									</table>
								</div>
							</div>
							<div class="box-body table-responsive no-padding">
								<table class="table table-hover">
									<thead>
										<tr>
											<th th:width="70px" th:text="#{label.serialId}"></th>
											<th th:text="#{label.auditId_caption}"></th>
											<th th:text="#{label.username_caption}"></th>
											<th th:text="#{label.operation_caption}"></th>
											<th th:text="#{label.message_caption}"></th>
											<th th:text="#{label.createdOn_caption}"></th>
										</tr>
									</thead>
									<tr align="left">
										<td><input
										 class="form-control" 
										type="text" disabled = "true"/></td>
										
										<td><input onblur="tableLoad(1);" id="auditId"
											class="form-control" th:value="*{auditId}" type="numbers" /></td>

										<td><input onblur="tableLoad(1);" id="username"
											class="form-control" th:value="*{username}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="operation"
											class="form-control" th:value="*{operation}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="message"
											class="form-control" th:value="*{message}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="createdon"
											class="form-control" th:value="*{createdon}" type="text" /></td>
									</tr>
									<tbody th:if="${list != null}">
										<tr th:each="d , id: ${list}">
											<td th:text="${id.index} + 1 + ${serialid}"></td>
											<td th:text="${d.id}"></td>
											<td th:text="${d.username}"></td>
											<td th:text="${d.operation}"></td>
											<td th:text="${d.message}"></td>
											<td
												th:text="${#dates.format(d.createdOn, 'dd-MMM-yyyy HH:mm:ss')}"></td>
										</tr>
									</tbody>
								</table>
							</div>
					<!-- /.box-body -->

						</div>

					<!-- /.box -->
					
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>