<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title th:text="#{label.logTitle_caption}"></title>
</head>
<body>
	<div layout:fragment="pageHeader" style="background: #b0b1b3">
		<script type="text/javascript" th:inline="javascript">
			tableLoad(1);
			function tableLoad(page) {
				var e = document.getElementById('pageSizeSelectTemp');
				var pagesize = 5;
				if (e != null) {
					pagesize = e.options[e.selectedIndex].value;
				}
				var temppage = 1;
				if (page != null) {
					temppage = page;
				}
				var sortingkey = "id";
				var sortingorder = "DESC";

				var sortingkeytemp = document.getElementById('sortingkey');
				var sortingordertemp = document.getElementById('sortingorder');
				if (sortingkeytemp != null) {
					sortingkey = sortingkeytemp.options[sortingkeytemp.selectedIndex].value;
				}
				if (sortingordertemp != null) {
					sortingorder = sortingordertemp.options[sortingordertemp.selectedIndex].value;
				}

				var classFileName = document.getElementById('classFileName') != null ? document
						.getElementById('classFileName').value
						: "";
				var lineNo = document.getElementById('lineNo') != null ? document
						.getElementById('lineNo').value
						: "";
				var id = document.getElementById('id') != null ? document
						.getElementById('id').value : "";
				var level = document.getElementById('level') != null ? document
						.getElementById('level').value : "";

				var message = document.getElementById('message') != null ? document
						.getElementById('message').value
						: "";
				var screenId = document.getElementById('screenId') != null ? document
						.getElementById('screenId').value
						: "";

				var logTime = document.getElementById('logTime') != null ? document
						.getElementById('logTime').value
						: "";

				$.ajax({
					url : '/audit/loggrid',
					method : 'GET',
					data : {
						"pageSize" : pagesize,
						"page" : temppage,
						"classFileName" : classFileName,
						"lineNo" : lineNo,
						"id" : id,
						"level" : level,
						"message" : message,
						"screenId" : screenId,
						"time" : logTime,
						"sortingkey" : sortingkey,
						"sortingorder" : sortingorder
					},
					success : function(data, textStatus, jqXHR) {
						$('#result-table').replaceWith(data);
					}
				});

			}
		</script>
		<section class="content-header">

			<div class="breadcontainer">
				<ul class="breadcrumb">
					<li><a th:href="@{/master/dashboard}"><i class="fa fa-home"></i></a></li>
					<li>Audit Trail</li>
					<li>Logs</li>
				</ul>
			</div>

			<div th:if="${info}"
				class="alert alert-info alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${info}"></span>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span th:text="${error}"></span>
			</div>

		</section>
	</div>
	<section class="content">
		<div layout:fragment="content">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="#{label.logTitle_caption}"></h3>

					</div>


				</div>
			</div>
			<div class="well">
				<form role="form" th:action="@{/audit/updatesetting}"
					th:object="${auditobj}" method="post">
					<div class="row">
						<div class="col-md-2">
							<label th:text="#{label.logSetting_caption}"></label>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<select th:field="*{logSetting}" required="true"
									class="form-control" name="setting">
									<option th:value="1">1-DEBUG</option>
									<option th:value="2">2-WARNING</option>
									<option th:value="3">3-ERROR</option>
									<option th:value="4">4-CRITICAL</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<button type="submit" class="btn btn-primary">Select</button>
						</div>
					</div>
				</form>
			</div>


			<div class="well">
				<div th:fragment="result-table" id="result-table">
					<div class="box box-table">
						<div class="box-header with-border">
							<div class="row" th:if="${list != null}">
								<div class="box-header with-border">
									<h3 class="box-title" th:text="#{label.logList_caption}"></h3>
									<span><h5
											th:text="#{label.totalRecords} + ${totalRecords}"></h5></span>
								</div>
							</div>

							<div class="row" th:if="${list != null}">
								<div class="form-group col-md-1">
									<select class="form-control pagination" id="pageSizeSelectTemp"
										onchange="tableLoad(1);">
										<option th:each="pageSize : ${pageSizes}"
											th:text="${pageSize}" th:value="${pageSize}"
											th:selected="${pageSize} == ${selectedPageSize}"></option>
									</select>
								</div>
								<div th:if="${list.totalPages != 0}"
									class="form-group col-md-6 pagination-centered">
									<ul class="pagination">
										<li th:class="${list.number == 0} ? disabled"><a
											class="pageLink" onclick="tableLoad(1);">&laquo;</a></li>


										<li th:class="${list.number == 0} ? disabled"><input
											type="hidden" id="t2" th:value="${list.number}" /> <a
											class="pageLink"
											onclick="tableLoad(document.getElementById('t2').value);"
											>&larr;</a></li>


										<li
											th:class="${list.number == (page - 1)} ? 'active pointer-disabled'"
											th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
											<a class="pageLink" onclick="tableLoad(this.text);" 
											th:text="${page}"></a>
										</li>
										<li
											th:class="${list.number + 1 == list.totalPages} ? disabled">
											<input type="hidden" id="t4" th:value="${list.number + 2}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t4').value);"
											>&rarr;</a>
										</li>
										<li
											th:class="${list.number + 1 == list.totalPages} ? disabled">
											<input type="hidden" id="t5" th:value="${list.totalPages}" />
											<a class="pageLink"
											onclick="tableLoad(document.getElementById('t5').value);"
											>&raquo;</a>
										</li>
									</ul>
								</div>


								<div class="form-group col-md-5 pagination" align="right">
									<table>
										<tr>
											<td><label>Sort By</label></td>
											<td><select onchange="tableLoad(1);" id="sortingkey"
												th:value="${sortingkey}" class="form-control">
													<option th:value="id" th:selected="${sortingkey=='id'}">ID</option>
													<option th:value="message"
														th:selected="${sortingkey=='message'}">Message</option>
													<option th:value="classFileName"
														th:selected="${sortingkey=='classFileName'}">Class
														File Name</option>
													<option th:value="lineNo"
														th:selected="${sortingkey=='lineNo'}">Line No</option>
													<option th:value="level"
														th:selected="${sortingkey=='level'}">Level</option>
													<option th:value="screenId"
														th:selected="${sortingkey=='screenId'}">Screen Id</option>

													<option th:value="time" th:selected="${sortingkey=='time'}">Log
														Time</option>
											</select></td>
											<td><select onchange="tableLoad(1);" id="sortingorder"
												th:value="${sortingorder}" class="form-control">
													<option th:value="ASC" th:selected="${sortingorder=='ASC'}">ASC</option>
													<option th:value="DESC"
														th:selected="${sortingorder=='DESC'}">DESC</option>
											</select></td>
										</tr>
									</table>
								</div>

							</div>


							<div class="box-body table-responsive no-padding">
								<table class="table table-hover">


									<tr>
										<th th:width="70px" th:text="#{label.serialId}"></th>
										<th th:text="#{label.logId_caption}"></th>
										<th th:text="#{label.classFileName_caption}"></th>
										<th th:text="#{label.lineNo_caption}"></th>

										<th th:text="#{label.logLevel_caption}"></th>
										<th th:text="#{label.logMessage_caption}"></th>
										<th th:text="#{label.logTime_caption}"></th>
										<th th:text="#{label.screenId_caption}"></th>
									</tr>

									<tr align="left">

										<td><input class="form-control" type="text"
											disabled="true" /></td>

										<td><input onblur="tableLoad(1);" id="id"
											class="form-control" th:value="*{id}" type="numbers" /></td>

										<td><input onblur="tableLoad(1);" id="classFileName"
											class="form-control" th:value="*{classFileName}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="lineNo"
											class="form-control" th:value="*{lineNo}" type="text" /></td>



										<td><input onblur="tableLoad(1);" id="level"
											class="form-control" th:value="*{level}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="message"
											class="form-control" th:value="*{message}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="logTime"
											class="form-control" th:value="*{logTime}" type="text" /></td>

										<td><input onblur="tableLoad(1);" id="screenId"
											class="form-control" th:value="*{screenId}" type="text" /></td>

									</tr>

									<tbody th:if="${list != null}">
										<tr th:each="d, id: ${list}">
											<td th:text="${id.index} + 1 + ${serialid}"></td>
											<td th:text="${d.id}"></td>
											<td th:text="${d.classFileName}"></td>
											<td th:text="${d.lineNo}"></td>

											<td th:text="${d.level}"></td>
											<td th:text="${d.message}"></td>
											<td th:text="${#dates.format(d.time, date_format)}"></td>
											<td th:text="${d.screenId}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--content  -->
		</div>
	</section>
</body>
</html>