<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Customized Error Page</title>
<style>
table td {
	vertical-align: top;
	border: solid 1px #888;
	padding: 10px;
}
</style>
</head>
<body>
	<div layout:fragment="pageHeader" style="background: #b0b1b3">
		<section class="content-header">
			<br />
			<br />
			<div>
				<h4 style="font-weight: bold; color: red;">Oops, something went
					wrong.</h4>
				<h6>
					<i class="fa fa-warning text-red"></i> Error
				</h6>
			</div>
		</section>
	</div>
	<section class="content">
		<div layout:fragment="content">
			<table>
				<tr>
					<td>Date</td>
					<td th:text="${timestamp}" />
				</tr>
				<tr>
					<td>Path</td>
					<td th:text="${path}" />
				</tr>
				<tr>
					<td>Error</td>
					<td th:text="${error}" />
				</tr>
				<tr>
					<td>Status</td>
					<td th:text="${status}" />
				</tr>
				<tr>
					<td>Message</td>
					<td th:text="${message}" />
				</tr>
				<tr>
					<td>Exception</td>
					<td th:text="${exception}" />
				</tr>
				<tr>
					<td>Trace</td>
					<td><pre th:text="${trace}" /></td>
				</tr>
			</table>
			<div>
				<p>
					<a style="line-height: 2 !important;" th:href="@{/master/dashboard}"><i
						class="btn btn-default" th:text="#{error.dashboard}"></i></a>
				</p>
			</div>
		</div>
	</section>
</body>
</html>